<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css" rel="stylesheet" type="text/css" />
	 
	
	<script type="text/javascript" src="TEMPLATES/js/JQ.js"></script>
	<!-- <script type="text/javascript" src="TEMPLATES/js/funct.js"></script> -->
	<!-- <script type="text/javascript" src="TEMPLATES/js/lazyload.js"></script> -->
	<title>Cambio Password avvenuto con successo</title>	
</head>

<body style="background-color:black; overflow:hidden; height:385px; padding:-5px;">

<p style="font-size:18px; font-weight:bold; text-align:center;">MODIFICA DELLA PASSWORD AVVENUTA CON SUCCESSO</p>
<p style="font-size:14px; text-align:justify;">La tua password &egrave; stata modificata. Dal prossimo login ti invitiamo pertanto ad usare quella. Una Email di conferma &egrave; stata inviata al tuo indirizzo di posta elettronica. <br /><br />Star Trek Federation - Command Crew -</p>

</body>
</html>