<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css" rel="stylesheet" type="text/css" />
	 
	
	<script type="text/javascript" src="TEMPLATES/js/JQ.js"></script>
	<!-- <script type="text/javascript" src="TEMPLATES/js/funct.js"></script> -->
	<!-- <script type="text/javascript" src="TEMPLATES/js/lazyload.js"></script> -->
	<title>CAMBIO PASSWORD FALLITO</title>	
</head>

<body style="background-color:black; overflow:hidden; height:385px; padding:-5px;">

<p style="font-size:18px; font-weight:bold; text-align:center;">ERRORE NEL RESET DELLA PASSWORD</p>
<p style="font-size:14px; text-align:justify;">Probabilmente hai inserito un indirizzo email non valido o non riconosciuto. Ti preghiamo di riprovare. Al persistere del problema, comunque, sentiti libero di contattare un Admin tecnico.<br /><br />
Star Trek Federation - Command Crew - <a href="cambiaPWD.htm" class="interfaceLink">Torna Indietro</a></p>

</body>
</html>