IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://startrekfederation.it/$1 [R=301,L]

# One month for most static assets
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

<Limit GET POST>
order allow,deny
allow from all
</Limit>

<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName startrekfederation.it

#vi .htaccess

<IfModule mod_security.c>
SecRuleEngine Off
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule> 
 

Options -Indexes
 
php_flag magic_quotes_gpc Off
<Files 403.shtml>
order allow,deny
allow from all
</Files>

<FilesMatch "\.(ttf|otf|eot)$">
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://facebook.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://facebook.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://miki.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://miki.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.facebook.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.facebook.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.miki.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.miki.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gdr-online.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gdr-online.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zfn.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zfn.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zfn.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zfn.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://facebook.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://facebook.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://miki.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://miki.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.facebook.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.facebook.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.miki.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.miki.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zfn.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zfn.startrekfederation.it$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zfn.startrekfederation.it/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zfn.startrekfederation.it$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

