
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	
		<meta http-equiv="Content-Type" content="text/html"/>	
		<link rel="shortcut icon" href="favicon.ico" />
		
		<link href="TEMPLATES/css/styles.css" rel="stylesheet" type="text/css" />
		<link href="TEMPLATES/css/padd.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="TEMPLATES/js/JQ.js"></script>
		<script type="text/javascript" src="TEMPLATES/js/lazyload.js"></script>

		<title>STAR TREK FEDERATION - Be The Future</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="STAR TREK FEDERATION e' un gioco di ruolo via chat. Sali a bordo delle navi della Flotta Stellare, crea il tuo personaggio e vivi grandi avventure. Star Trek Federation: Be the Future!" />
		<meta name="keywords" content="STAR TREK FEDERATION, Star Trek, DS9, Voyager, Enterprise, The Next Generation, Tricorder, Phaser, Teletrasporto, Enterprise, Bajor, Hypospray, Borg"/>
		<meta name="keywords" content="STAR TREK FEDERATION, Klingon, Romulani, Cardassiani, Dominio, Breen, Gorn, Mutaforma, Risa, MOE, Medico olografico di emergenza."/>
		<meta name="keywords" content="STAR TREK FEDERATION, Classe Galaxy, Sovereign, Defiant, Delta flyer, Nova, Intrepid, Nebula, Olympic, Runabout, Turbolift, GDR, RPG, Gioco, Ruolo, gioco di ruolo"/>

		
		<meta name="author" content="Moreno Zolfo" />
		<meta name="copyright" content="Moreno Zolfo" />
		<meta http-equiv="content-language" content="IT" />
		<script type="text/javascript" src="TEMPLATES/js/google.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				$("img").lazyload({
				failurelimit : 50,
				effect : "fadeIn"
				});
			setView('principale');
			});
			
			function fullScreen()
			{
				var larg_schermo = screen.availWidth - 10;
				var altez_schermo = screen.availHeight - 30;
				window.open("login.php", "genesis", "width=" + larg_schermo + ",height=" + altez_schermo + ",top=0,left=0,location=no,menubar=n,resizable=yes,scrollbar=yes");
			}
		</script>
	</head>
	


<body>
		<div id="indi_mainContainer">
		<div id="indi_header" onclick="window.location.href = 'index.php';" />
		<div id="indi_central">
				<div>
					<ul class="mainmenu" style="padding-left:98px; padding-top:7px; margin-top:0px;">
						<li class="elementButtonSprite"  onclick="javascript:fullScreen()" id="login" />
						<li class="elementButtonSprite" id="registrati"  onclick="window.location.href = 'index.php?mod=REG';" />
						<li class="elementButtonSprite" id="documentazione" onclick="window.open ('db.php','db', config='scrollbars=yes,status=no,location=no,resizable=no,resizale=0,top=0,left=100,width=1153,height=617');" />
						<li class="elementButtonSprite" id="guida" onclick="window.open ('guida.php','cdb', config='scrollbars=yes,status=no,location=no,resizable=no,resizale=0,top=0,left=100,width=850,height=630');" />
						<li class="elementButtonSprite" id="gallery" onclick="window.location.href = 'index.php?gallery=true';" />
						<li class="elementButtonSprite" id="contatti" onclick="window.location.href = 'index.php?mod=CON';" />
						<li class="elementButtonSprite" id="directory" onclick="window.location.href = 'index.php?directory=true'"/>
					</ul>
				</div>
				
				<div style="clear:both;" />
				<div id="principal">
				
				<p class="title" style="margin-top:20px; text-align:center;">Grazie per l'aiuto!<br />Il Continuum è piacevolmente sorpreso e ti augura buon gioco!</p>
	
				<center><img src="http://trekcore.com/gallery/albums/q/tapestry180.jpg" style="border-radius:10px; border:1px solid #eee; height:400px;" /></center>
	<!-- http://trekcore.com/gallery/albums/q/deathwish_096.jpg -->
				<p style="text-align:center;"><a href="index.php" class="interfaceLink">Torna alla Home</a></p>
				</div>
				
			</div>
			<div metal:use-macro="TEMPLATES/metal.htm/footer" />
		</div>
</body>
</html>