#federation_interfaceBottom{background-image:url('../img/interface/mainInterface/09fill_b.png');}
#federation_interfaceBottomLeft{background-image:url('../img/interface/mainInterface/08b.png');}
#federation_interfaceBottomRight{background-image:url('../img/interface/mainInterface/12b.png');}
#federation_interfaceTop{background-image:url('../img/interface/mainInterface/20fill_b.png');}
#federation_topRightPre{background-image:url('../img/interface/mainInterface/19b.png');}
#rightAlert{background-image:url('../img/interface/mainInterface/blue-alert.gif');}
#leftAlert{background-image:url('../img/interface/mainInterface/blue-alert.gif');}