#federation_interfaceBottom{background-image:url('../img/interface/mainInterface/09fill_k.png');}
#federation_interfaceBottomLeft{background-image:url('../img/interface/mainInterface/08k.png');}
#federation_interfaceBottomRight{background-image:url('../img/interface/mainInterface/12k.png');}
#federation_interfaceTop{background-image:url('../img/interface/mainInterface/20fill_k.png');}
#federation_topRightPre{background-image:url('../img/interface/mainInterface/19k.png');}
#rightAlert{background-image:url('../img/interface/mainInterface/green-alert.gif');}
#leftAlert{background-image:url('../img/interface/mainInterface/green-alert.gif');}

#federation_montDL4{background-image:url('../img/interface/mainInterface/07k.gif');}
#federation_rightBottomAngolo{background-image:url('../img/interface/mainInterface/13k.png');}
#federation_rightBottomSuperSs{background-image:url('../img/interface/mainInterface/15k.png');}
#federation_alertRight{background-image:url('../img/interface/mainInterface/16k.png');}
#federation_rightTop{background-image:url('../img/interface/mainInterface/18k.png');}


#federation_cornerUL{background-image:url('../img/interface/mainInterface/01k.gif'); }
.paddOFF{background-image:url('../img/interface/mainInterface/02k.png');}
#federation_montULint2{background-image:url('../img/interface/mainInterface/03k.gif');}

#federation_interfaceColumnLeft{background-image:url('../img/interface/mainInterface/04fillk.png');}