@font-face{font-family:'enterpriseFont';
src: url('../fonts/Enterprise.eot') format('eot');
src: url('../fonts/Enterprise.woff') format("woff");
src: url('../fonts/Enterprise.woff2') format("woff2");
src: url('../fonts/Enterprise.ttf') format('truetype');
}
@font-face{font-family:'Roddenberry';
src: url('../fonts/Roddenberry.eot') format('eot');
src: url('../fonts/Roddenberry.woff') format("woff");
src: url('../fonts/Roddenberry.woff2') format("woff2");
src: url('../fonts/Roddenberry.ttf') format('truetype');
}

@font-face{font-family:'OpenSans-LightItalic';
/*src: url('../OpenSans-LightItalic.eot') format('eot');
src: url('../OpenSans-LightItalic.ttf') format('truetype');*/
src: url('../fonts/OpenSans-LightItalic.woff') format('woff');
}

body
{	 
	background-repeat:no-repeat;
	background-color:black;
	background-position:top center;
	background-color:black;
	color:white;
	scrollbar-base-color:black;
	width:400px;
	overflow:hidden;
}
img{border:0px;}
a
{
	text-decoration:none;
	color:#fffbe8;
}
p
{
	margin:0px;
}
table
{
	color:#fffde0;
}

tr.topicline
{
	font-size:13px;
	font-family:Helvetica;
	width:100%;
}
td.topicTitle
{
	width:auto;
	text-transform:uppercase;
	font-weight:bold;
}
.littleLink < a
{
	font-size:12px;
}
.topicTitolo
{
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	font-family:Helvetica;
}
td.topicDate
{
	width:120px;
	font-style:italic;
}
td.topicUser
{
	width:120px;
	font-style:italic;
}
div.topicDiv
{
	width:97%;
	border:1px solid #466974;
	padding:5px;
	margin:5px;
	margin-top:20px;
}
input, select, textarea, button
{
	color:#999;
	border:1px solid #999;
	background-color:black;
    font-family: Arial;
    font-size: 12px;
    padding: 1px;
}
.borderTopic
{
	border-top:1px solid #888;
	border-bottom:1px solid #888;
}

.postDate
{
	font-size:12px;
	color:#ffc600;
	font-family:helvetica;
	letter-spacing:2px;
	text-align:center;
	margin-top:10px;
	border-right:1px dotted #777;
}

.postTitle
{
	color:#FFCC33;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding-left:10px;
}
 
.postContent
{
	font-size:14px;
	color:#fffbe8;
	font-family:arial;
	text-align:justify;
	padding:20px;
	padding-left:10px;
	border-left:1px dashed #444;
	border-right:1px dashed #444;
	padding-bottom:20px;
}

.postContent p{margin:0px;}

.postContent div.quoter{

	width:95%;

	margin:15px auto;
	display:block;


	border-left:2px solid var(--custom_section_color, #0077c3);
	background-color: #111111;
	padding:10px;
}

.signature
{
	color: #0077c3; 
	text-align:center;
	font-weight:bold;
	padding-bottom:5px;
	font-style:italic;
}

.signatureCDB
{
	color:#0077c3;
	text-align:center;
	font-weight:bold;
	font-style:italic;
	width:260px;
	margin-left:auto;
	margin-right:auto;
}



.paginatore, .activePaginatore
{
	border: 1px solid #eee;
	float:left;
	font-size:10px;
	text-align:center;
	border-radius:25px;
	width:19px;
	height:15px;
	margin-left:4px;
 
}


#cdbIntro{
	margin-bottom:5px;
	margin-top:2px;
	text-align:left;
	font-size:15px;
	font-weight:bold;
	font-variant:small-caps;
	font-family:helvetica;
	letter-spacing:0.03em;
}

#cdbIntro .stardate{
	color:#5fc0f8;
	
}

#cdbIntro .currentDate{
	margin-left:8px; color:#AAA
}

#cdbIntro .curPerson{
	color:var(--custom_section_color,#ffc600); 
}

.blackgradient
{
	background-color:rgba(1,1,1);
	background-color:rgba(1,1,1,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2010101,endColorstr=#B2010101);
}
.radiusBordered_f{border-radius:12px;}
.activePaginatore {border-color:orange;}
.activePaginatore a {color:#ffe138;}
.paginatore{border-color:#466974;}
.little {font-size:12px;}

.littleShipLogo{
	width:150px;
	height:150px;
	float:left;
	padding:2px;
	margin-left:10px;
}

.smallTitle{font-variant:small-caps;
 font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
 font-size: 16px;
 font-weight: bold;
 text-align: center;
  text-shadow: 0 0 5px #00C6FF;
 text-align:left;
 margin-top:5px;
 margin-right:20px;
}

.dateContainer input {font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
 font-size: 12px;
 font-weight: bold;
 text-align: center;
  text-shadow: 0 0 5px #00C6FF;
}
.forumBox{
	margin-top:10px;
	height:65px;
	float:left;
	padding:5px;
	border:1px solid #310303;
	width:350px;
}
 
.forumBox {position:relative;}
.notifierBox
{
	position: absolute;
	top:3px;
	right:3px;
	padding:7px;
	border:1px solid;
	border-radius:0px 8px 0px 8px;
	width:15px;
	height:15px;
}

.notifierBox p{width:100%; line-height:15px; text-align:center; margin:auto; font-family:Arial;  font-weight:bold; font-size:14px;}
.forumBox.CIV {border-color:#110144;}
.forumBox.CIV .notifierBox{ background-color: #110144; border-color:#2a21e0;}
.forumBox.CIV .notifierBox p{ text-shadow: 1px 1px 8px #2a21e0; }
.forumBox.CIV:hover {border-color:#2a21e0;}
.forumBox.CIV:hover .notifierBox {background-color:#2a21e0;}

.forumBox.FL {border-color:#310303;}
.forumBox.FL .notifierBox{ background-color: #310303; border-color:#a50c0c;}
.forumBox.FL .notifierBox p{ text-shadow: 1px 1px 8px #a50c0c; }
.forumBox.FL:hover {border-color:#a50c0c;}
.forumBox.FL:hover .notifierBox {background-color:#a50c0c;}

.forumBox.HE {border-color:#483801;}
.forumBox.HE .notifierBox{ background-color: #483801; border-color:#b08902;}
.forumBox.HE .notifierBox p{ text-shadow: 1px 1px 8px #b08902; }
.forumBox.HE:hover {border-color:#b08902;}
.forumBox.HE:hover .notifierBox {background-color:#b08902;}

.forumBox.MA {border-color:#01291E;}
.forumBox.MA .notifierBox{ background-color: #01291E; border-color:#007a53;}
.forumBox.MA .notifierBox p{ text-shadow: 1px 1px 8px #007a53; }
.forumBox.MA:hover {border-color:#007a53;}
.forumBox.MA:hover .notifierBox {background-color:#007a53;}


.interfaceLink,.interfaceLinkBlue,.interfaceLinkRed,.interfaceLinkGreen,.interfaceLinkYellow,.internalCdbLink
{	
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
}

.interfaceLink{color:#fffbe8;}
a.interfaceLink:hover{color:orange;}

.interfaceLinkBlue{color:#0077c3;}
a.interfaceLinkBlue:hover{color:#5a9bc4;}

.interfaceLinkRed{color:#dc0000;}
a.interfaceLinkRed:hover{color:#eb5d5d;}

.interfaceLinkGreen{color:#06a211;}
a.interfaceLinkGreen:hover{color:#59cd61;}

.interfaceLinkYellow{color:#FFCC00;}
a.interfaceLinkYellow:hover{color:orange;}

.internalCdbLink{
	color:#FFCC00; 
    text-decoration: underline;
    line-height: 15px;
}

.internalCdbLink:hover{
	color:#ffeb9a; 
    text-decoration: underline;
}

.internalCdbLink::before{color:red; display:inline-block; vertical-align: middle; font-size:15px;  text-decoration:none; content:'〔'; margin-right:4px;}
.internalCdbLink::after{color:red; display:inline-block;  vertical-align: middle; font-size:15px; text-decoration:none; content:'〕';}


a.topic{font-size:12px; font-family:Helvetica;}
.topicImportant a{color:red;}
.topicAnnounce a {color:orange;}
.topicNormal a{color:#fffbe8;} 
.topicNormal a:hover {	text-decoration:underline;}
.topicImportant a:hover{text-decoration:underline;}
.topicNormal a.topicLock, .topicNormal a.topicLock + span{font-style:italic;; color:#AAA;; font-size:12px}
.topicNormal a.topicLock + span::after{content:'(CHIUSO)'; color:#d42a2a; margin-left:5px; text-decoration: none;}
a.topic_ext_red {color:red !important;}
a.topic_ext_teal{color:teal !important;}
a.topic_ext_yellow{color:yellow !important;}
a.topic_ext_orange{color:orange !important;}
a.topic_ext_green{color:#0bba50 !important;}
a.topic_ext_violet{color:#bb20cd !important;}
a.topic_ext_indigo{color:#4978ff !important;}
a.topic_ext_white{color:white !important;}

.cdbPostRed{color:red;}
.cdbPostBlue{color:#0077c3;}
.cdbPostGreen{color:#009966;}
.cdbPostYellow{color:#FFCC00;}
.cdbPostWhite{color:white;}
.cdbPostGray{color:#999;}
.cdbPostLittleSize{font-size:12px;}
.cdbPostNormalSize{font-size:13px;}
.cdbPostBigSize{font-size:16px;}
   
a.dbLink{
	color:#2d90c8;
	font-size:12px;
	text-decoration: underline;
}

a.dbLink:hover{color:#abd2e8;}

a.dbLink::before{
content:'';
background: url('../img/interface/personnelInterface/abilita/storia_letteratura.png');/*url of image*/
height: 20px;/*height of image*/
width: 20px;/*width of image*/
background-size:100%;
display:inline-block;
vertical-align: middle;
margin-right:10px;
}

.BBbuttonList{
	text-align:center; 
	vertical-align:middle; 
	font-family: Helvetica;
}


.BBbuttonList .w32 {
	width:40px; 
	margin-left:10px; 
	margin-bottom:7px; 
	font-size:13px; 
	border-radius: 10px; 
	padding:2px; 
	transition-duration: 0.4s;
  	cursor: pointer;
}


.BBbuttonList .w32:hover {
  background-color: red;
  color: white;
}


.BBbuttonList .w25font {
	width: 28px;
	height: 28px;
	border-radius: 8px; 
	margin-bottom: 6px;
	border: 1px solid #AAA; 
	font-size: 15px; 
	text-align: center; 
	vertical-align: middle;
	padding: 5px 5px;
	transition-duration: 0.4s;
    cursor: pointer;
}

.BBbuttonList .w25font:hover {
border: 1px solid black; 
background-color: white;
color: black;
}


.BBbuttonList .w50 {
	width:70px; 
	margin-left:5px; 
	margin-bottom:7px; 
	font-size:13px; 
	border-radius: 10px; 
	padding:1px;   
	transition-duration: 0.4s;
    cursor: pointer;
}

.BBbuttonList .w25 {
		width: 26px;
		height: 26px;
		border-radius: 28px;
		background-color: black;
		margin:1px; 
		margin-bottom:5px; 
	 	transition-duration: 0.5s;
   		cursor: pointer;
}


.BBbuttonList .w25red {
		border: 2px solid red;
}

.BBbuttonList .w25red:hover {
		background-color: red;
  		border: 2px solid black;
}


.BBbuttonList .w25yellow {
		border: 2px solid #ffcc00;
}

.BBbuttonList .w25yellow:hover {
		background-color: #ffcc00;
  		border: 2px solid black;
}

.BBbuttonList .w25cyan {
		border: 2px solid #0061a4;
}

.BBbuttonList .w25cyan:hover {
		background-color: #0061a4;
  		border: 2px solid black;
}

.BBbuttonList .w25gray {
		border: 2px solid #AAA;
}

.BBbuttonList .w25gray:hover {
		background-color: #AAA;
  		border: 2px solid black;
}


.BBbuttonList .w25white {
		border: 2px solid white;
}

.BBbuttonList .w25white:hover {
		background-color: white;
  		border: 2px solid black;
}


.BBbuttonList .w25green {
		border: 2px solid #009966;
}

.BBbuttonList .w25green:hover {
		background-color: #009966;
  		border: 2px solid black;
}

/* CENTER BUTTON */

.BBbuttonList .w25center {
		background-image: url(../img/interface/cdbInterface/topicInterface/center.png);
}

.BBbuttonList .w25center:hover {
		border: 1px solid black; 
		background-image: url(../img/interface/cdbInterface/topicInterface/center-hover.png);
		background-color: white;
}

/* LEFT BUTTON */

.BBbuttonList .w25left {
		background-image: url(../img/interface/cdbInterface/topicInterface/left.png);
}

.BBbuttonList .w25left:hover {
		border: 1px solid black; 
		background-image: url(../img/interface/cdbInterface/topicInterface/left-hover.png);
		background-color: white;
}

/* RIGHT BUTTON */

.BBbuttonList .w25right {
		background-image: url(../img/interface/cdbInterface/topicInterface/right.png);
}

.BBbuttonList .w25right:hover {
		border: 1px solid black; 
		background-image: url(../img/interface/cdbInterface/topicInterface/right-hover.png);
		background-color: white;
}

/* IMG BUTTON */

.BBbuttonList .w25img {
		background-image: url(../img/interface/cdbInterface/topicInterface/image.png);
}

.BBbuttonList .w25img:hover {
		border: 1px solid black; 
		background-image: url(../img/interface/cdbInterface/topicInterface/image-hover.png);
		background-color: white;
}


/* URL BUTTON */

.BBbuttonList .w25url {
		background-image: url(../img/interface/cdbInterface/topicInterface/link.png);
}

.BBbuttonList .w25url:hover {
		border: 1px solid black; 
		background-image: url(../img/interface/cdbInterface/topicInterface/link-hover.png);
		background-color: white;
}

/* QUOTE BUTTON */

.BBbuttonList .w25quote {
		background-image: url(../img/interface/cdbInterface/topicInterface/Quote.png);
}

.BBbuttonList .w25quote:hover {
		border: 1px solid black; 
		background-image: url(../img/interface/cdbInterface/topicInterface/Quote-hover.png);
		background-color: white;
}


/* Bottoni con icona */

.BBbuttonList .w25icon {
		width: 28px;
		height: 28px;
		border-radius: 8px; 
		margin-bottom: 6px;
		text-align: center; 
		border: 1px solid #AAA; 
		background-color: black;
		margin-left:3px; 
	 	transition-duration: 0.5s;
   		cursor: pointer; 
}


/* ADVANCED BUTTON */

.BBbuttonList .w25advanced {
		background-image: url(../img/interface/cdbInterface/topicInterface/advanced.png);
		display:inline-block;
		background-position:center center;
		background-repeat:no-repeat;
}

.BBbuttonList .w25advanced:hover, .BBbuttonList .w25advanced.activated {
		border: 1px solid #4169E1; 
		background-image: url(../img/interface/cdbInterface/topicInterface/advanced-hover.png);
		background-color: #4169E1;
}
 

/* ADVANCED BUTTON */

.BBbuttonList .w25seclar {
	display:inline-block;
	background-position:center center;
	background-repeat:no-repeat;
		background-image: url(../img/interface/cdbInterface/topicInterface/seclar.png);
}

.BBbuttonList .w25seclar:hover, .BBbuttonList .w25seclar.activated {
		border: 1px solid #bf4343; 
		background-image: url(../img/interface/cdbInterface/topicInterface/seclar-hover.png);
		background-color: #bf4343;
}
/* Classe Invia */


.NBT_Roddenberry,.BBbuttonList .send {
    	font-size: 20px;
		width:auto;
		border-radius: 15px;  
		font-family: Roddenberry;
		background-color: black;
		transition-duration: 0.5s;
   		cursor: pointer; 
   		padding: 5px 15px;
   		letter-spacing: 2px;
   		font-weight:normal;
}

.NBT_Roddenberry.green{
	border-color:green;
	background-color: #0e210b;
}
.NBT_Roddenberry.green:hover, .BBbuttonList .send:hover {
	background-color: green;
	color: white;
}

.NBT_Roddenberry.red{
	border-color:#800000;
	background-color: #2b1212;
}
.NBT_Roddenberry.red:hover {
	background-color: #800000;
	color: white;
}

.NBT_Roddenberry.blue{
	border-color:#005180;
	background-color: #182246;
}
.NBT_Roddenberry.blue:hover {
	background-color: #005180;
	color: white;
}

.BBbuttonList .send{
	font-size:28px;
	height: 50px; 
	width: 100px; 
}

