body{
	width:1140px;
	height:515px;
	overflow:hidden;
	background-image:url('../img/charts/cornice_charts.png');
	font-family:Arial;
	background-repeat:no-repeat;
}

#mainDatabase
{
	margin-left:35px;
	margin-top:35px;
	height:575px;
}

#mainMap
{
	background-image:url('../img/charts/chart_principale.jpg');
	width:800px;
	margin-left:20px;
	margin-top:40px;
	height:541px;
	display:block;
	background-repeat:no-repeat;
}

#sectorMap
{
	width:830px;
	height:565px;
	position:relative;
	overflow-y:scroll;

}
.titleFS
{
    font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px #00C6FF;
	font-weight:bold;
}

.cdbPostRed{color:red;}
.cdbPostBlue{color:#0077c3;}
.cdbPostGreen{color:#009966;}
.cdbPostYellow{color:#FFCC00;}
.cdbPostWhite{color:white;}
.cdbPostGray{color:#999;}

.elementAle
{
	position:absolute;
	width:73px;
	height:73px;
	border:1px dashed #222;
}

.signaler
{
width:9px;
height:9px;
background-image:url('../img/charts/marker.gif');
position:absolute;
}