#mainDatabase
{
	background-image:url('../img/charts/cornice-charts-v2.png');
	height:611px;
	background-repeat:no-repeat;
	overflow:none;
	width:1146px;
}


#sectorMap
{
    left: 50px; 
    position: absolute;
    top: 30px;
	overflow:none;
    width: 1050px;

}
.titleFS
{
    font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px #00C6FF;
	font-weight:bold;
}

.bdr{border:1px solid #333;}
.bdr img{vertical-align: middle;}
.borderOne{border:1px dotted #111; border-right:0px;}
.backgrounder{background-repeat:no-repeat; background-size:100px; height:100px; width:100px; background-position:center center;}
.leftMarkers{float:left; width:110px; height:215px;}
.lefMarkers div { border:1px solid #333; margin-top:6px;}
.rightMarkers{float:left; margin-left:5px; width:300px; border:1px solid #111; height:215px;}
.iElement{border:1px solid #666; border-radius:12px; margin-left:5px; float:left; cursor:pointer; background-repeat:no-repeat; background-size:80px 50px; height:60px; width:80px; background-position:center center;}
.iElement:hover{-moz-box-shadow: 0px 0px 20px #0099ff; -webkit-box-shadow: 0px 0px 20px #0099ff; box-shadow: 0px 0px 20px #0099ff;}

.btn{background-position:top center; float:left; cursor:pointer;}
.btn:hover{background-position:bottom center;}

#Abtn{background-image:url('../img/charts/A.png'); width:73px; height:40px;}
#Bbtn{background-image:url('../img/charts/B.png'); width:131px; height:40px;}
#alphaBTN{background-image:url('../img/charts/alfa-map.png'); width:82px; height:40px;}
#deltaBTN{background-image:url('../img/charts/delta-map.png'); width:82px; height:40px;}

a.iLink{font-weight:bold; font-size:13px; color:white; vertical-align:middle;}
a.iLink:hover{color:#FC0;}

.iGray{color:#AAA; font-style:italic;}
p.iColor{float:right; margin:0px;}
.borderOne  img {vertical-align:middle;}
.circleLop:hover{background-color:blue;}