#sectorMap
{
    left: 50px; 
    position: absolute;
    top: 30px;
	overflow:none;
    right: 5px;
}

#map{
    height:590px;
}
.titleFS
{
    font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px #00C6FF;
	font-weight:bold;
}
.title{margin:0 !important;}

.bdr{border-bottom:1px solid #333; font-size:14px;}
.bdr img{vertical-align: middle;}
.borderOne{
    font-family: federationFont,Helvetica;
    font-size: 14px;
    text-align:right;
    text-transform: uppercase;
    border-bottom:1px solid #333;
    letter-spacing: 0.07em;
}

.backgrounder{background-repeat:no-repeat; background-size:100px; height:100px; width:100px; background-position:center center;}
.leftMarkers{float:left; width:110px; height:315px;}
.lefMarkers div { border:1px solid #333; margin-top:6px;}
.rightMarkers{float:left; margin-left:5px; width:300px; height:315px;}
.iElement{border:1px solid #666; border-radius:12px; margin-left:5px; float:left; margin-top:5px; cursor:pointer; background-repeat:no-repeat; background-size:contain; height:75px; width:100px; background-position:center center;}
.iElement:hover{-moz-box-shadow: 0px 0px 20px #0099ff; -webkit-box-shadow: 0px 0px 20px #0099ff; box-shadow: 0px 0px 20px #0099ff;}
#arelmDiv{width:350px; margin:auto}

.btn{background-position:top center; float:left; cursor:pointer;}
.btn:hover{background-position:bottom center;}

#Abtn{background-image:url('../img/charts/A.png'); width:73px; height:40px;}
#Bbtn{background-image:url('../img/charts/B.png'); width:131px; height:40px;}
#alphaBTN{background-image:url('../img/charts/alfa-map.png'); width:82px; height:40px;}
#deltaBTN{background-image:url('../img/charts/delta-map.png'); width:82px; height:40px;}

a.iLink{font-weight:bold; font-size:13px; color:white; vertical-align:middle;}
a.iLink:hover{color:#FC0;}

.iGray{color:#AAA; font-style:italic;}
p.iColor{float:right; margin:0px;}
.circleLop:hover{background-color:blue;}

.ui-autocomplete {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1px;
}
    
.ui-autocomplete li {
    height:25px;
    padding:2px;
    font-size:13px;
}

#searcher{
    height: 48px;
    padding: 21px 5px 5px;
    display:none;
    position: absolute;
    right: 45px;
    top: 26px;
    z-index:8;
}

#introb{margin-left:10px; font-size:12px; letter-spacing:2px;}