body{
	width:1140px;
	overflow:hidden;
  
	font-family:Helvetica, sans-serif;
	background-repeat:no-repeat;
} 


#mainDatabase
{
	margin-left:35px;
	margin-top:23px;
	height:600px;
}

.titleFS
{
    font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px #00C6FF;
	font-weight:bold;
}
 

/***/

#cdbContainer
{
position:absolute;
top:110px;
left:40px;
width:95%;
margin-left:auto;
margin-right:auto;
bottom:20px;
overflow:auto;  
z-index:10;
}

#mdmacontent
{
padding:10px;
padding-left:40px;
padding-right:60px;
text-align:justify;
margin-right:20px;
line-height: 1.2em;
}

#mdmacontent img.alignRight{
	display: inline-block;
	float:right;
	margin:15px;
	border:1px solid #333;
}

#mdmacontent img.alignLeft{
	display: inline-block;
	float:left;
	margin:15px;
	border:1px solid #333;
}

#mdmacontent img.alignCenter{
	display: block;
	margin:auto;
	border:1px solid #333;
}

#mdmacontent img.adaptw{
	max-width:70%;
}

#mdmacontent img.smallSize{
	width:150px;
	display: inline-block;
	float:right; 
	margin-left:25px;
	border:1px solid #333;
}

#mdmacontent img.mediumSize{
	width:350px;
	margin-top:0px;
	border:1px solid #333;
}

#mdmacontent p.quote{
	text-align:right;
	font-style: italic;
	color:#AAA;
}
#mdmacontent h1{ line-height: 1em }
   
#mdmacontent a.tomo, a.dbInternalLink{
	color:#2d90c8;
	padding-bottom:0px;
	border-bottom:1px dashed #EEE; 
	display:inline-block;
}

a.dbInternalLink{color:orange; text-transform: uppercase; font-size:14px;}

#mdmacontent a.tomo:hover, a.dbInternalLink:hover{color:#abd2e8;}

#mdmacontent pre {    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color:#666;
    border: 2px solid #EEE;
    color:#FFF;
    padding:8px;
}

#mdmacontent a.tomo::after{
content:'';
background: url('../img/interface/personnelInterface/abilita/storia_letteratura.png');/*url of image*/
height: 23px;/*height of image*/
width: 23px;/*width of image*/
background-size:100%;
display:inline-block;
vertical-align: middle;
margin-left:10px;
}


#mdmacontent .breakMe{display:block;clear:both;}

#mdmacontent dt{color: #0077c3; display:inline-flex; margin-top: 1.2em; font-weight:bold; font-size:14px; text-transform: uppercase;}
#mdmacontent dt.jeanus{color: red;}
#mdmacontent dt:after{content:':';} 

#mdmacontent dd{display:inline; margin:2px; line-height: 1.2em;} 
#mdmacontent dd:after{content:'';display:block;clear:right;} 
#mdmacontent th {
	background-color: #444;
    padding: 10px;
    border-bottom: 1px solid white;
}

#mdmacontent td {padding: 3px;}

#mdmacontent .tbl{
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
 
	border-radius:9px;
	padding:10px;
	width:250px;
}


#mdmacontent .tbl ul{margin-left:-20px;}
#mdmacontent .tbl ul:before{

	content:'Indice';
	display:block;
	border-bottom:1px dotted #333;
	margin-bottom:10px;
	font-variant:small-caps;
	
	font-weight:bold;
	color:#FFCC00;
	padding-bottom:4px;
	font-size:1.1em;
}

#mdmacontent .tbl li{
	list-style: none;
	padding-left: 1em;
	text-indent: -1em;
}
#mdmacontent .tbl li:before{
	
	content: "\00BB";
	padding-right: 5px;

}


#mdmacontent .tbl a{
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
}

#mdmacontent .tbl a.externalLink{
	color:red;
}

#mdmacontent .tbl a.externalLink::after{
	content: url('http://stfederation.it/TEMPLATES/img/interface/personnelInterface/external_link.png');
	margin-left:10px;
}

#mdmacontent .tbl a.externalLink{
	color: #0077c3;
}

#mdmacontent .tbl a.externalLink:hover{
	color: #649ec3;
}
 
#mdmacontent a.backToIndex:before{
		content:'[ ▲ ]';
		display:block;
		border-bottom:1px dotted #333;
		margin-bottom:10px;  
		color:#0071e5;
		font-variant:small-caps;
		font-weight:bold;
		position:absolute;
		right:80px;
	}
@media (min-width:400px) and (max-device-width: 400px)  {
	#mdmacontent a.backToIndex:before{
		content:'[ ▲ ]';
	}
}

@media (min-width:400px) {
	#mdmacontent a.backToIndex:before{
		content:'[ ▲ ]';
	}
}

@media (min-width:700px) and (min-device-width: 700px)  {
	#mdmacontent a.backToIndex:before{
		content:'[ - Torna all\'indice - ]';
	} 
}

#mdmacontent a.backToIndex{clear:both;}

#mdmacontent a.backToIndex:hover:before{
	color:#84a7cb;
}


#mdmacontent h1{text-align: center;}
#mdmacontent h1.centered,#mdmacontent h2.centered,#mdmacontent h3.centered {text-align:center;}

#mdmacontent h2
{
	color:#FFCC00;
	border-top:1px dotted #BBB;
	border-bottom:1px dotted #BBB;
	padding-top:15px; padding-bottom:15px;
	text-align:center;
	font-family:Arial;
	font-size:1.3em;
	width:320px;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	font-variant:small-caps;
	clear:both;
}


#mdmacontent h3
{
	color:#2d90c8; 
	font-weight:bold;
	font-variant:small-caps;
	border-bottom: 1px solid #2d90c8;
}

#mdmacontent h3.label
{
text-align:center;
padding:2px;
font-weight:bold;
border-radius:7px;
width:160px;
color:black;
text-transform:uppercase;
}

#mdmacontent h3.label.red{background-color:#e51616;border:1px solid red;}
#mdmacontent h3.label.yellow{border:1px solid #fffc00; background-color:#dedb08;}
#mdmacontent h3.label.green{border:1px solid #0be82a; background-color:#24ab40; color:white;}
#mdmacontent h3.label.black{border:1px solid white; background-color:black; color:white;}
#mdmacontent h3.label.white{border:1px solid #444; background-color:white;}
#mdmacontent h3.label.blue{border:1px solid #0090ff; background-color:#2e4aa4;}
#mdmacontent h3.label.orange{border:1px solid #ffce0c; background-color:orange;}

#mdmacontent h3.colorLabel.red{color:#c31212; border-bottom-color: red;}
#mdmacontent h3.colorLabel.yellow{color:#dedb08; border-bottom-color: #dedb08}
#mdmacontent h3.colorLabel.orange{color:#ffcc00; border-bottom-color: #ffcc00}
#mdmacontent h3.colorLabel.green{color:#0be82a; border-bottom-color: #0be82a}  
#mdmacontent h3.colorLabel.blue{color:#2e4aa4; border-bottom-color: #2e4aa4} 

#mdmacontent h3.article{text-align: center; padding-bottom: 5px; } 
#mdmacontent h3.article span{font-size: 0.9em; color:#AAA; font-style: italic; display:block;} 


#cdbHeader
{
position:absolute;
top:20px;
left:20px;
width:93%;
height:90px;
margin-left:auto;
margin-right:auto;
overflow:hidden;  
z-index:10;
}

#cdbHeader div{
		position:absolute;
		height:50px;
		width:202px;
		top:35px;
		left:55px; 
}

#cdbHeader p{
	text-align:right;
	margin-right:10px;
	margin-bottom:3px;
	padding-bottom:6px;
	border-bottom:1px dotted #FCFCFC;
}

#goBack{position:absolute; top:55px; left:260px; font-size:14px; border:0 !important;}

#federation_interfaceContainer
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#leftCol
{
	background-image:url('../img/interface/dbInterface/filler_later.png');
	background-repeat:repeat-y;
	width:41px;
	position:absolute;
	top:0px;
	height:100%;	
}

#leftC1
{
	background-image:url('../img/interface/dbInterface/angolo_alto_sx.png');
	width:123px;
	height:294px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}

#fillerBax
{	
	background-image:url('../img/interface/dbInterface/filler_basso.png');
	background-repeat:repeat-x;
	position:absolute;
	bottom:0px;
	width:100%;
	height:11px;
}

#barbot2
{	
	background-image:url('../img/interface/dbInterface/mont_basso_dx.png');
	position:absolute;
	bottom:0px;
	right:0px;
	height:11px;
	width:371px;
}
#barbot1
{	
	background-image:url('../img/interface/dbInterface/mont_basso_sx.png');
	position:absolute;
	bottom:0px;
	left:123px;
	width:266px;
	height:11px;
}


#leftC3
{
	background-image:url('../img/interface/dbInterface/angolo_basso_sx.png');
	width:123px;
	height:263px;
	position:absolute;
	bottom:0px;
	z-index:2;
}

#supCol
{
	background-image:url('../img/interface/dbInterface/filler_alto.png');
	background-repeat:repeat-x;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:22px;
}
#supRight
{
	background-image:url('../img/interface/dbInterface/mont_alto_dx.png');
	position:absolute;
	top:0px;
	right:0px;
	width:371px;
	height:22px;
}
#supLeft
{
	background-image:url('../img/interface/dbInterface/mont_alto_sx.png');
	position:absolute;
	top:0px;
	left:123px;
	width:241px;
	height:22px;
}

#elementsNormal div, #elementsSpecial  div{
	font-size:14px;
	letter-spacing:0.08em;
	padding-left:5px;
	margin-left:20px;
	margin-top:7px;
	border-bottom:1px solid #555;
	padding-bottom:3px;
	margin-right:20px; 
}
#elementsNormal, #elementsSpecial
{
	margin-top:20px;
	margin-left:20px;
	margin-right:30px;
	padding:10px;
}

/* Ship Register */

.sunk{color:red; text-decoration: line-through;}

#fleetContainer,#classContainer,#alfaContainer,#typesContainer{
		display:none;
		margin:auto;
		width:80%;
		margin-top:20px;
		border:1px solid gray;
		padding:10px;
}
#fleetContainer p, .shipFleetList p{margin:0px; margin-top:3px;}
.shipFleetHeading{margin:20px 0px 0px 30px;}
.shipFleetList{margin:20px 0px 0px 60px;}
.Division{
		padding:10px;
		padding-left:40px;
		padding-right:60px;
		text-align:justify;
		font-size:14px;
		margin-right:20px;
}

@media only screen and (max-width: 700px) {
	#cdbHeader div{
		display:none; 
	}
	#cdbHeader p{
		font-size:2em;
	}
	#goBack{top:-20px; left:30px;}

	#elementsNormal div, #elementsSpecial  div{
	width:93%;
	}

	#fleetContainer,#classContainer,#alfaContainer,#typesContainer{
		width:98%;
		padding:0; border:0; 
	}

	.shipFleetHeading{margin-left:15px}
	.shipFleetList{margin-left:30px}
	.Division{
		padding:10px;
		padding-left:20px;
		padding-right:20px;
		text-align:justify;
		font-size:14px;
		margin-right:10px;
	}
}

@media only screen and (min-width: 1030px) {
	#elementsNormal div, #elementsSpecial  div{
	width:45%;
	float:left;
	}
}

@media only screen and (min-width: 1500px) {
	#elementsNormal div, #elementsSpecial  div{
	width:30%;
	float:left;
	}
}
