#federation_interfaceBottom{background-image:url('../img/interface/mainInterface/09fill_g.png');}
#federation_interfaceBottomLeft{background-image:url('../img/interface/mainInterface/08g.png');}
#federation_interfaceBottomRight{background-image:url('../img/interface/mainInterface/12g.png');}
#federation_interfaceTop{background-image:url('../img/interface/mainInterface/20fill_g.png');}
#federation_topRightPre{background-image:url('../img/interface/mainInterface/19g.png');}
#rightAlert{background-image:url('../img/interface/mainInterface/green-alert.gif');}
#leftAlert{background-image:url('../img/interface/mainInterface/green-alert.gif');}