
/* /////////////////// INTERFACE */

#federation_interfaceContainer{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
} 
/************************/

#federation_interfaceColumnLeft /* VARIANT */
{
	background-image:url('../img/interface/mainInterface/04fill.png');
	background-repeat:repeat-y;
	position:absolute;
	left:0px;
	top:0px;
	width:81px;
	height:100%;
	z-index:3;
}

#federation_leftTop
{
	position:absolute;
	top:0px;
	left:0px;
	height:318px;
	z-index:2;
} 
  
#federation_leftBottom
{
width:81px; 
position:absolute;
bottom:0px;
left:0px; 
height:264px;
} 

#federation_cornerUL
{
	background-image:url('../img/interface/mainInterface/01.png');
	width:81px;
	height:170px;
}

#federation_montUL
{
	width:83px;
	height:42px;
} 
.paddOFF{background-image:url('../img/interface/mainInterface/02.png');}
.paddON{background-image:url('../img/interface/mainInterface/02in.png');}

#federation_montULint2
{
	background-image:url('../img/interface/mainInterface/03.png');
	width:83px;
	height:80px;
}

#federation_alertLeft
{
	background-image:url('../img/interface/mainInterface/05.png');
	width:67px;
	height:71px;
	position:absolute;
	top:50%;
	margin-top:-35.5px;
	left:0px;
	height:71px;
}


#federation_montDL4
{
	background-image:url('../img/interface/mainInterface/07.png');
	width:81px;
	height:264px;
}

/*************************** BOTTOM ****/

#federation_interfaceBottom
{	
	background-image:url('../img/interface/mainInterface/09fill.png');
	background-repeat:repeat-x;
	width:100%;
	overflow:hidden;
	height:15px;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:2;
}


#federation_interfaceBottomLeft
{
	position:absolute;
	bottom:0px;
	left:81px;
	background-image:url('../img/interface/mainInterface/08.png');
	width:287px;
	height:15px;
}

#federation_shadowMasterButton
{
position:absolute;
bottom:220px;
background-image:url('../img/interface/mainInterface/MASTER.png');
left:0px; width:83px;
height:35px;
}


#federation_interfaceBottomCenter
{
	background-image:url('../img/interface/mainInterface/10.png');
	width:180px;
	position:absolute;
	left:50%;
	margin-left:-90px;
	bottom:0px;
	height:15px;
}


#federation_interfaceBottomRight
{
	position:absolute;
	bottom:0px;
	right:81px;
	background-image:url('../img/interface/mainInterface/12.png');
	width:270px;
	height:15px;
}

/*************************** RIGHT ****/

#federation_interfaceColumnRight /* VARIANT */
{
	background-image:url('../img/interface/mainInterface/17fill.png');
	background-repeat:repeat-y;
	position:absolute;
	right:0px;
	top:0px;
	width:57px;
	height:100%;
	z-index:3;
}

#federation_rightTop
{
	position:absolute;
	top:0px;
	right:0px;
	height:230px;
	width:71px;
	background-image:url('../img/interface/mainInterface/18.png');
}

#federation_rightBottom
{
	position:absolute;
	bottom:0px;
	right:0px;
}

#federation_rightBottomAngolo
{
	height:102px;
	width:105px;
	background-image:url('../img/interface/mainInterface/13.png');
	background-position:top right;
	background-repeat:no-repeat;
}

#federation_rightBottomSussurro
{
	height:49px;
	width:105px;
}

#federation_rightBottomGuide
{
	background-image:url('../img/interface/mainInterface/25.png');
	height:37px;
	width:37px;
	margin-left:37px;
	position:absolute;
	top:-40px;
	right:34px;
}

#federation_rightBottomSussurro.sussOFF{background-image:url('../img/interface/mainInterface/14.png');}
#federation_rightBottomSussurro.sussON{background-image:url('../img/interface/mainInterface/14in.gif');}

#federation_rightBottomSuperSs
{
	height:115px;
	width:105px;
	background-image:url('../img/interface/mainInterface/15.png');
	background-position:top right;
	background-repeat:no-repeat;
}

#federation_alertRight
{
	background-image:url('../img/interface/mainInterface/16.png');
	width:57px;
	height:67px;
	position:absolute;
	top:50%;
	margin-top:-33.5px;
	right:0px;
}

#rightAlert
{
width:41px;
height:33px;
margin-top:17px;
margin-left:9px;
background-image:url('../img/interface/mainInterface/green-alert.gif');
background-repeat:no-repeat;
}

#leftAlert
{
width:46px;
background-position:center center;
height:38px;
margin-top:17px;
margin-left:9px;
background-image:url('../img/interface/mainInterface/green-alert.gif');
background-repeat:no-repeat;
}

/******** TOP ***********/


#federation_interfaceTop
{	
	background-image:url('../img/interface/mainInterface/20fill.png');
	background-repeat:repeat-x;
	width:100%;
	height:26px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}

#federation_interfaceTopLeft
{
	background-image:url('../img/interface/mainInterface/23.png');
	width:284px;
	height:26px;
	position:absolute;
	top:0px;
	left:116px;
}

#federation_interfaceCenterTitle
{
	background-image:url('../img/interface/mainInterface/21.png');
	width:281px;
	height:44px;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-140.5px;
	z-index:5;
}

#federation_topRightPre
{
	background-image:url('../img/interface/mainInterface/19.png');
	width:203px;
	height:26px;
	position:absolute;
	top:0px;
	right:82px;
}

#btnComputer,#btnComputer_a
{
	background-image:url('../img/interface/mainInterface/CDBsprite.png');
	width:104px;
	height:37px;
	position:absolute;
	top:3px;
	right:183px;
	z-index:4;
}

#btnComputer {background-position:center bottom;}
#btnComputer_a {background-position:center top;}

#btnDatabase
{
	background-image:url('../img/interface/mainInterface/DATAsprite.png');
	width:103px;
	height:36px;
	background-position:center bottom;
	position:absolute;
	top:3px;
	right:80px;
	z-index:4;
}

#btnStatus
{
	background-image:url('../img/interface/mainInterface/STATUSsprite.png');
	width:100px;
	height:37px;
	background-position:center bottom;
	position:absolute;
	top:3px;
	right:291px;
	z-index:4;
}

#btnStatus.notify
{

	background-position:center top;
}

#federation_chatDiv
{	
	
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;
    margin-bottom:100px;
    margin-right:130px;
	border:1px solid #444;
    margin-left:100px;
    background-color: black;
	overflow-y:auto;
	font-family:Verdana, Helvetica, Arial;
}

#chatBar
{
	
	position:absolute;
	left:90px;
	right:60px;
	bottom:10px;
	height:70px;
	z-index:10;
	padding:10px;
	background-color:black;
}

#reminderAvatar{width:100px; height:135px; top:160px;}
#reminderBrevs{width:100px; padding-left:3px; text-align:center; bottom:160px;}
#reminderClima{width:100px; height:40px; top:40px;}
#topLocations{position:absolute;top:0px;width:100px;border:1px solid yellow;}

#reminderST
{
width:100px;
top:130px;
font-size:13px;
font-family:helvetica;
font-weight:bold;
text-align:center;
}

.reminder
{
right:13px;
padding:2px;
background-color:rgba(80,80,80);
/*background-color:rgba(80,80,80,0.5);*/
background-color:rgba(50,50,50,0.6);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F808080,endColorstr=#7F808080);
position:absolute;
text-align:center;
border:2px solid black;
z-index:10;
}

.littleBrevImage
{
	width:30px;
	margin-left:2px;
	float:left;
}

#limOverNavi, #limOverNavfore
{
	position:absolute; 
	width:900px;
	height:550px;
	background-repeat:no-repeat;
	background-position:bottom center;
	top:50%;
	text-align:center;
	left:50%;
	margin-left:-475px;
	margin-top:-300px;
	padding:35px;
	border:2px solid #DDD;
	overflow-y:auto;
}
#limOverNavfore
{
	background-color:rgba(0,0,0);
	background-color:rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}

.planetLocationElement:hover
{
	border:1px solid #ACACAC;
}
.planetLocationElement,.planetLocationElement_a
{
border:1px solid #2C2C2C;
margin-left:10px; 
margin-top:12px;
background-position:center center;
background-repeat:no-repeat;
padding:4px;
width:90px;
text-align:center;
height:58px;
float:left;
}

.planetLocationElement_a,.blueShadow
{
	-moz-box-shadow: 0px 0px 20px #0099ff;
    -webkit-box-shadow: 0px 0px 20px #0099ff;
    box-shadow: 0px 0px 20px #0099ff;
}

.planetLocationElement_a_rom
{
	-moz-box-shadow: 0px 0px 20px #59ff3e;
    -webkit-box-shadow: 0px 0px 20px #59ff3e;
    box-shadow: 0px 0px 20px #59ff3e;
}

.clockTitle
{
font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
font-size: 25px;
text-align: center;
text-shadow: 0 0 5px #00C6FF;
font-weight:bold;
}

.subTitleContainer
{
	position:absolute;
	width:460px;
	height:30px;
	bottom:60px;
	left:675px;
	text-align:center;
	background-color:black;
	border:1px solid white;
	text-align:center;
}

.popup
{
	z-index:10;
	display:none;
	top:50%;
	left:50%;
	position:absolute;
	padding:15px;
	font-size:13px;
}

#adder,#messageOfStatus,#helper
{

text-align:center;
border:1px solid #555;
background-color:rgba(0,0,0);
background-color:rgba(0,0,0,0.85);
font-family:Helvetica;
}

#adder 
{
width:420px;
height:300px;
margin-left:-225px;
margin-top:-150px;
}

#messageOfStatus{
width:400px;
height:550px;
padding:10px;
margin-left:-210px;
margin-top:-285px;
font-size:14px;
line-height:1.3em;
}

#messageOfStatus p{margin:0px; margin-bottom:5px; font-size:15px;}

.closingButton{position:absolute;top:8px;right:8px; height:20px; width:20px;}

#helper
{
width:550px;
height:350px;
margin-left:-275px;
margin-top:-175px;
display:block;
padding:0px;
}

#helper #next
{
height:250px;
float:right;
width:30px;
margin:0px;
background-color:#222;
background-image:url('../img/interface/index/icons/majorbn.png');
background-position:center center;
background-repeat:no-repeat;
}
#prev
{
height:250px;
float:left;
width:30px;
margin:0px;
background-color:#222;
background-image:url('../img/interface/index/icons/lmajorbn.png');
background-position:center center;
background-repeat:no-repeat;
}

#helper #next:hover{background-image:url('../img/interface/index/icons/major.png'); cursor:pointer;}
#helper #prev:hover{background-image:url('../img/interface/index/icons/lmajor.png'); cursor:pointer;}

#helper .content img {margin:10px;}
#helper .content div {margin:5px; font-size:15px; line-height:1.3em; text-align:justify; font-family:verdana;display:none;}

#helper .content
{
	width:480px;
	padding:5px;
	text-align:center;
	height:330px;
	float:left;
}

#locationInfo,#locationMap
{
	width:700px;
	height:420px;
	margin-left:-350px;
	margin-top:-210px;
	background-size:100% auto;
	background-position:center center;
	background-repeat:no-repeat;
}
#locationInfo p.clockTitle{text-align:center; margin:0px; font-size:22px;}
#locationInfo #locationDesc{text-align:justify; margin:auto; width:85%; margin-top:70px; height:250px; overflow-y:auto;}

#locationInfo #locationDesc p {margin:20px;}

#locationMap{width:560px; height:420px; text-align:center; margin-left:-290px; margin-top:-210px; }
.signaler
{
width:9px;
height:9px;
background-image:url('../img/charts/marker.gif');
position:relative;
}


#locationInfo p, #locationMap p{font-size:16px;}

#climate, #teleportPanel, #sessionsP,#privateP,#replimat,#dicePanel,#masterDicePanel
{
	text-align:center;
	border:2px solid #444; 
	font-family:Helvetica;
}

#replimat
{
	width:650px;
	height:600px;
	margin-left:-325px;
	margin-top:-300px; 
}

#climate
{
	width:250px;
	height:230px;
	margin-left:-125px;
	margin-top:-115px;
}
#teleportPanel
{
	width:590px;
	height:280px;
	margin-left:-300px;
	margin-top:-135px;
}

#dotazioner{
	width:590px;
	height:460px;
	margin-left:-300px;
	margin-top:-230px;
	text-align:center;
}

#sessionsP,#privateP
{
	width:450px;
	height:420px;
	margin-left:-225px;
	margin-top:-215px;
}

#dicePanel,#masterDicePanel{

	width:620px;
	font-family:Arial;
	height:300px;
	margin-left:-320px;
	margin-top:-150px;

}

.littleUserSign
{
	border-radius:10px;
	padding:2px;
	margin:5px;
	border:1px solid #333;
	float:left;
	width:55px;
	height:55px;
	background-size:65px 65px;
	cursor:pointer;
}

.littleUserSign:hover,.littleUserSign_active
{
	-moz-box-shadow: 0px 0px 30px var(--custom_section_tagcolor, #0099ff);
    -webkit-box-shadow: 0px 0px 30px var(--custom_section_tagcolor, #0099ff);
    box-shadow: 0px 0px 30px var(--custom_section_tagcolor, #0099ff); 
	border:1px solid var(--custom_section_tagcolor, #d7a436);
}

#oloRanker
{
	width:440px;
	height:160px;
	margin-left:-225px;
	margin-top:-80px;
	text-align:center;
	border:2px solid #444;
	font-family:Helvetica;
}


#commsub
{
	width:370px;
	height:95px;
	margin-left:-200px;
	margin-top:-62.5px;
	text-align:center;
	border:2px solid #444;
}

.blackOpacity
{
	background-color:rgba(0,0,0);
	background-color:rgba(0,0,0,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}


.chatAction,.subspaceCom,.commMessage,.chatQuotation,.chatQuotationAction,.chatUser{font-style:italic;}
.chatAction,.subspaceCom,.commMessage,.chatTag,.masterAction, .globalAction,.offAction,.auxAction, .tempMasterAction,.specificMasterAction,.oloMasterAction{font-weight:bold;}
.chatAction,.subspaceCom,.commMessage,.chatDirect{margin:0px;margin-top:4px;}
.chatAction,.subspaceCom,.commMessage{font-size:12px;}

.chatAction{color:#3188F3; line-height:1.3em;}
.subspaceCom,.commMessage{color:#ffefcc;}
.subspaceComPre,.commPreamble{font-size:11px;color:#e8a30e;}
.chatDirect{font-size:14px;color:#EEE;}
.chatInvisi{height:0px;}
.chatQuotation{color:#d7a436;}

.chatQuotationAction,.chatUser{color:#999;}

.chatTag{font-size:12px;color: var(--custom_section_tagcolor, #d7a436);}
.chatUser{margin-right:5px;}
.highlight{
text-shadow: 0 0 2px #47cd35;
color:#47cd35;
}

.turnElement{
	margin:0px;
	margin-top:2px;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	margin-left:3px;
	font-family:Helvetica;
}

.myTurnElement
{
	text-transform:uppercase;
}

.masterAction, .globalAction,.offAction,.auxAction,.specificMasterAction,.oloMasterAction,.diceAction
{
	padding:8px;
	border:1px solid;
	font-size:15px;
	margin:5px;
	text-align:center;
}
.masterAction .chatQuotation{color:#ff8989;}
.specificMasterAction .chatQuotation{color:#ffc286;}

.globalAction > div:first-child , .masterAction > div:first-child, .oloMasterAction > div:first-child, .offAction > div:first-child, .auxAction > div:first-child, .specificMasterAction   > div:first-child, .diceAction  > div:first-child, .oloMasterAction  > div:first-child {
float:left;
font-size: 10px;
margin-top:-8px;
margin-left:-8px;
padding: 3px 10px; 
border-bottom-width:1px;
border-right-width:1px;
border-bottom-style:solid;
border-right-style:solid;
}
.globalAction{border-color:#3188F3; color:#3188F3;}
.globalAction > div:first-child {background-color: #14335a; border-color:#3188F3; color:white;}

/*Master*/
.masterAction{border-color:red; color:#ff1717;}
.masterAction > div:first-child {background-color: #850000; border-color:red; color:white;} 

/*OFF*/
.auxAction, .oloMasterAction{border-color:#b3b3b3; color:#b3b3b3;}
.auxAction > div:first-of-type, .oloMasterAction > div:first-child {background-color: #333; border-color:#b3b3b3; color:white;} 
 
.offAction{border-color:#1db716; color:#1db716;}  
.offAction > div:first-child {background-color: #175a14; border-color: #1db716; color:white;}
 
.diceAction{border-color:#ff8a00; color:#ff8a00;}
.diceAction > div:first-child {background-color: #a95b00; border-color:#ff8a00; color:white;} 

.specificMasterAction{border-color:#c67729; color:#c67729;}  
.specificMasterAction > div:first-child {background-color: #8a5e09; border-color: #c67729; color:white;}
  
.imageAction{text-align:center; margin:5px;}
.imageAction img {border:0px; max-height:250px; border:1px solid #3188F3; padding:5px;}
.imaLer:hover, #MPIbtn.btnactive img.imaLer{border:1px solid #ff9900;}

#MPIbtn.btnnotify img.imaLer{border:1px solid red;}

.imaLer{border:1px solid black;}

#MPIbtn.btnon,#MPIbtn.btnactive,#MPIbtn.btnnotify {display:inline-block;}

#MPIbtn.btnhidden{display:none;}

#lateralMPI{
	position: absolute;
	left:auto; z-index: 4;
	border: 1px solid #ff9900;
	right: 130px;
	top: 50px;
	bottom: 100px;
	width: 400px;
	display: none;
	overflow-y: auto;
    border-radius: 20px 0px 0px 20px
} 
#multimediaInner div {border-bottom:1px solid #555; padding-bottom:10px; }

.blackOpacity img {vertical-align:middle;}

.directiveRemove{display:none;}

.diceOutcomeBox{

	clear:both;
	font-size: 15px;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    text-align: left;
	background-color:black;
	color:white;
	border:0px;
}


.diceOutcomeBox div{

	background-color:black;
	margin-top:5px;
	margin-left:10px;
	float:left; 
	border-right:1px solid #333;
padding:5px;

	padding-right:10px;
	width:140px;
	
}

.diceOutcomeBox img{
	width:30px;
	vertical-align: middle;
}

.diceOutcomeBox p.bar
{
	width:100%;
	height: 4px;
	margin:0;
	margin-bottom:5px;

}
.diceOutcomeBox div.S p.bar{
	background-color:#35971e;
}

.diceOutcomeBox div.F p.bar{
	background-color:#d72b2b;
}

.diceOutcomeBox div.FC p.bar{
	background-color:#42105f;
}

.diceOutcomeBox div.ND p.bar{
	background-color:#856f6f;
}

.diceOutcomeBox div.DF p.bar{
	background-color:#c1bf25;
	
}
.diceOutcomeBox div.SC p.bar{
	background-color:#1e7597;	
}

.diceOutcomeBox p.label{text-align:right; margin:0px; margin-top:4px; font-size:12px;}
.diceOutcomeBox div.ND p.label::after{color:#856f6f; content:'[ Dado non necessario ]';}
.diceOutcomeBox div.DF p.label::after{color:#c1bf25; content:'[ Fortuna Critica ]';}
.diceOutcomeBox div.FC p.label::after{color:#42105f; content:'[ Fall. Critico ]';}
.diceOutcomeBox div.F p.label::after{color:#d72b2b; content:'[ Fallimento ]';}
.diceOutcomeBox div.S p.label::after{color:#35971e; content:'[ Successo ]';}
.diceOutcomeBox div.SC p.label::after{color:#1e7597; content:'[ Succ. Critico ]';}

.diceOutcomeBox span.bmal::before{content:'[';}
.diceOutcomeBox span.bmal::after{content:']';}

.diceOutcomeBox div.DF span.bmal::before, .diceOutcomeBox div.DF span.bmal::after{
	color:#c1bf25;
}

.diceOutcomeBox div.S span.bmal::before, .diceOutcomeBox div.S span.bmal::after{
	color:#35971e;
}

.diceOutcomeBox div.F span.bmal::before, .diceOutcomeBox  div.F span.bmal::after{
	color:#d72b2b;
}

.diceOutcomeBox div.FC span.bmal::before, .diceOutcomeBox div.FC span.bmal::after{
	color:#42105f;
}

.diceOutcomeBox div.SC span.bmal::before, .diceOutcomeBox  div.SC span.bmal::after{
	color:#1e7597;	
}

.chatUser
{
cursor:pointer;
}

.repliLine{width:630px; margin:auto; height:auto;}
.repliLeft, .repliRight{margin:0px; font-weight:normal; text-align:center;  font-size:15px; font-weight:bold; display: inline-block; vertical-align:middle;}
.repliLeft img{vertical-align:middle; float:left; width:150px; display: table-cell; vertical-align:middle;}
.repliRight span{font-style:italic; color:white; font-weight:normal; font-size:11px;}
.repliLeft{width:150px;}
.repliRight{width:455px; margin-left:5px;}

#innerClima
{
position:absolute;
top:20px;
left:20px;
border:1px solid white;
height: 200px;
width:300px;
}

.lightBar{
height:5px;
width:80%;
margin-left:auto;
margin-right:auto;
border:2px solid black;
border-radius:13px;
}

@font-face{
font-family:'federationFont';
src: url('../fonts/Roddenberry.eot') format('eot');
src: url('../fonts/Roddenberry.woff') format("woff");
src: url('../fonts/Roddenberry.woff2') format("woff2");
src: url('../fonts/Roddenberry.ttf') format('truetype');
}

#cdbContainer
{
position:absolute;
top:40px;
left:50px;
width:93%;
margin-left:auto;
margin-right:auto;
height:90%;
overflow:auto;  
z-index:10;
}

#leftCol
{
	background-image:url('../img/interface/cdbInterface/10_filler_sx.png');
	background-repeat:repeat-y;
	width:45px;
	position:absolute;
	top:0px;
	height:100%;	
}

#leftC1
{
	background-image:url('../img/interface/cdbInterface/01_angolo_alto.png');
	width:123px;
	height:136px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}

#leftC3
{
	background-image:url('../img/interface/cdbInterface/11_angolo_basso.png');
	width:123px;
	height:332px;
	position:absolute;
	bottom:0px;
	z-index:2;
}

#supCol
{
	background-image:url('../img/interface/cdbInterface/02_filler_alto.png');
	background-repeat:repeat-x;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:26px;
}

#seclarBox
{
margin-left:124px;
margin-top:4px;
height:15px;
width:80px;
}

#pD 
{
	height:40px;
	position:absolute;
	right:0px;
	width:570px;
	top:0px;
}

#bartop2
{
	background-image:url('../img/interface/cdbInterface/04_finale_alto.png');
	width:149px;
	height:26px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:2;
}

#fillerBax
{	
	background-image:url('../img/interface/cdbInterface/12_filler_basso.png');
	background-repeat:repeat-x;
	position:absolute;
	bottom:0px;
	width:100%;
	height:15px;
	z-index:1;
}

#barbot1
{	
	background-image:url('../img/interface/cdbInterface/13_finale_basso.png');
	position:absolute;
	bottom:0px;
	right:0px;
	width:580px;
	height:15px;
}

#principaleBTN
{
background-image:url('../img/interface/cdbInterface/A.png');
background-position:top center;
width:109px;
height:34px;
float:left;
}

#calendarioBTN
{
background-image:url('../img/interface/cdbInterface/G.png');
background-position:top center;
width:113px;
height:34px;
float:left;
}
#sondaggiBTN
{
background-image:url('../img/interface/cdbInterface/F.png');
background-position:top center;
width:90px;
height:34px;
float:left;
}

#newsBTN
{
background-image:url('../img/interface/cdbInterface/B.png');
background-position:top center;
width:63px;
height:34px;
float:left;
}
#assegnazioniBTN
{
background-image:url('../img/interface/cdbInterface/C.png');
background-position:top center;
width:121px;
height:34px;
float:left;
}
#diarioBTN
{
background-image:url('../img/interface/cdbInterface/D.png');
background-position:top center;
width:71px;
height:34px;
float:left;
}
#guidaBTN
{
background-image:url('../img/interface/cdbInterface/E.png');
background-position:top center;
width:140px;
height:34px;
float:left;
}

.fpAdd{background-image:url('../img/interface/cdbInterface/plus_fp.png'); background-position:top center; width:23px; height:12px; margin-left:10px;}
#principaleBTN:hover, #newsBTN:hover,#sondaggiBTN:hover,#calendarioBTN:hover, #assegnazioniBTN:hover, #diarioBTN:hover, #guidaBTN:hover,.fpAdd:hover{background-position:bottom center;}
#principaleBTNbw{background-image:url('../img/interface/cdbInterface/bwA.png');background-position:top center;width:111px;height:34px;float:left;}
#newsBTNbw{background-image:url('../img/interface/cdbInterface/bwB.png');background-position:top center;width:97px;height:34px;float:left;}
#assegnazioniBTNbw{background-image:url('../img/interface/cdbInterface/bwC.png');background-position:top center;width:124px;height:34px;float:left;}
#diarioBTNbw{background-image:url('../img/interface/cdbInterface/bwD.png');background-position:top center;width:102px;height:34px;float:left;}


#pstAdva
{
    width: 630px;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: -362px;
    padding-top: 5px;
    font-family: arial;
    margin-top: 123px;
    background-color: rgba(1,1,1);
    background-color: rgba(1,1,1,0.9);
}


#pstSeclar
{
	width: 560px;
    height: 100px;
    position: absolute;
    border: 1px solid #444;
    border-radius:12px;
    left: 50%;
    margin-left: -333px;
    font-family: arial;
    padding-top: 37px;
    margin-top: 190px;
    background-color: rgba(1,1,1);
    background-color: rgba(1,1,1,0.7);
}

#guidePanel{
	font-size:13px;
	width:430px;
	height:400px;
	margin-top:-180px;
	margin-left:-220px; 
	padding:10px;
	border:1px
	solid #555;
	overflow-y:hidden;
}

#guidePanel a.interfaceLinkBlue, #guidePanel a.interfaceLink, #guidePanel a.interfaceLinkGreen,#guidePanel a.interfaceLinkRed  {
	font-size:14px !important;
}

#statusBox{display:none; border:1px solid #123258; z-index:10; padding:5px;  position:absolute; top:50px; right:300px; height:500px; width:425px; background-color:rgba(0,0,0,0.8); padding:10px; 	-moz-box-shadow: 0px 0px 20px #0099ff;
    -webkit-box-shadow: 0px 0px 20px #0099ff;
    box-shadow: 0px 0px 20px #0099ff;} 

#localizeBox{
	top:50px;
	left:100px;
    height: 580px;
    width: 482px;
	padding:10px;    
    background-image:url('../img/interface/localizer/cornice_localizzatore.png');
}

#statusContainer{height:460px; overflow-y: scroll; width:100%;} 
#statusContainer > div{ margin-top:10px; clear:both; cursor: pointer}
#statusContainer div div.di{ float:left;}
#statusContainer div div.dt{ float:left; width:86%; float:right; }

#statusContainer span.dater{color:#AAA; vertical-align:middle; font-style:italic; font-size:12px;}
#statusContainer img{ width:40px; height:40px; }
#statusContainer p{ font-size:14px; font-family:Arial;  margin:0px; margin-left:5px;}
#statusContainer p.sub{ font-size:12px; font-style:italic; color:#EEE; font-family:Arial;  margin:0px; margin-left:5px;}

#statusContainer p.sub span.seclarReadable{ color:var(--custom_section_color, #0077c3); font-size:11px;}
#statusContainer p.sub span.seclarUnReadable{ color:#b54412; font-size:11px;}

#statusContainer > div:hover{ background-color:rgba(81,145,166,0.7);}

span.eventParticip{
	margin-left:6px;
	display:inline-block; 
	width:30px;
	height:30px;
	box-shadow: 0px 0px 4px 1px white;
	cursor: pointer;
}

.eventParticip img{
	vertical-align:middle;
	width:100%;
	height:100%;
}

span.eventParticip.Comando_e_Strategia{
	box-shadow: 0px 0px 4px 1px #FF0000;
}
span.eventParticip.Ingegneria_e_Operazioni{    
	box-shadow: 0px 0px 4px 1px #f3c719;
}
span.eventParticip.Scientifica_e_Medica{    
	box-shadow: 0px 0px 4px 1px #29c1a6;
}
span.eventParticip.Difesa_e_Sicurezza{    
	box-shadow: 0px 0px 4px 1px #70ae20;
}
span.eventParticip.Navigazione{    
	box-shadow: 0px 0px 4px 1px #2b76e8;
}

span.eventParticip:hover {box-shadow: 0px 0px 4px 1px white !important;}

#calendarBox {font-size:13px; width:95%; text-align:left; position:absolute; bottom:5px; margin-top:5px;}
#calendarBox .clockTitle{border-bottom:1px solid #777; width:60%; margin:auto; margin-bottom:10px; padding-bottom:5px;}

.participationYes,.participationNo{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer; 
    margin-top: 4px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #222;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat; 
    display: inline-block;
}

.participationYes:hover{
	border-color:#14bb19;
	background-color: #054a07; 
}

.participationNo:hover{
	border-color:#bb1414;
	background-color: #4a0505; 
}


.participationYes img,.participationNo img{ vertical-align: middle;}
.participationYes{background-image: url('../img/interface/cdbInterface/main_yes_presence.png');}
.participationNo{background-image: url('../img/interface/cdbInterface/main_no_presence.png');}


span.participationYes,span.participationNo{
	display:inline-block;
}

textarea {font-size:13px;}

input:focus, select:focus, textarea:focus, button:focus
{
	color:white;
	border:1px solid white;
}

input:hover, select:hover, textarea:hover, button:hover
{
	color:white;
	border:1px solid white;
}
 
input[type=text].neon{ 
	border:0px;
	border-bottom:1px solid #666;
	padding:5px 3px;
}

input[type=text].neon:hover, input[type=text].neon:active, input[type=text].neon:focus{ 
	border-color:red;
	outline: none;
}
select.neon{border:0px; border-bottom:1px solid #0f2b4b;}
select.neon:hover,select.neon:focus,select.neon:active {border:0px; border-bottom:1px solid red;}

#localizeBoxHead,#localizeBoxTail{
	position:absolute;
	margin-left:105px;
	width:290px;
	text-align:center;
	font-family:Helvetica;
	font-weight:bold;
}

#localizeBoxHead
{
	text-transform:uppercase;
	margin-top:15px;
}
#localizeBoxTail{
	margin-bottom:15px;
	bottom:7px;
	font-size:13px;
}

.userRow{ margin:0px; }

.userRow img { vertical-align: middle; }
.userRow.rightCol a:hover {color:white;}
.rightCol
{ 
	font-size:13px;
	display:inline-block;
	float:right;
	font-family:Helvetica;
}
.leftCol
{ 
	display:inline-block;
	float:left;
	width:215px;
}

.leftCol .ranker{
	width:70px;
	margin-left:5px;
	text-align:left;
	margin-right:4.5px;
	margin-top:2.5px;
	background-repeat:no-repeat;
	height:15px; 
	float:left;
}
.leftCol .ranker.rOlo:after{
	content:url('../img/interface/3little_holoicon.png');
	
}

.online{
	border: 1px solid orange;
	color:#ffe138;
	position:relative;
	bottom:20px;
	left:5px;
	font-size:11px;
	text-align:center;
	border-radius:25px;
	width:15px;
	height:15px;
	padding:2px;}

.lockedIcon
{
	border:1px solid red;
	color:red;
	font-weight:bold;
	padding:2px 5px;
	margin-right:5px;
	width:30px;
	font-size:10px;
}

#localizeBoxContainer{
	margin-top:40px;
	margin-left:12px;
	margin-right:12px;
	padding:5px; 
	overflow-y:auto;
	height:500px;
}

.locBlock {margin-left: 20px; margin-top:10px; display: none; border-top:1px solid #444; padding-top:8px;}

.locControl { height:70px; margin-top:15px; }

.locControl_ship{ float:left; width:115px; text-align:center; height:60px; padding:3px; }
.locControl_shipName{ float:left; vertical-align:middle; padding-top:12px; }

.draggableSTFModal{
	-moz-box-shadow: 0px 0px 20px #0099ff;
    -webkit-box-shadow: 0px 0px 20px #0099ff;
    box-shadow: 0px 0px 20px #0099ff;
    display:none;
    position:absolute;
    z-index:10; 
    border-radius:11px;
    background-color:rgba(0,0,0,0.88);
    padding:5px;
    border:1px solid #123258;
}

#communicatorBox{
	top:80px;
	left:100px;
	width:640px;
	height:263px;
	background-image:url('../img/interface/commInterface/communicator_sfondo.png');
}

.leftButton{
	border-radius: 7px;
	border:1px solid #999;
	height: 25px;
	padding: 1px;
	margin: 4px 0px 4px 4px;
	background-color: black;
}

.sendcom {
	width: 80px; 
	height: 40px; 
	border-radius: 13px;  
	font-family: Roddenberry,federationFont;
	font-size:26px;
	background-color: transparent;
	transition-duration: 0.5s;
   	cursor: pointer; 
   	color: #a60808;
   	border-color: #a60808;
}

.sendcom:hover {
	color: green;
	border-color: green;
}

.sectioncolor{
	color: var(--custom_section_color, #0077c3);
	border-color: var(--custom_section_color, #0077c3);
}


#additionalVestDetail{width:99%; margin-top:10px; height:140px; border:1px solid #3188F3;}
#additionalVestDetailStatic{color:#AAA;}
#ordinaryVestDescription{margin-top:0px;}
#additionalVestImage{width:70%;}
#uniformBoxL{float:left; width:150px; height:270px; border:1px solid #333;}
#uniformBoxL p{float:left; margin:0px; margin-left:10px} 
#dscr{float:left; width:390px; font-family:Helvetica; overflow-y:auto; height:250px; border:1px solid #333; text-align:justify; margin-left:20px; font-size:14px; padding:10px;}
#currentDotazione {float:left; width:320px; padding:5px; font-size:13px; font-family: Helvetica}
#currentDotazione p {width:40px; height:40px; background-size:100%; background-repeat: no-repeat; background-position:center center; border:1px solid #666; border-radius:10px; padding:3px; display:block; margin-left:5px; float:left; cursor:pointer;}
#currentDotazione p:hover{border:1px solid white; -webkit-box-shadow: 0px 0px 5px 4px #0f2b4b; -moz-box-shadow: 0px 0px 5px 4px #0f2b4b; box-shadow: 0px 0px 5px 4px #0f2b4b; }
#addDotazione {float:left; width:250px; margin-top:35px !important; padding:5px; font-size:13px; font-family: Helvetica; margin-top:5px;}
#selecterAdd{width:150px;} 
#addDotazione input,#confirmer{margin-left:10px; height:20px; line-height:10px;} 

.NBT_Roddenberry,.BBbuttonList .send {
    	font-size: 20px;
		width:auto;
		border-radius: 15px;  
		font-family: Roddenberry, federationFont;
		background-color: black;
		transition-duration: 0.5s;
   		cursor: pointer; 
   		padding: 5px 15px;
   		letter-spacing: 2px;
   		font-weight:normal;
}

.NBT_Roddenberry.green{
	border-color:green;
	background-color: #0e210b;
}
.NBT_Roddenberry.green:hover, .BBbuttonList .send:hover {
	background-color: green;
	color: white;
}

.NBT_Roddenberry.red{
	border-color:#800000;
	background-color: #2b1212;
}
.NBT_Roddenberry.red:hover {
	background-color: #800000;
	color: white;
}

.NBT_Roddenberry.blue{
	border-color:#005180;
	background-color: #182246;
}
.NBT_Roddenberry.blue:hover {
	background-color: #005180;
	color: white;
}

.NBT_Roddenberry.gray {
	color:#666;
	cursor: auto;
}

.NBT_Roddenberry.gray:hover {
	border-color:#999;
}

.BBbuttonList .send{
	font-size:28px;
	height: 50px; 
	width: 100px; 
}

#commDestOpt optgroup {
	color: var(--custom_section_color,#ffcc00);
	text-decoration: underline;
}

#commDestOpt option {
	color: #ffffff; font-size: 14px;
}

#commMessage {
	width: 480px;
	height: 90px;
	border-radius: 12px;
	padding: 10px;
}

#fromToCommBox{
	float: left; width: 330px;
	text-align: center;
}

#fromToCommBox div.sectioncolor{
	text-transform: uppercase;
	font-size: 14px;
	height: 26px;
	font-family: Helvetica;
}

#commDestOpt{
	width: 245Px;
	margin-top: 8px;
}
.commAvatar{
	float: left;
	height:80px;
	width: 80px;
	border-radius: 12px;
	margin: 10px 2px 2px 2px;
}
#commDestImg{
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

#commLeft{
	width: 120px;
	float: left;
	text-align: center;
}
#commRight
{
	width:520px;
	height: 115px;
	float: left;
	margin-top: 20px;
}
