#federation_interfaceBottom{background-image:url('../img/interface/mainInterface/09fill_b.png');}
#federation_interfaceBottomLeft{background-image:url('../img/interface/mainInterface/08r.png');}
#federation_interfaceBottomRight{background-image:url('../img/interface/mainInterface/12r.png');}
#federation_interfaceTop{background-image:url('../img/interface/mainInterface/20fill_r.png');}
#federation_topRightPre{background-image:url('../img/interface/mainInterface/19r.png');}
#rightAlert{background-image:url('../img/interface/mainInterface/intruder-alert.gif');}
#leftAlert{background-image:url('../img/interface/mainInterface/intruder-alert.gif');}