.light1{
background: #000000; /* Old browsers */
background: -moz-linear-gradient(45deg, #000000 80%, #f7f065 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(80%,#000000), color-stop(100%,#f7f065)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, #000000 80%,#f7f065 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, #000000 80%,#f7f065 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, #000000 80%,#f7f065 100%); /* IE10+ */
background: linear-gradient(45deg, #000000 80%,#f7f065 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f7f065',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}