
/* /////////////////// INTERFACE */
a:hover
{
	color:white;
}

#locContainer
{
	font-family:Arial;
	width:500px;
	height:600px;
	position:absolute;
	top:0px;
	left:0px;
	background-image:url('../img/interface/localizer/cornice_localizzatore.png');
}
.row
{
	margin-top:5px;
}
.rightCol
{
	text-align:right;
	font-size:13px;
	font-family:Helvetica;
}
.leftCol
{
	text-align:left;
	width:240px;
}
#federation_interfaceContainer{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.online{	border: 1px solid orange;	color:#ffe138;	position:relative;	bottom:20px;	left:5px;		font-size:11px;	text-align:center;	border-radius:25px;	width:15px;	height:15px;	padding:2px;}

.lockedIcon
{border:1px solid red; color:red; font-weight:bold;  padding:2px; width:30px; font-size:10px;}

.container{margin-top:70px; margin-left:20px; margin-right:20px; padding:10px; height:480px; border:1px solid #333;}