.fluctuator{
position:absolute;
padding:15px;
border-radius:5px; 
font-family:Helvetica;
z-index:13;
max-width:350px;
text-align:justify;
border:1px solid #555;
font-size:14px;
background-color:rgba(0,0,0);
background-color:rgba(0,0,0,0.85);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6000000,endColorstr=#e6000000);

}
.fluctuator p{margin:0px; margin-bottom:5px; font-size:15px;}
.evidenceYelo{color:#FC0; font-size:11px; text-transform:uppercase; font-weight:bold;}

#tutorialArrow{z-index:10; position:absolute; top:-100px; left:-100px; width:25px; border-radius:10px; height:25px;  border:1px solid red; -moz-box-shadow: 0px 0px 20px red;
    -webkit-box-shadow: 0px 0px 20px red;
    box-shadow: 0px 0px 20px red;} 


#cdbContainer{    height: 700px !important;}

.clockTitle{font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;font-size: 25px;text-align: center;text-shadow: 0 0 5px #00C6FF;font-weight:bold;}
.blueShadow{-moz-box-shadow: 0px 0px 20px #0099ff;-webkit-box-shadow: 0px 0px 20px #0099ff;box-shadow: 0px 0px 20px #0099ff;}
#pd{width:569px !important;}