body{
	overflow:hidden;
	background-image:url('../img/interface/whisperInterface/cornice_sussurri.png');
	font-family:Arial;
	background-repeat:no-repeat;
	width:835px;
}

img{
	vertical-align:middle;
}

#chatBar
{
	margin-left:15px;
	height:40px;
	z-index:10;
	padding:5px;
}

#leftContainer
{
	width:622px;
	float:left;
}

#chatDiv
{
	margin-top:20px;
	margin-left:15px;
	height:500px;
	background-color: black;
	overflow-y:auto;
	font-family:Verdana, Helvetica, Arial;
	font-size:13px;
	color:#EEE;
}
#chatDiv p {margin:0px;margin-top:2px;}

#onlineList
{
	float:right;
	margin-top:25px;
	margin-right:0px;
	width:190px;
	height:580px;
}

.titleFS
{
    font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
    font-size: 26px;
	margin:0px;
    text-align: center;
    text-shadow: 0 0 5px #00C6FF;
	font-weight:bold;
}

.susChatMPUser,.susChatMPUserO,.susChatMPSeparator,.susChatMPUserA,.susChatMPUserG{font-weight:bold;font-size:13px;}
.susChatMPUser{color:#3188F3;}

.susChatMPUserA{color:#f33131;}
.susChatMPUserG{color:#31F367;}

.susChatMPUserO{color:#22ac7a;}
.susChatMPSeparator{color:#de0a0a;}
.susPrivate{color:#888; font-style:italic;}
.imageAction{text-align:center; margin:5px;}

.auxAction,.auxActionMaster
{
	padding:4px;
	border:1px solid;
	font-weight:bold;
	font-size:16px;
	margin:5px;
	text-align:center;
}

.auxAction{border-color:#ffcc00;color:#ffcc00;}
.auxActionMaster{border-color:#666;color:#666;}

.popup
{
position: absolute;
top: 50%;
left: 60px;
display:none;
width: 450px;
height: 240px;
background-color: rgba(0,0,0,0.9);
margin-top: -135px;
font-size: 13px;
border: 1px solid white;
padding: 10px;
font-family: Verdana;
}

.popup p {text-align:justify;}

.closeBTN{position:absolute; top:2px; right:2px; height:15px; width:15px; background-color:black; text-align:center; cursor:pointer; border:1px solid #AAA; padding:2px;}