body{
	overflow:hidden;
	background-image:url('../img/interface/whisperInterface/cornice_sussurri.png');
	font-family:Arial;
	background-repeat:no-repeat;
	width:835px;
}

img{
	vertical-align:middle;
}

#chatBar
{
	margin-left:15px;
	height:40px;
	z-index:10;
	padding:5px;
}

#leftContainer
{
	width:622px;
	float:left;
}

#chatDiv
{
	margin-top:20px;
	margin-left:15px;
	height:500px;
	background-color: black;
	overflow-y:auto;
	font-family:Verdana, Helvetica, Arial;
	font-size:13px;
	color:#EEE;
}
#chatDiv p {margin:0px;margin-top:2px;}

#onlineList
{
	float:right;
	margin-top:25px;
	margin-right:0px;
	width:190px;
	height:580px;
}

.titleFS
{
    font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
    font-size: 26px;
	margin:0px;
    text-align: center;
    text-shadow: 0 0 5px #00C6FF;
	font-weight:bold;
}

.susChatMPUser,.susChatMPUserO,.susChatMPSeparator,.susChatMPUserA,.susChatMPUserM,.susChatMPUserG{font-weight:bold;font-size:13px; cursor:pointer;}
.susChatMPUser{color:#3188F3; }

.susChatMPUserM, .gani_M::after{color:#ff3600;}
.susChatMPUserA, .gani_A::after{color:#d7b52f;}
.susChatMPUserG, .gani_G::after{color:#31F367;}
 
.gani_M::after, .gani_G::after, .gani_A::after,.gani_L::after
{
	font-size:11px; 
	margin-left:4px;
	font-style:italic;
 }

.susChatMPUserL, .gani_L::after{color:white; border:1px solid red; padding:2px; font-size:8px !important; }
.gani_A::after {content: '[A]';}
.gani_M::after {content: '[M]';}
.gani_L::after {content: 'LOCK';}
.gani_G::after {content: '[G]';}
	
		


.susChatMPUserO{color:#22ac7a;}
.susChatMPSeparator{color:#de0a0a;}
.susPrivate{color:#888; font-style:italic;}
.imageAction{text-align:center; margin:5px;}


.tagMatch{
    color: white;
    font-style: italic;
    /* display: inline-block; */
    background-color: #003455;
    border: 1px solid #0077c3;
    border-radius: 7px 7px 7px 7px;
    /* padding: 1px; */
    /* text-align: center; */
    /* height: 13px; */
    /* line-height: 13px; */
    /* margin-top: 5px; */
    padding-right: 5px;
}
.tagMatch:before{
    color: #003455;
    content: '@';
    font-weight: bold;
    /* display: inline-block; */
    border-radius: 7px 0px 0px 7px;
    padding: 2px 0px 0px 3px;
    /* margin-top: -5px; */
    /* padding-bottom: 0px; */
    border: 1px solid #2082ba;
    background-color: #0077c3;
    border-right-width: 2px;
    position: relative;
    /* line-height: 11px; */
    /* line-height: 9px; */
    left: -3px;
    /* height: 14px; */
    width: 4px;
    font-size: 10px;

}




.auxAction,.auxActionMaster
{
	padding:4px;
	border:1px solid;
	font-weight:bold;
	font-size:16px;
	margin:5px;
	text-align:center;
}

.auxAction{border-color:#ffcc00;color:#ffcc00;}
.auxActionMaster{border-color:#666;color:#666;}

.popup
{
position: absolute;
top: 50%;
left: 60px;
display:none;
width: 450px;
height: 270px;
background-color: rgba(0,0,0,0.9);
margin-top: -135px;
font-size: 13px;
border: 1px solid white;
padding: 10px;
font-family: Verdana;
}

.popup p {text-align:justify;}

.closeBTN{position:absolute; top:2px; right:2px; height:15px; width:15px; background-color:black; text-align:center; cursor:pointer; border:1px solid #AAA; padding:2px;}

#onlineUserList{
			height:500px;
			overflow-y auto; 
		}

#onlineUserList div{
			margin:2px 13px 2px 5px;
			padding:1px;
			cursor:pointer;
			border:1px solid #000;
		}


#onlineUserList div.activ{
			border:1px solid #294f82;
			background-color: #1a3252;
		}

 #onlineUserList div:hover{
 	border:1px solid #294f82;
			background-color: #222;
 }

#onlineList div span{
			font-size:13px;
			font-weight:bold;
}

