#federation_interfaceBottom{background-image:url('../img/interface/mainInterface/09fill_y.png');}
#federation_interfaceBottomLeft{background-image:url('../img/interface/mainInterface/08y.png');}
#federation_interfaceBottomRight{background-image:url('../img/interface/mainInterface/12y.png');}
#federation_interfaceTop{background-image:url('../img/interface/mainInterface/20fill_y.png');}
#federation_topRightPre{background-image:url('../img/interface/mainInterface/19y.png');}
#rightAlert{background-image:url('../img/interface/mainInterface/yellow-alert.gif');}
#leftAlert{background-image:url('../img/interface/mainInterface/yellow-alert.gif');}