<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/cdb.css?v=1.2.1" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/interface.css?v=1.7" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />

	<title>STAR TREK FEDERATION - CDB</title>
	
</head>

<body style="background-repeat:no-repeat; background-color:black; background-position:top center;">


<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		
		<div metal:use-macro="TEMPLATES/metal.htm/cdbHeading" />

	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
	</div>
	<div id="cdbContainer" >
		<div metal:use-macro="TEMPLATES/metal.htm/cdbIntro" />

<div style="font-size:12px; margin-left:5px; text-transform:uppercase; "><a href="cdb.php" class="interfaceLink">CDB</a> <span style="color:red; font-size:11px;">></span> <a class="interfaceLink" tal:attributes="href string:cdb.php?cat=${currentCat}"><span tal:content="currentCatNAme" /></a></div>

<div class="topicDiv">
	<form action="cdb.php" method="POST">
		<input name="cdbCartellaCreate" style="width:300px;" placeholder="Crea nuovo topic" required="required" type="text" class='neon' />  <input style="margin-left:10px; padding:5px;" type="submit" value="CREA" />
		
		<select style="margin-left:10px;" name="cdbColor" tal:condition="php:user.pgAuthOMA == 'SM' OR user.pgAuthOMA == 'A'"> 
			<option value="">- COLORE -</option> 
			<option value="topic_ext_red">ROSSO</option> 
			<option value="topic_ext_yellow">GIALLO</option> 
			<option value="topic_ext_orange">ARANCIO</option> 
			<option value="topic_ext_green">VERDE</option> 
			<option value="topic_ext_teal">TEAL</option> 
			<option value="topic_ext_violet">VIOLET</option> 
			<option value="topic_ext_indigo">BLU</option>  
			<option value="topic_ext_white">BIANCO</option>  
		</select>
		
		<select style="margin-left:10px;" name="cdbType" tal:condition="php:user.pgAuthOMA == 'SM' OR user.pgAuthOMA == 'A'"> 
			<option value="N">NORMALE</option> 
			<option value="A">ANNUNCIO</option> 
			<option value="I">IMPORTANTE</option> 
		</select>
		
		<!--<select style="margin-left:10px;" name="cdbOrder" tal:condition="php:user.pgAuthOMA == 'SM' OR user.pgAuthOMA == 'A'"> 
			<option value="0">- SLOT -</option> 
			<option tal:repeat="con php:range(1,20)" tal:attributes="value con" tal:content="string: SLOT ${con}" />
		</select>-->
		
		
		<select style="margin-left:10px;" name="cdbSeclar">
			<option tal:condition="php:(showSearchMaster)" tal:repeat="con php:range(1,9)" tal:attributes="value con" tal:content="string: SECLAR ${con}" />
			<option tal:condition="php:user.pgAuthOMA == 'N' OR user.pgAuthOMA == 'O' OR user.pgAuthOMA == 'G'" tal:repeat="con php:range(1,user.pgSeclar)" tal:attributes="value con" tal:content="string: SECLAR ${con}" />
		</select>
		
		
		<input type="hidden" name="catCode" tal:attributes="value currentCat" />
	</form>
		</div>

<div id="impI" class="topicDiv" tal:condition="php:(count(topicsI) > 0)">
<table style="width:96%; margin-left:auto; margin-right:auto; " align="center">
<tr><td style="border:1px solid #555; padding:4px; text-align:center" colspan="4"><img src="TEMPLATES/img/interface/importanti.png" /></td></tr>
	<tr tal:repeat="topic topicsI" class="topicline">
		<td style="width:20px;"><img tal:attributes="src php:(user.pgLastVisit GE topic['lastTstamp']) ? 'TEMPLATES/img/interface/indicator_off.gif' : (topic['lastTopicEvent'] == 'EDIT' ? 'TEMPLATES/img/interface/indicator_blue_on.gif' : 'TEMPLATES/img/interface/indicator_on.gif') ; title php:(user.pgLastVisit GE topic['lastTstamp']) ? 'Nessun Aggiornamento' : (topic['lastTopicEvent'] == 'EDIT' ? 'Uno o più post modificati' : 'Uno o più post inseriti')" /></td>
		<td class="topicTitle"><a tal:attributes="href string:cdb.php?topic=${topic/ID}; class string:topicImportant ${topic/classExt}" tal:content="topic/title"></a></td>
		<td class="topic topicUser" tal:content="topic/lastU" />
		<td class="topic topicDate" tal:content="topic/lastT" />
	</tr>
</table>
</div>

<div id="impA" class="topicDiv"  tal:condition="php:(count(topicsA) > 0)">
<table style="width:96%; margin-left:auto; margin-right:auto; " align="center">
<tr><td style="border:1px solid #555; padding:4px; text-align:center" colspan="4"><img src="TEMPLATES/img/interface/annunci.png" /></td></tr>
	<tr tal:repeat="topic topicsA" class="topicline">
		<td style="width:20px;"><img tal:attributes="src php:(user.pgLastVisit GE topic['lastTstamp']) ? 'TEMPLATES/img/interface/indicator_off.gif' : (topic['lastTopicEvent'] == 'EDIT' ? 'TEMPLATES/img/interface/indicator_blue_on.gif' : 'TEMPLATES/img/interface/indicator_on.gif') ; title php:(user.pgLastVisit GE topic['lastTstamp']) ? 'Nessun Aggiornamento' : (topic['lastTopicEvent'] == 'EDIT' ? 'Uno o più post modificati' : 'Uno o più post inseriti')" /></td>
		<td class="topicTitle"><a tal:attributes="href string:cdb.php?topic=${topic/ID}; class string:topicAnnounce ${topic/classExt}" tal:content="topic/title"></a></td>
		<td class="topic topicUser" tal:content="topic/lastU" />
		<td class="topic topicDate" tal:content="topic/lastT" />
	</tr>
</table>
</div>


<div id="impN" class="topicDiv"  tal:condition="php:(count(topicsN) > 0)">
<table style="width:96%; margin-left:auto; margin-right:auto; " align="center">
	<tr tal:repeat="topic topicsN" class="topicline">
		<td style="width:20px;"><img tal:attributes="src php:(user.pgLastVisit GE topic['lastTstamp']) ? 'TEMPLATES/img/interface/indicator_off.gif' : (topic['lastTopicEvent'] == 'EDIT' ? 'TEMPLATES/img/interface/indicator_blue_on.gif' : 'TEMPLATES/img/interface/indicator_on.gif') ; title php:(user.pgLastVisit GE topic['lastTstamp']) ? 'Nessun Aggiornamento' : (topic['lastTopicEvent'] == 'EDIT' ? 'Uno o più post modificati' : 'Uno o più post inseriti')" /></td>
		<td class="topicTitle"><a tal:attributes="href string:cdb.php?topic=${topic/ID}; class string:topicNormal ${topic/classExt}" tal:content="topic/title"></a></td>
		<td class="topic topicUser" tal:content="topic/lastU" />
		<td class="topic topicDate" tal:content="topic/lastT" />
	</tr>
</table>
</div>


	</div>
</div>
</body>
</html>