<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/cdb.css?v=1.2.1" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/interface.css?v=1.7" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110h.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=1.5.1"/>

	<title>STAR TREK FEDERATION - CDB</title>
	<style>
		.sbtn{
			border:1px solid #FFCC00;
			border-radius:6px;
			color:#FFCC00;
			font-size:12px;
			height:15px;
			line-height: 15px;
			width:80px;
			padding:2px 5px; 

			margin-left:5px;
			text-align:center;
			text-transform: uppercase;

		}
		.sbtn:hover{background-color:#FFF; color:black !important;}
	</style>
</head>

<body style="background-repeat:no-repeat; background-color:black; background-position:top center;">


<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		
		<div metal:use-macro="TEMPLATES/metal.htm/cdbHeading" />

	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
	</div>
	<div id="cdbContainer" >
	<div metal:use-macro="TEMPLATES/metal.htm/cdbIntro" />

	<div style="font-size:12px; margin-left:5px; text-transform:uppercase; "><a href="cdb.php" class="interfaceLink">CDB</a> <span style="color:red; font-size:11px;">></span> <a class="interfaceLink" tal:attributes="href string:crew.php">EQUIPAGGI</a> <span style="color:red; font-size:11px;">></span> <span style="text-transform:uppercase;" class="interfaceLink" tal:content="place/placeName" /></div>

<div style="width:auto; border:1px solid white; margin-top:10px; height:120px;">
		<div style="float:left; width:200px; height:100%;"><img src="TEMPLATES/img/logo/${place/placeLittle}" /></div>
		<div style="margin-right:20px;  text-align:center; font-family:Arial; font-variant:small-caps; font-width:bold; margin-left:210px; height:100%;">
			<p style="font-size:28px;" tal:content="place/placeName"/>
			<p style="font-size:18px; font-style:italic;" tal:content="place/placeMotto"/> 
			<p style="font-size:14px; text-align:right; position:relative; font-style:italic;" tal:content="structure place/placeClass"/>
			<p style="font-size:14px; text-align:right;  font-style:italic;">
				<img tal:attributes="src string:TEMPLATES/img/ranks/${place/uniform}.png" style="vertical-align:middle;" />
				<span tal:content="structure place/commander" />
			</p>
		</div>	
		
		<div id='cdber' style="position:absolute; top:90px; left:210px; text-align:right;">
			<p style="margin:0px; margin-top:5px;"><a tal:attributes="href string:cdb.php?cat=${place/catGDB}"><img src="TEMPLATES/img/interface/tdisposizioni_2.png" /></a></p>		
			<p style="margin:0px; margin-top:5px;"><a tal:attributes="href string:cdb.php?cat=${place/catDISP}"><img src="TEMPLATES/img/interface/tgiornale_2.png" /></a></p>
			<p style="margin:0px; margin-top:5px;"><a tal:attributes="href string:cdb.php?cat=${place/catRAP}"><img src="TEMPLATES/img/interface/trapporti_2.png" /></a></p>
		</div>
</div>

	
<div id="local" class="topicDiv">
<table cellspacing="3px" style="width:96%; margin-left:auto; text-align:center; margin-right:auto; font-family:Helvetica; font-size:14px;" align="center">
<tr><td style="border:1px solid #555; padding:4px; text-align:center" colspan="3" tal:content="string:PERSONALE ASSEGNATO A: ${place/placeName}"></td></tr>
<tr><td style="border:1px solid #555; v-align:middle; padding:4px; text-align:center" colspan="3">
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&section=CS" style="border-color:red; color:red;">COM</a>
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&section=DS" style="border:1px solid #6fbf22; color:#6fbf22;">DIF</a>
<a class="interfaceLink sbtn " tal:attributes="href string:crew.php?equi=${equi}&section=OP" style="">OPS</a>
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&section=SC" style="border:1px solid teal; color:teal;">SCI</a>
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&section=NA" style="border:1px solid #2264bf; color:#2264bf;">NAV</a> <span style="margin-left:10px;">|</span>
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&ranks=OFplus" style="border:1px solid white; color:white;">Ufficiali Superiori</a>
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&ranks=OF" style="border:1px solid white; color:white;">Ufficiali</a>
<a class="interfaceLink sbtn" tal:attributes="href string:crew.php?equi=${equi}&ranks=sOF" style="border:1px solid white; color:white;">Sottufficiali</a>
<p style="margin-top:5px;">
<a class="interfaceLink" tal:attributes="href string:crew.php?equi=${equi}&ranks=ENT" title="Entertainer"><img src="TEMPLATES/img/interface/personnelInterface/i_entertainer.png" /></a> <a class="interfaceLink" tal:attributes="href string:crew.php?equi=${equi}&ranks=GUI" title="Guide"><img src="TEMPLATES/img/interface/personnelInterface/i_guide.png" /></a>  <a class="interfaceLink" tal:attributes="href string:crew.php?equi=${equi}&ranks=JM" title="Junior Master"><img src="TEMPLATES/img/interface/personnelInterface/i_juniormaster.png" /></a> <a class="interfaceLink" tal:attributes="href string:crew.php?equi=${equi}&ranks=M" title="Master Ordinario"><img src="TEMPLATES/img/interface/personnelInterface/i_imaster.png" /></a> <a class="interfaceLink" tal:attributes="href string:crew.php?equi=${equi}&ranks=GM"><img src="TEMPLATES/img/interface/personnelInterface/iglobal_master.png" title="Master Globale" /></a></p>
</td></tr>
<tr><td style="border:1px solid #555; padding:4px; text-align:center" colspan="3" tal:condition="php:(user.pgAuthOMA == 'M' || user.pgAuthOMA == 'A' || user.pgAuthOMA == 'SM')" ><a onclick="jQuery('.morer').fadeIn(200);" href="#" class="interfaceLink">Comandi di Servizio</a></td></tr>
	<tr style="height:10px;"><td></td></tr>
	<tr tal:repeat="person personale/MIL">
		<td style="width:100px; border:1px solid #111;"><img style="vertical-align:middle;" tal:attributes="src string:TEMPLATES/img/ranks/${person/pgMostrina}.png ; title string:${person/pgGrado} - Sezione ${person/pgSezione}" /> <img style="vertical-align:middle; vertical-align:middle;" tal:attributes="src php:(person['pgSesso'] == 'M') ? 'TEMPLATES/img/specie/' . person['pgSpecie'] . '_m.png' : ((person['pgSesso'] == 'F') ? 'TEMPLATES/img/specie/' . person['pgSpecie'] . '_f.png' : 'TEMPLATES/img/specie/' . person['pgSpecie'] . '_t.png' ) ; title php:(person['pgSesso'] == 'M') ? person['pgSpecie'] . ' - Maschio' : ((person['pgSesso'] == 'F') ? person['pgSpecie'] . ' - Femmina' : person['pgSpecie'] . ' - Terzo Genere' )"  /></td>
		<td style="text-align:left; padding-left:5px;"><a class="interfaceLink" tal:attributes="href string:javascript:schedaPOpen(${person/pgID}) ; style php:(person['png']) ? 'color:#555' : '' ; title php:(userSL) ? 'ULTIMO LOGIN: ' . date('d-m-Y H:i:s',person['pgLastAct']) : ''" tal:content="person/pgUser" /> 
		
		<div tal:condition="php:(user.pgAuthOMA == 'A' || user.pgAuthOMA == 'SM')" class="morer" style="display:none; float:right;">
			<a tal:attributes="href string:service.php?place=${place/placeID}&bavosize=${person/pgID}" style="border:1px solid yellow; color:white; font-size:10px; padding:2px;" onclick="return confirm('Conferma Operazione');" tal:condition="php:(user.pgAuthOMA == 'A' || user.pgAuthOMA == 'SM')">Bv</a>
			<a tal:attributes="href string:service.php?place=${place/placeID}&delete=${person/pgID}" style="border:1px solid red; color:white; font-size:10px; padding:2px;" onclick="return confirm('Conferma Operazione');" tal:condition="php:(user.pgAuthOMA == 'A')">De</a>
		</div></td>
		
		<td style="border:1px solid #111;" tal:content="structure person/pgIncarico">INCARICO</td>
	</tr>
	<tr style="height:10px;"><td></td></tr>
	<tr><td style="border:1px solid #555; padding:4px; text-align:center" colspan="3"><a onclick="jQuery('.civiler').fadeIn(200);" href="#" class="interfaceLink" tal:content="string:GIOCATORI NON ATTIVI - ${place/placeName}"/></td></tr>
	<tr style="height:10px;"><td></td></tr>
		
	<tr class="civiler" tal:repeat="person personale/CIV" style="display:none;">
		<td style="width:100px; border:1px solid #111;"><img style="vertical-align:middle;" tal:attributes="src string:TEMPLATES/img/ranks/${person/pgMostrina}.png ; title string:${person/pgGrado} - Sezione ${person/pgSezione}" /> <img style="vertical-align:middle; vertical-align:middle;" tal:attributes="src php:(person['pgSesso'] == 'M') ? 'TEMPLATES/img/specie/' . person['pgSpecie'] . '_m.png' : ((person['pgSesso'] == 'F') ? 'TEMPLATES/img/specie/' . person['pgSpecie'] . '_f.png' : 'TEMPLATES/img/specie/' . person['pgSpecie'] . '_t.png' ) ; title php:(person['pgSesso'] == 'M') ? person['pgSpecie'] . ' - Maschio' : ((person['pgSesso'] == 'F') ? person['pgSpecie'] . ' - Femmina' : person['pgSpecie'] . ' - Terzo Genere' )"  /></td>
		<td style="text-align:left; padding-left:5px;"><a class="interfaceLink" tal:attributes="href string:javascript:schedaPOpen(${person/pgID}) ; style php:(person['png']) ? 'color:#555' : '' ; title php:(userSL) ? 'ULTIMO LOGIN: ' . date('d-m-Y H:i:s',person['pgLastAct']) : ''" tal:content="person/pgUser" /> 
		
		<div tal:condition="php:(user.pgAuthOMA == 'M' || user.pgAuthOMA == 'A' || user.pgAuthOMA == 'SM')" class="morer" style="display:none; float:right;">
			<a tal:attributes="href string:service.php?place=${place/placeID}&mostrina=${person/pgID}" style="border:1px solid #2593ef; color:white; font-size:10px; padding:2px;" tal:condition="php:( person['pgGrado'] == 'Civile' && (user.pgAuthOMA == 'M' || user.pgAuthOMA == 'A' || user.pgAuthOMA == 'SM'))">Mostrina</a>
			<a tal:attributes="href string:service.php?place=${place/placeID}&bavosize=${person/pgID}" style="border:1px solid yellow; color:white; font-size:10px; padding:2px;" onclick="return confirm('Conferma Operazione');" tal:condition="php:(user.pgAuthOMA == 'A' || user.pgAuthOMA == 'SM')">Bv</a>
			<a tal:attributes="href string:service.php?place=${place/placeID}&delete=${person/pgID}" style="border:1px solid red; color:white; font-size:10px; padding:2px;" onclick="return confirm('Conferma Operazione');" tal:condition="php:(user.pgAuthOMA == 'A')">De</a>
		</div></td>
		
		<td style="border:1px solid #111;" tal:content="structure person/pgIncarico">INCARICO</td>
	</tr>
</table>
</div>

	</div>
</div>
</body>
</html>