<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link tal:condition="php:user.getCTS()" tal:attributes="href php:'TEMPLATES/css/' . user.getCTS() . '?v=' . gameOptions['numericVersion'] " rel="stylesheet" type="text/css" />	
	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/interface.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<link href="TEMPLATES/css/anythingslider_green.css" rel="stylesheet" type="text/css" />


	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<!--<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />-->
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/jquery-scroller-v1.min.js"></script>
	<script type="text/javascript" src="TEMPLATES/js/jquery.anythingslider.min.js"></script>

	<title>STAR TREK FEDERATION - CDB</title>


	<script type="text/javascript">
		jQuery(function(){
			jQuery('.interButton').button();

			jQuery('#caSli').anythingSlider({
			 buildArrows         : false,
			 buildNavigation     : true,  
			 buildStartStop      : false, 
			 enableArrows        : false
			});
			
			$( "#searchKey" ).autocomplete({
			source: "ajax_UserSearch.php",
			minLength: 2,
			});
			
			$('.vertical_scroller').SetScroller({	velocity: 80, direction: 'vertical'  });
		});
		
		function searcher(){

			jQuery('#searchBox').animate({height: "50px",queue: 'false;'},300);
			jQuery('#searchBox').animate({opacity: "1",queue: 'false;'},300);
			jQuery('#searchKey').foucs();
			
		}
		
	
	</script>
	

</head>
<style>
	.testoNews{margin:0px; font-size:13px; margin-top:10px; height:235px;  line-height:20px; padding-right:10px; overflow-y:auto; text-align:justify; font-family:Arial;}
</style>
<body>
<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		
		<div metal:use-macro="TEMPLATES/metal.htm/cdbHeading" />
		
		
	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
	</div>

	
	<div id="cdbContainer" style="overflow:hidden;">
	<div metal:use-macro="TEMPLATES/metal.htm/cdbIntro" />
	
	<div>

	<div style="width:900px; padding:10px; text-align:center; opacity:0; height:0px;" id="searchBox" class="radiusBordered">
<form action="cdb.php" method="POST">
<input type="text" required="required" placeholder="Ricerca" name="searchKey" id="searchKey" class="neon" style="width:70%"/> 
<select name="searchPattern" style="margin-top:4px; border:0px;">
	<option value="DBS1">Nel CDB (una parola) </option>
	<option value="DBS2">Nel CDB (tutte le parole) </option>
	<option value="DBS3">Nel CDB (frase esatta) </option>
	<!--<option value="USR">Scheda PG</option>-->
	<option value="AUT">Per Autore</option>
	<option value="PGG">Scheda PG</option>
	<!--<option tal:condition="php:(showSearchMaster == 'yes')" value="MAS">Master</option>-->
</select> <input type="submit"  style="height:21px; padding:2px; font-size:13px; letter-spacing:2px; "  class="interButton" value="CERCA" />
</form>
</div>


<div style="position:relative;">
	<div style="position:absolute; background-color:black; border:1px solid #333; top:-10px; left:30px; width:auto; padding:3px 10px; z-index:10;">
		<a tal:attributes="href string:cdb.php?aggregator=${positionSelector/placeID}" class="interfaceLink" style="font-size:16px; font-family:federationFont; text-transform:uppercase; font-weight:normal;" tal:content="string:${positionSelector/placeName} "></a>
	</div>


	<div id="local" style="border:1px solid #666; width:910px; min-width:300px; overflow:hidden; height:170px;" class="radiusBordered_f">
	
	 
	<div style="margin-top:0px;">  

		<div style="float:left; margin-top:20px; text-align:center; width:120px; padding:5px;">
			<img width="120px;" tal:attributes="src string:TEMPLATES/img/logo/${positionSelector/placeLogo}" />
			<!--<p style="margin-top:5px;"><a onclick="searcher();" href="javascript:void(0);" style="vertical-align:middle;" ><img style="vertical-align:middle;" src="TEMPLATES/img/interface/cdbInterface/ricerca.png" alt="Ricerca" title="Ricerca"/></a></p>-->

		</div>
		<div style="float:left; margin-left:10px; margin-top: 45px; width:120px; padding:5px;">
			<p style="margin-top:5px;"><a tal:attributes="href string:cdb.php?cat=${positionSelector/catGDB}"><img src="TEMPLATES/img/interface/tdisposizioni.png" /></a></p>
			<p style="margin-top:5px;"><a tal:attributes="href string:cdb.php?cat=${positionSelector/catDISP}"><img src="TEMPLATES/img/interface/tgiornale.png" /></a></p>
			<!--<p style="margin-top:5px;"><a tal:attributes="href string:cdb.php?cat=${positionSelector/catRAP}"><img src="TEMPLATES/img/interface/trapporti.png" /></a></p>-->

			<p style="margin-top:5px;"><a class="interfaceLink" href="javascript:void(0);" onclick="searcher();"><img src="TEMPLATES/img/interface/tricerca.png" /></a></p>
		</div>
		
		<div style="float:left; margin-left:35px; margin-top: 0px; width:575px; padding:5px;">
			
			<div  style="margin-top:5px; padding:5px; padding-left:7px; border:0px solid #111;" class="radiusBordered_f">
			<table id="longLocTable" style="width:100%;">
			<tr tal:repeat="topic lastTopicsLOC" class="topicline">
				<td style="width:20px;"><img tal:attributes="src php:(topic['seen']) ? 'TEMPLATES/img/interface/indicator_off.gif' : (topic['lastTopicEvent'] == 'EDIT' ? 'TEMPLATES/img/interface/indicator_blue_on.gif' : 'TEMPLATES/img/interface/indicator_on.gif') ; title php:(user.pgLastVisit GE topic['lastTstamp']) ? 'Nessun Aggiornamento' : (topic['lastTopicEvent'] == 'EDIT' ? 'Uno o più post modificati' : 'Uno o più post inseriti')" /></td>
				<td tal:attributes="class php:(topic['topicType'] == 'I') ? 'topicImportant topicTitle': 'topicNormal topicTitle'"><a tal:attributes="href string:cdb.php?topic=${topic/ID}; class topic/classExt" tal:content="topic/titleL" style="font-size:13px;"></a></td>

			
				<td class="topic" style="width:180px; text-align:right;"><span style="font-size:13px;" tal:content="topic/lastU"/>, <span style="font-size:11px;" tal:content="topic/lastT"/></td>
			</tr>
			</table>
			
			</div>
		</div>

	</div>

	

	<!--<div id="newsFeed" style="float:left; width:190px; height:150px; margin-left:20px; margin-top:20px; padding:5px;">
		<p style="text-align:center; font-size:11px; color:#2f82b7"> EVENTI MASTER GLOBALI <img src="TEMPLATES/img/interface/personnelInterface/info.png" title="Quì vengono inseriti dai master gli eventi master che coinvolgono tutto l'equipaggio, o una buona parte di esso." /></p>
		
		<marquee height="150px" direction="up" scrollamount= "1" scrolldelay= "1" onmouseover='this.stop()' onmouseout='this.start()'>
		<p tal:repeat="news newsMas" style="margin-top:5px; font-size:12px; text-align:justify; font-family:Helvetica; line-height:18px;"><span style="font-weight:bold; color:#666" tal:content="php:date('d-m',news['time']) . '-' . (date('Y',news['time'])+368)"/> <span style="font-weight:bold;  color:#2f82b7" tal:content="news/title"/> - <span style="font-style:italic;" tal:content="news/content" /></p>
		</marquee>
	</div>-->  
	
	</div>
</div>


<div id="search" style="border:1px solid #666; float:left; margin-left:5px; right:10px; display:none; padding-top:13px; padding:5px;" class="radiusBordered_f"> 
<p style="text-align:center;"><img src="TEMPLATES/img/interface/ricerca.png" /></p>
<div style="margin-top:10px;">
</div>

<p style="text-align:center; color:#2190c4; font-variant:small-caps; margin-top:10px;">- Pattern di Ricerca -</p>

<p><a href="cdb.php?meSearch=1" class="interfaceLink"> » Post scritti da me </a></p>
<p><a href="cdb.php?meSearch=2" class="interfaceLink"> » Post che parlano di me </a></p>

</div></div><div style="clear:both;" />  
  



<div style="margin-top:20px;">

	

	<div style="float:left; width:530px; height:300px; margin-top:10px; border:1px solid #333; position:relative;"  class="radiusBordered_f">

		<div style="position:absolute; background-color:black; border:1px solid #333; top:-10px; left:30px; width:auto; padding:3px 10px; z-index:10;">
		<span tal:content="string:eventi master ${positionSelector/placeName}" style="font-size:16px; font-family:federationFont; text-transform:uppercase; "></span>
		</div>

		<div style="margin-top:25px;">
			<ul id="caSli" style="width:100%; height:235px; padding:0px; margin:0px; ">
			<li tal:repeat="not newsMas">
				<p class="titoloarticolo" style="text-align:center; margin:0px; font-size:22px;" tal:content="not/title" />
				<p class="testoNews"><span style="font-weight:bold;" tal:content="not/datum" />&nbsp;&nbsp;<span tal:content="structure not/content"/> <a class="interfaceLinkRed" tal:attributes="href string:cdb.php?deleteMasterEvent=${not/recID}" tal:condition="php:(showSearchMaster == 'yes')" onclick="javascript:return('Confermi l\'Operazione?');"> [Cancella] </a> </p>

			</li>
			</ul>	
		</div>
	</div>


	<div style="float:left; margin-left:10px; border-left:3px solid #333; padding-left:10px; width:370px;" class='cdbAggregator'>
  
		<!--<p style="text-align:center;"><img src="TEMPLATES/img/interface/cdbInterface/computer_globale.png"></img></p>-->
		<a href="cdb.php?aggregator=FL">
			<div class="radiusBordered_f forumBox FL">
				<div tal:attributes="class php:((superCatsCounts['FL']) ? 'notifierBox' : 'notifierBox zero')" ><p tal:content="superCatsCounts/FL" >16</p> </div>
				<img src="TEMPLATES/img/interface/forum-flotta.png" />
			</div>
		</a>

		<a href="cdb.php?aggregator=CIV">
			<div class="radiusBordered_f forumBox CIV">
				<div tal:attributes="class php:((superCatsCounts['CIV']) ? 'notifierBox' : 'notifierBox zero')"><p tal:content="superCatsCounts/CIV" >16</p> </div>
				<img src="TEMPLATES/img/interface/forum-civili.png" />
			</div>
		</a>

		<a href="cdb.php?aggregator=HE">
			<div class="radiusBordered_f forumBox HE">
				<div tal:attributes="class php:((superCatsCounts['HE']) ? 'notifierBox' : 'notifierBox zero')" ><p tal:content="superCatsCounts/HE" >16</p> </div>
				<img src="TEMPLATES/img/interface/forum-aiuto.png" />
			</div>
		</a>

		<a href="cdb.php?aggregator=MA" tal:condition="php:(showSearchMaster == 'yes')" >
			<div class="radiusBordered_f forumBox MA">
				<div tal:attributes="class php:((superCatsCounts['MA']) ? 'notifierBox' : 'notifierBox zero')"><p tal:content="superCatsCounts/MA">16</p> </div>
				<img src="TEMPLATES/img/interface/forum-master.png" />
			</div>
		</a>

	</div>  
</div>




	</div>
</div>
</body>
</html>