<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/cdb.css?v=1.2.1" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/interface.css?v=1.7" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />

	<title>STAR TREK FEDERATION - CDB</title>
	
	<script type="text/javascript">
	function setLittle(variant,name,motto,classe,p1,p2,p3,commander,mostriner)
	{	
		jQuery('#littleAssign').prop('src',variant);
		jQuery('#textAssign').html(name);
		jQuery('#textMotto').html(motto);
		jQuery('#textClass').html(classe);
		
		if(commander != '')
		{jQuery('#commander').html(commander); 
		jQuery('#mostriner').attr('src','TEMPLATES/img/ranks/'+mostriner+'.png'); 
		}
		else
		{
		jQuery('#commander').html(''); 
		jQuery('#mostriner').attr('src',''); 
		}
		
		jQuery('#cdber').css('display','block');
	}
	</script>
</head>

<body style="background-repeat:no-repeat; background-color:black; background-position:top center;">


<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		
	<div metal:use-macro="TEMPLATES/metal.htm/cdbHeading" />

	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
	</div>
	<div id="cdbContainer" >
	
	<div metal:use-macro="TEMPLATES/metal.htm/cdbIntro" />
	<div style="font-size:12px; margin-left:5px; text-transform:uppercase; "><a href="cdb.php" class="interfaceLink">CDB</a> <span style="color:red; font-size:11px;">></span> <a class="interfaceLink" href="crew.php">EQUIPAGGI</a></div>
	
	<div style="width:auto; border:1px solid white; margin-top:10px; height:120px;">
		<div style="float:left; width:200px; height:100%;"><img id="littleAssign" /></div>
		<div style="margin-right:20px;  text-align:center; font-family:Arial; font-variant:small-caps; font-width:bold; margin-left:210px; height:100%;">
			<p id="textAssign" style="font-size:28px;"/>
			<p id="textMotto" style="font-size:18px; font-style:italic;"/>
			<p id="textClass" style="font-size:14px; text-align:right; font-style:italic; position:relative;"/>
			<p style="font-size:14px; text-align:right;  font-style:italic;">
				<img id="mostriner" style="vertical-align:middle;" />
				<span id="commander" />
			</p>
		</div>	
	</div>
	
	
	<div style="margin-top:20px;">
	
	<a tal:repeat="place places" tal:attributes="href string:crew.php?equi=${place/placeID}"><div class="littleShipLogo" tal:attributes="title place/placeName ; onmouseover string:javascript:setLittle('TEMPLATES/img/logo/${place/placeLittle}','${place/placeNameE}','${place/placeMotto}','${place/placeClass}','${place/catGDB}','${place/catDISP}','${place/catRAP}','${place/commander}','${place/uniform}');" onmouseout="jQuery('#cdber').css('display','none')"><img tal:attributes="src string:TEMPLATES/img/logo/${place/placeLogo}" width="150px" /></div></a>
	
	</div>
	
	 </div>
	

</div>
</body>
</html>