<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link tal:attributes="href string:TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link tal:attributes="href string:TEMPLATES/css/db.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/leaflet.css?v=${gameOptions/numericVersion}." rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/charts_n.css?v=${gameOptions/numericVersion}." rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="TEMPLATES/js/leaflet.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/jquery.overscroll.js"></script>
	
	<script src="TEMPLATES/js/chart_delta.js?v=${gameOptions/numericVersion}.57" />

	<title>FEDERATION - CHARTS </title>	
</head>

<body style="background-repeat:no-repeat; background-color:black;">

<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	<div id="supCol">
		<div id="supLeft" />
		<div id="supRight" />
	</div>
	<div id="fillerBax">
		<div id="barbot1" />
		<div id="barbot2" />
	</div>
</div>

<div id="sectorMap">
	<div id="map" tal:attributes="data-xpos yPos/0 ; data-ypos yPos/1 ; data-imagery php:(subChart == 'D') ? 'exoDelta7' : 'exo7' ; data-sector subChart"></div>
</div>

	<div style="position:absolute; top:0px; right:80px; z-index:10;" >
		<a tal:condition="php:(subChart == 'D')" href="chart.php?ct=A"><div id="alphaBTN" class="btn" /></a>
		<a tal:condition="php:(subChart == 'A')" href="chart.php?ct=D"><div id="deltaBTN" class="btn" /></a>
		<div id="Bbtn" class="btn" tal:attributes="onclick string:javascript:setPosition(${yPos/0},${yPos/1});" />
		<div id="Abtn" class="btn" onclick="jQuery('#searcher').fadeIn(200);" />
	</div>

	<div id="searcher" class="opacityBack">
		<input id="systemSearcher" name="goer" type="text" style="width:230px;" placeholder="Ricerca" class="radiusBordered12 searchField" />
		<button id="introb" onclick="javascript:lookerUp()" >VAI</button>
	</div>

	<script tal:content="structure string:jQuery(function(){addMarkersFromJSon('${markers}')});" />

</body>
</html>