<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/leaflet.css?v=${gameOptions/numericVersion}." rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/charts_n.css?v=${gameOptions/numericVersion}." rel="stylesheet" type="text/css" />

	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" /> 
	
	<script type="text/javascript" src="TEMPLATES/js/leaflet.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/jquery.overscroll.js"></script>
	<script tal:content="string:jQuery(function(){initiate(${yPos/0},${yPos/1});}); "/>
	<script tal:condition="php:(subChart == 'D')" src="TEMPLATES/js/chart_delta.js?v=${gameOptions/numericVersion}.57" />
	<script tal:condition="php:(subChart == 'A')" src="TEMPLATES/js/charts.js?v=${gameOptions/numericVersion}" />
	
	<style type="text/css">
		.ui-autocomplete {
		max-height: 120px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 1px;
	}
	
	.ui-autocomplete li {
		height:25px;
		padding:2px;
		font-size:12px;
	}
	
	* html .ui-autocomplete {
		height: 120px;
	}
	</style>
	
	<title>FEDERATION - CHARTS </title>	
</head>

<body>

<div id="mainDatabase" style="position:relative;">

	<div style="position:absolute; top:0px; right:80px; z-index:10;" >
		<a tal:condition="php:(subChart == 'D')" href="chart.php?ct=A"><div id="alphaBTN" class="btn" /></a>
		<a tal:condition="php:(subChart == 'A')" href="chart.php?ct=D"><div id="deltaBTN" class="btn" /></a>
		<div id="Bbtn" class="btn" tal:attributes="onclick string:javascript:setPosition(${yPos/0},${yPos/1});" />
		<div id="Abtn" class="btn" onclick="jQuery('#searcher').fadeIn(200);" />
	</div>

	<div id="sectorMap">
		<div id="map" style="height:570px;"></div>
	</div>
	
	<div id="searcher" class="opacityBack" style="height: 48px; padding: 21px 5px 5px; display:none; position: absolute; right: 45px; top: 26px;">
		<input id="systemSearcher" name="goer" type="text" style="width:230px;" placeholder="Ricerca" class="radiusBordered12 searchField" /><input type="submit" class="introb" style="margin-left:10px; font-size:12px; letter-spacing:2px;" onclick="javascript:lookerUp()" value="VAI" />
	</div>
</div> 

<!--<script tal:content="string:jQuery(function(){addMarker(${yPos/0},${yPos/1});});" />  -->
<script tal:content="structure string:jQuery(function(){addMarkersFromJSon('${markers}')});" />


</body>
</html>