<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/communicator.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/ju_vader.css" rel="stylesheet" type="text/css" />
	 
	<script type="text/javascript" src="TEMPLATES/js/JQ110.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110h.js" />
	
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />

	<title>FEDERATION - COMUNICATORE</title>	
	
	<script type="text/javascript">
		jQuery(function() {
			jQuery( "#tabs" ).tabs({selected: 0});
		});
	</script>
</head>

<body>
<div id="tabs" style="font-size:12px; margin-left:10px; margin-right:32px; margin-top:20px;">
	<ul>
		<li><a href="#tabs-1">Persone</a></li>
		<li><a href="#tabs-2">Ponti</a></li>
		<li><a href="#tabs-3">Ambienti</a></li>
	</ul>
	<div id="tabs-1" style="height:50px;">
		<form action="service.php?comm=sendCommUser" method="post" tal:condition="php:(peoplePresent==true)">
			<div style="margin-left:30px;">
				<input type="text" name="rowSend" style="width:400px;"/> <input type="submit" value="Invia il messaggio" /><br />

				<p style="margin-top:10px;">Destinatario: <select style="margin-left:30px;" name="personTo">
					<option tal:repeat="person people" tal:content="person" tal:attributes="value repeat/person/key" />
				</select><span style="margin-left:20px;" id="liyLabel" /></p>
				
			</div>
		</form>
		<div tal:condition="php:(peoplePresent==false)">Nessun contatto disponibile</div>
	</div>
	
	<div id="tabs-2" style="height:50px;">
		<form action="service.php?comm=sendCommDeck" method="post" tal:condition="php:(deckPresent==true)">
			<div style="margin-left:30px;">
				<input type="text" name="rowSend" style="width:400px;"/> <input type="submit" value="Invia il messaggio" /><br />

				<p style="margin-top:10px;">Ponte / Livello: <select style="margin-left:30px;" name="deckTo">
					<option tal:repeat="de pontiArray" tal:content="string: Ponte ${de}" tal:attributes="value de" />
				</select></p>
			</div>
		</form>
		<div tal:condition="php:(deckPresent==false)">Questa modalit&agrave; non &egrave; disponibile in questa location.</div>
	</div>
	
	<div id="tabs-3" style="height:50px;">
		<form action="service.php?comm=sendCommAmbient" method="post">
			<div style="margin-left:30px;">
				<input type="text" name="rowSend" style="width:400px;"/> <input type="submit" value="Invia il messaggio" /><br />

				<p style="margin-top:10px;">Locazione: <select style="margin-left:30px;" name="ambTo">
					<option tal:repeat="de ambientiArray" tal:content="de/locName" tal:attributes="value de/locID" />
				</select></p>
			</div>
		</form>
	</div>
</div>

</body>
</html>