<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link tal:attributes="href string:TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link tal:attributes="href string:TEMPLATES/css/db.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 

	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />

	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/google.js"></script>
	<script type="text/javascript">
		jQuery(function(){
			jQuery('button').button();
		});
	</script>

	<style>
	.interfaceLinkRed, .interfaceLinkTeal, .interfaceLinkOrange, .interfaceLinkYellow, .interfaceLinkViolet
	{font-size:12px; font-weight:bold; font-family:Helvetica;}
	
	.interfaceLinkRed{color:red;}
	.interfaceLinkRed:hover{color:red;}
	.interfaceLinkTeal{color:teal;}
	.interfaceLinkTeal:hover{color:teal;}
	.interfaceLinkGreen{color:yellowgreen;}
	.interfaceLinkGreen:hover{color:yellowgreen;}
	.interfaceLinkOrange{color:orange;}
	.interfaceLinkOrange:hover{color:orange;}
	.interfaceLinkYellow{color:yellow;}
	.interfaceLinkYellow:hover{color:yellow;}
	.interfaceLinkViolet{color:violet;}
	.interfaceLinkViolet:hover{color:violet;}</style>

	<title>STF - DATABASE</title>	
	<meta name="description" tal:content="description" />
	<meta name="keywords" tal:content="metaKeywords" />

</head>

<body style="background-repeat:no-repeat; background-color:black;">

<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="supLeft" />
		<div id="supRight" />

	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
		<div id="barbot2" />
	</div>
	
</div>

<div id="cdbHeader"><div tal:attributes="style string:position:absolute;; height:50px;; width:202px;; top:35px;; left:55px;; background-image:url('TEMPLATES/img/tips/${catImage}')" />
<p style="text-align:right; margin-right:10px; margin-bottom:3px; padding-bottom:6px; border-bottom:1px dotted #FCFCFC" class="titleFS" tal:content="catName" /></div>

<div id="cdbContainer">
<p style="text-align:left; float:left; width:150px; margin-left:20px;"><a class="interfaceLink" href="db.php">Torna Indietro</a></p>

<div style="text-align:center; float:right; margin-right:30px; margin-top:20px; border:1px solid #2190c4; padding:10px;" tal:condition="not:exists:searcher">
<form method="post" action="db.php?searcher=true">
<input type="input" placeholder="Ricerca..." name="key" class="searchField" style="height:15px; font-size:13px; border-radius:9px; width:220px;" autofocus="autofocus" tal:attributes="disabled php:(searchable == true) ? false : 'true' ; value php:(searchable == true) ? '' : 'La ricerca è possibile solo per gli utenti iscritti :)' "/> <button tal:attributes="disabled php:(searchable == true) ? false : 'disabled'" style="margin-left:10px; width:120px; line-height:16px; font-size:16px; letter-spacing:2px;">CERCA </button><br />
<input tal:attributes="disabled php:(searchable == true) ? false : 'disabled'" type="radio" value="0" name="mode" /> Almeno una parola 
<input tal:attributes="disabled php:(searchable == true) ? false : 'disabled'" type="radio" value="1" name="mode" checked="checked" /> Tutte le parole 
<input tal:attributes="disabled php:(searchable == true) ? false : 'disabled'" type="radio" value="2" name="mode" /> Intera frase

<input type="hidden" tal:attributes="value catID" name="section"/> </form>
</div><div style="clear:both"/>

<div style="margin-top:20px; border:1px dashed #2f82b7; margin-left:20px; margin-right:30px; padding:10px;" tal:condition="php:(count(elements['IMPORTANT']))"><a tal:attributes="href string:db.php?element=${el/ID} ; class string:${colorer}"  tal:repeat="el elements/IMPORTANT">
	<div style="padding-left:5px; margin-left:20px; margin-top:7px; margin-right:45px;  border:1px solid #555; font-size:13px;" tal:content="el/title" tal:condition="exists:searcher"  />
	<div style="padding-left:5px; margin-left:20px; margin-top:7px; margin-right:20px;  border:1px solid #555; float:left; width:45%; font-size:13px;" tal:condition="not:exists:searcher" tal:content="el/title" />
</a>
<div style="clear:both;"/>
</div>

<div style="margin-top:20px; border:1px dotted #333;  margin-left:20px; margin-right:30px; padding:10px;"><a class="interfaceLink" tal:attributes="href string:db.php?element=${el/ID}" tal:repeat="el elements/NORMAL">
	<div style="padding-left:5px; margin-left:20px; margin-top:7px; margin-right:45px;  border:1px solid #555; font-size:13px;" tal:condition="exists:searcher"><span tal:attributes="class colorer" tal:content="el/tag" /> - <span tal:content="el/title" /></div>
	<div style="padding-left:5px; margin-left:20px; margin-top:7px; margin-right:20px;  border:1px solid #555; float:left; width:45%; font-size:13px;" tal:condition="not:exists:searcher"><span tal:attributes="class colorer" tal:content="el/tag" /> -  <span tal:content="el/title" /></div>
</a>
<div style="clear:both;"/>
</div>
</div>

</body>
</html>