<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link tal:attributes="href string:TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />

	<link tal:attributes="href string:TEMPLATES/css/db.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 
	<link tal:attributes="href string:TEMPLATES/css/cdb_styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />

	
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/google.js"></script>
	<script type="text/javascript">
		jQuery(function(){
			jQuery('button').button();
		
		jQuery('.tooltip').tooltip({
          			content: function (){
          						return $(this).prop('title');
          					}
		});	
		});
	</script>


	<style>.ui-tooltip {font-size:12px; text-align:justify;}</style>

	<title tal:content="string:${title} - Star Trek: Federation GDR">FEDERATION - DATABASE</title>	
	<meta name="description" tal:content="description" />
	<meta name="keywords" tal:content="metaKeywords" />

</head>

<body style="background-repeat:no-repeat; background-color:black;">

<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="supLeft" />
		<div id="supRight" />
   
	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
		<div id="barbot2" />
	</div>
	
</div>

<div id="cdbHeader"><div tal:attributes="style string:position:absolute;; height:50px;; width:202px;; top:35px;; left:55px;; background-image:url('TEMPLATES/img/tips/${catImage}')" />
<p style="text-align:right; margin-right:20px; margin-bottom:3px; padding-bottom:6px; border-bottom:1px dotted #FCFCFC" class="titleFS" tal:content="catName" /> <p style="position:absolute; top:55px; left:260px; font-size:14px;"><a class="interfaceLink" tal:attributes="href string:db.php?cat=${catID}">Torna Indietro</a></p></div>

<div id="cdbContainer">

<!--<a tal:attributes="href string:db.php?dopdf=${ID}" tal:condition="php:(searchable)" style="margin-left:20px;" class="interfaceLink"><img src="TEMPLATES/img/interface/pdficon.jpg" /> Versione Stampabile</a> --> <a tal:attributes="href string:db.php?edielement=${ID}" title="MODIFICA" tal:condition="exists:isAdmin" ><img src="TEMPLATES/img/interface/cdbInterface/forum_edit.png" /></a> <a onclick="javascript: return confirm('Sicuro?');" tal:attributes="href string:db.php?delelement=${ID}" title="ELIMINA" tal:condition="exists:isAdmin" ><img src="TEMPLATES/img/interface/cdbInterface/forum_delete.png" /></a> 

<div id="mdmacontent" tal:content="structure content" />

<p style="float:right; text-align:center; font-size:11px; width:280px; margin-right:30px; margin-top:10px;"><a class="interfaceLink" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /> <a class="interfaceLink" href="index.php?directory=true" target="_blank"> Licenza dei Contenuti </a></p>



</div>

</body>
</html>