<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link tal:attributes="href string:TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link tal:attributes="href string:TEMPLATES/css/db.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 

	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />

	
	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
	
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/google.js"></script>
	<script type="text/javascript">
		jQuery(function(){
			window.onresize = function(){resizeOnDemand('db');};
			jQuery('button').button();

			jQuery( ".acp" ).autocomplete({
			source: "ajax_UserSearch.php",
			minLength: 2,
			});

		});

		function addCreditElement (){
			idp=Math.floor(Math.random() * 1001);
			jQuery('#creditTable').append('<tr><td><select class="neon" name="REFS_N'+idp+'_role"><option value="AUTHOR">Autore</option><option value="EDITOR">Impaginazione</option><option value="REVIEWER">Revisione</option><option value="APPROVAL">Approvazione</option><option value="SOURCES">Fonti</option></select></td><td><input name="REFS_N'+idp+'_val" type="text" class="acp neon"></input></td><td><a href="javascript:void(0)" class="interfaceLinkRed" onclick="jQuery(this).parent().parent().remove()">X</a></td></tr>');

				jQuery( ".acp" ).autocomplete({
					source: "ajax_UserSearch.php",
					minLength: 2,
				});
		}
	</script>
	<title tal:content="string:${resA/title} - Star Trek: Federation GDR">FEDERATION - DATABASE</title>	
	<meta name="description" tal:content="description" />
	<meta name="keywords" tal:content="metaKeywords" />

	<style>
	.interfaceLinkRed, .interfaceLinkTeal, .interfaceLinkOrange, .interfaceLinkYellow, .interfaceLinkViolet
	{font-size:12px; font-weight:bold; font-family:verdana;}
	
	.interfaceLinkRed{color:red;}
	.interfaceLinkRed:hover{color:red;}
	.interfaceLinkTeal{color:teal;}
	.interfaceLinkTeal:hover{color:teal;}
	.interfaceLinkGreen{color:yellowgreen;}
	.interfaceLinkGreen:hover{color:yellowgreen;}
	.interfaceLinkOrange{color:orange;}
	.interfaceLinkOrange:hover{color:orange;}
	.interfaceLinkYellow{color:yellow;}
	.interfaceLinkYellow:hover{color:yellow;}
	.interfaceLinkViolet{color:violet;}
	.interfaceLinkViolet:hover{color:violet;}
	</style>


</head>

<body style="background-repeat:no-repeat; background-color:black;">

<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="supLeft" />
		<div id="supRight" />

	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
		<div id="barbot2" />
	</div>
	
</div>

<div id="cdbHeader"><div tal:attributes="style string:position:absolute;; height:50px;; width:202px;; top:35px;; left:55px;; background-image:url('TEMPLATES/img/tips/${resA/catImage}')" />
<p style="text-align:right; margin-right:20px; margin-bottom:3px; padding-bottom:6px; border-bottom:1px dotted #FCFCFC" class="titleFS" tal:content="resA/catName" /> <p style="position:absolute; top:55px; left:260px; font-size:14px;"><a class="interfaceLink" tal:attributes="href string:db.php?cat=${resA/catID}">Torna Indietro</a></p></div>

<div id="cdbContainer">

<div id="mdmacontent">
	<form method="POST" tal:attributes="action string:db.php?ediDo=${resA/ID}"> 

		<input type="text" class="neon" tal:attributes="value resA/IDF" style="width:100px;" name="IDF" placeholder="Codice Letterale"> </input> [<input name="tag" type="text" tal:attributes="value resA/tag ; class string:neon ${resA/coloring}" style="width:200px;"> </input>] <input name="title" style="width:500px;" type="text" class="neon" tal:attributes="value resA/title"> I </input><br /><hr/>



		<textarea tal:content="resA/content" name="content" style="width:100%; height:380px; margin-top:20px;"></textarea><br /><hr />
		

	

		<select name="entryType">
			<option tal:attributes="selected php:((resA['type'] == 'IMPORTANT') ? 'selected' : '')" value="IMPORTANT">Disp. Maggiore / Importante</option>
			<option tal:attributes="selected php:((resA['type'] == 'NORMAL') ? 'selected' : '')" value="NORMAL">Disp. Minore / Tomo</option>
		</select> 

		<select name="formatType">
			<option tal:attributes="selected php:((resA['skipBB']) ? 'selected' : '')" value="1"> Standard (parsa BBcode)</option>
			<option tal:attributes="selected php:((resA['skipBB']) ? 'selected' : '')" value="2"> Speciale: Evita BBCode</option>
			<option tal:attributes="selected php:((resA['enableMD']) ? 'selected' : '')" value="3">Speciale: Markdown</option>
		</select> 

		<select name="catID">
			<option tal:repeat="cat cats" tal:attributes="value cat/catID ; selected php:((cat['catID'] == resA['catID']) ? 'selected' : '' )" tal:content="cat/catName"> - </option>
		</select>

		<input type="text" class="neon" tal:attributes="value resA/crosslink" style="width:100px;" name="crossLink" placeholder="ID Disp. CrossLink"> </input>

		<br />

		<div>
		Credits:
		<table id="creditTable">
			<tr tal:repeat="ref refs">
				<td>
					<select class="neon" tal:attributes="name string:REFS_${ref/recID}_role">
						<option tal:attributes="selected php:(ref['role'] == 'AUTHOR') ? 'selected' : ''" value="AUTHOR">Autore</option> 
						<option tal:attributes="selected php:(ref['role'] == 'EDITOR') ? 'selected' : ''" value="EDITOR">Impaginazione</option> 
						<option tal:attributes="selected php:(ref['role'] == 'REVIEWER') ? 'selected' : ''" value="REVIEWER">Revisione</option> 
						<option tal:attributes="selected php:(ref['role'] == 'APPROVAL') ? 'selected' : ''" value="APPROVAL">Approvazione</option> 
						<option tal:attributes="selected php:(ref['role'] == 'SOURCES') ? 'selected' : ''" value="SOURCES">Fonti</option> 
					</select>
				</td>
				<td>
					<input tal:condition="php:(ref['role'] != 'SOURCES')" type="text" class="acp neon" tal:attributes="value ref/pgUser ; name string:REFS_${ref/recID}_val" />

					<textarea style="width:400px; height:60px;" tal:condition="php:(ref['role'] == 'SOURCES')" type="text" class="acp neon" tal:attributes="name string:REFS_${ref/recID}_val" tal:content="ref/auxcontent" />

				</td>
				<td>
					<a href="javascript:void(0)" class="interfaceLinkRed" onclick="jQuery(this).parent().parent().remove()">X</a>
				</td>
			</tr>
			<a href="javascript:void(0)" class="interfaceLinkGreen" onclick="addCreditElement();">Aggiungi</a>
		</table>
		</div>

		<div style="text-align:center"><input type="submit" value="Invia"> I  </input>

		</div>
	</form>
</div>

</div>

</body>
</html>