<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link tal:attributes="href string:TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />

	<link tal:attributes="href string:TEMPLATES/css/db.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 
	<link tal:attributes="href string:TEMPLATES/css/cdb_styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />

	
	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
	
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/google.js"></script>
	<script type="text/javascript">
		jQuery(function(){

			jQuery('button').button();
		
		jQuery('.tooltip').tooltip({
          			content: function (){
          						return $(this).prop('title');
          					}
		});


		window.onresize = function(){resizeOnDemand('db');};
	});
	</script>


	<style>.ui-tooltip {font-size:12px; text-align:justify; }
	#authorBox {width: 90%; margin-left:30px; margin-top:20px;}
	#authorBox img {vertical-align: middle;}

	#authorBox p {margin:0;}
	#authorBox .ascreen span {font-weight:bold; font-size:14px;}
	#authorBox table{border:1px solid #444; padding:5px; width:100%;}
	#authorBox td {border-bottom:1px solid #444; padding:4px;}
	#authorBox tr:last-of-type td {border-bottom:0px;}


	#authorBox td:first-of-type {width:200px; font-family:federationFont; font-size:16px; letter-spacing: 0.1em; text-transform: uppercase;}
	





	</style>

	<title tal:content="string:${title} - Star Trek: Federation GDR">FEDERATION - DATABASE</title>	
	<meta name="description" tal:content="description" />
	<meta name="keywords" tal:content="metaKeywords" />

</head>

<body style="background-repeat:no-repeat; background-color:black;">

<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="supLeft" />
		<div id="supRight" />
   
	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
		<div id="barbot2" />
	</div>
	
</div>

<div id="cdbHeader">
	<a tal:attributes="href string:db.php?cat=${catID}"><div tal:attributes="style string:background-image:url('TEMPLATES/img/tips/${catImage}')" /></a>
	<a tal:attributes="href string:db.php?cat=${catID}"><p class="titleFS" tal:content="catName" /></a>
</div>

<div id="cdbContainer">
<!--<a tal:attributes="href string:db.php?dopdf=${ID}" tal:condition="php:(searchable)" style="margin-left:20px;" class="interfaceLink"><img src="TEMPLATES/img/interface/pdficon.jpg" /> Versione Stampabile</a> --> <a tal:attributes="href string:db.php?edielement=${ID}" title="MODIFICA" tal:condition="exists:isAdmin" ><img src="TEMPLATES/img/interface/cdbInterface/forum_edit.png" /></a> <a onclick="javascript: return confirm('Sicuro?');" tal:attributes="href string:db.php?delelement=${ID}" title="ELIMINA" tal:condition="exists:isAdmin" ><img src="TEMPLATES/img/interface/cdbInterface/forum_delete.png" /></a> 

<div id="mdmacontent" tal:content="structure content" />

<div tal:condition="exists:refs" id="authorBox">

	<table>
		<tr tal:condition="php:array_key_exists('AUTHOR',refs)">
			<td> Autori</td>
			<td>
				<p class="ascreen" tal:repeat="aut refs/AUTHOR">
					<img tal:attributes="src string:TEMPLATES/img/ranks/${aut/ordinaryUniform}.png" />
					<a tal:omit-tag="not:searchable" href="javascript:void(0);" tal:attributes="onclick string:schedaPOpen('${aut/pgID}')" class="interfaceLink"><span tal:content="aut/pgUser" />  </a>
				</p>
			</td>
		</tr><tr tal:condition="php:array_key_exists('EDITOR',refs)">
			<td> Impaginazione</td>
			<td>
				<p class="ascreen" tal:repeat="aut refs/EDITOR">
					<img tal:attributes="src string:TEMPLATES/img/ranks/${aut/ordinaryUniform}.png" />
					<a tal:omit-tag="not:searchable" href="javascript:void(0);" tal:attributes="onclick string:schedaPOpen('${aut/pgID}')" class="interfaceLink"><span tal:content="aut/pgUser" />  </a>
				</p>
			</td>
		</tr><tr tal:condition="php:array_key_exists('REVIEWER',refs)">
			<td> Revisione</td>
			<td>
				<p class="ascreen" tal:repeat="aut refs/REVIEWER">
					<img tal:attributes="src string:TEMPLATES/img/ranks/${aut/ordinaryUniform}.png" />
					<a tal:omit-tag="not:searchable" href="javascript:void(0);" tal:attributes="onclick string:schedaPOpen('${aut/pgID}')" class="interfaceLink"><span tal:content="aut/pgUser" />  </a>
				</p>
			</td>
		</tr><tr tal:condition="php:array_key_exists('APPROVAL',refs)">
			<td> Approvazione</td>
			<td>
				<p class="ascreen" tal:repeat="aut refs/APPROVAL">
					<img tal:attributes="src string:TEMPLATES/img/ranks/${aut/ordinaryUniform}.png" />
					<a tal:omit-tag="not:searchable" href="javascript:void(0);" tal:attributes="onclick string:schedaPOpen('${aut/pgID}')" class="interfaceLink"><span tal:content="aut/pgUser" />  </a>
				</p>
			</td>
		</tr><tr tal:condition="php:array_key_exists('SOURCES',refs)"> 
			<td> Fonti</td>
			<td><p style="margin-left:10px; font-size:15px; font-variant: small-caps;" tal:repeat="aut refs/SOURCES" tal:content="structure aut/auxcontent" /></td>
		</tr>
		<tr> 
			<td> LICENZA DEI CONTENUTI</td>
			<td>
				<p style="margin-left:10px;"><a class="interfaceLink" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons CC-BY-NC-SA 4.0" title="Licenza Creative Commons CC-BY-NC-SA 4.0" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>
			</td>
		</tr>

	</table>

</div>


</div>

</body>
</html>