<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link tal:attributes="href string:TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link tal:attributes="href string:TEMPLATES/css/db.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 

	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />

	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
	
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/google.js"></script>
	<script type="text/javascript">
		jQuery(function(){
			jQuery('button').button();
		});
	</script>

	<style> 

div.lib{
	background-image:url('TEMPLATES/img/interface/dbInterface/angle1.svg');
	background-size:100%;
	padding:5px;
	text-align:center;
	width:200px;
	height:30px;
	background-repeat:no-repeat;
	float:left;
	cursor: pointer;

}

div.lib p { 
	font-family:federationFont;
	line-height:30px;
	margin-top:2px;
}

div.lib:hover{
	background-image:url('TEMPLATES/img/interface/dbInterface/angle2.svg');
}
div.lib:hover p { 
	color:white;
}



	</style>
	<title>STF - DATABASE</title>	
	<meta name="description" tal:content="description" />
	<meta name="keywords" tal:content="metaKeywords" />
</head>

<body style="background-repeat:no-repeat; background-color:black;">

<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="supLeft" />
		<div id="supRight" />

	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
		<div id="barbot2" />
	</div>
	
</div>

<div id="cdbContainer" style="top:15px;  overflow-y:hidden; overflow-x:hidden;">
<p style="text-align:center; margin:10px; margin-top:15px;" class="titleFS">Database Federale Unificato</p>


<form method="post" action="db.php?searcher=true">

<div style="clear:both; width:100%; margin-left:auto; margin-right:auto; width:700px;">
	
		<div><input type="text" name="key" class="neon" style="height:17px; width:90%;" autofocus="autofocus" placeholder="Ricerca..." tal:attributes="disabled php:(searchable == true) ? false : 'true' ; value php:(searchable == true) ? '' : 'La ricerca è possibile solo per gli utenti iscritti :)' "/></div>

		<div style="margin-top:5px; text-align:center;">
			<select name="mode" class="neon" tal:attributes="disabled php:(searchable == true) ? false : 'disabled'">
				<option value="0">Almeno una parola</option>
				<option value="1">Tutte le parole</option>
				<option value="2">Intera frase</option>
			</select>
			<button tal:attributes="disabled php:(searchable == true) ? false : 'disabled'" style="margin-left:10px; width:120px; height: 33px; font-size:16px; letter-spacing:2px; font-family: federationFont;">Cerca</button> <a href="db.php?neuelement=do" tal:condition="exists:isAdmin" class="interfaceLink"> Aggiungi </a> 
		</div>
</div>
</form>


<div style="display:block; width:625px; margin:auto; position:relative; left:-45px;">
	<a tal:attributes="href string:db.php?cat=${dis/catID}" class="interfaceLink"  tal:repeat="dis categories">
		<div tal:attributes="style string:float:left;; margin-left:45px;; background-size:162px;; margin-top:20px;; width:162px;; height:110px;;  background-repeat:no-repeat;; background-image:url('TEMPLATES/img/tips/${dis/catImage}');;" />
	</a>

</div>



<div style="clear:both" />
<div style="border-top:1px solid #16429a; width:100%; height:40px; bottom:0px; position :absolute; margin-left:10px; background-image:url('TEMPLATES/img/pattern_banded_50.png')">
	
	<div style="float:left;  ">
		<p style="font-family:federationFont; margin-top:10px; margin-left:20px; font-size:1.4em; border-bottom:1px solid #16429a; padding-bottom:3px;"> Ultimi aggiornamenti </p>
	</div>

	<div style="margin-left:30px; float:left;">
		<a tal:attributes="title string:{element/title}; href string:db.php?element=${element/ID}" tal:repeat="element laster"> 
			<div class="lib" tal:attributes="title element/rtitle"> <p tal:content="element/title" /></div>
		</a>
	</div>
</div>


<!--
	 <span tal:content="element/brief" /> 
<div>
	<p style="margin:0px; text-align:right; font-variant:small-caps; color:#FFCC00;">Le più consultate</p>
		
	<ul><li class="liu" tal:attributes="title element/rtitle" tal:repeat="element topper" style="margin:0px; margin-top:4px; font-size:11px;"><a class="interfaceLink" tal:attributes="href string:db.php?element=${element/ID}"><span tal:content="string:${element/tag} -" tal:condition="php:element['tag'] != ''"/> <span tal:content="element/title" /></a></li></ul>
		
</div>

<div>
	<p style="margin:0px; text-align:right; font-variant:small-caps; color:#2190c4;">Le ultime caricate</p>
	
</div><-->

</div>
</body>
</html>