<div id="guidePanel" metal:define-macro="guidePanel" class="popup blackOpacity"/>

<div tal:condition="php:(user.pgFirst == 1)" metal:define-macro="guida">

<style>
.fluctuator{position:absolute; padding:10px; border-radius:5px; background-color:rgba(0,0,0,0.8); font-family:verdana;

z-index:10;
max-width:400px;
text-align:justify;
border:1px solid #555;
font-size:13px;
height:200px;

}
.fluctuator p{margin:0px; margin-bottom:5px; font-size:15px;}
.evidenceYelo{color:#FC0; font-size:11px; text-transform:uppercase; font-weight:bold;}

.arrowLeft, .arrowRight, .arrowTop{z-index:10; position:absolute; top:-100px; left:-100px; width:45px; height:45px;}
.arrowLeft{background-image:url('TEMPLATES/img/interface/mainInterface/lookme_little_left.png');}
.arrowRight{background-image:url('TEMPLATES/img/interface/mainInterface/lookme_little_right.png');}
.arrowTop{background-image:url('TEMPLATES/img/interface/mainInterface/lookme_little_top.png');}
</style>

<script>
	var x=0;
	var positions = [ 
	[],
	[49,141,38,90,'TASTO MAPPA','Il pulsante <span class="evidenceYelo">MAPPA</span> ti permette di visualizzare la mappa del luogo in cui ti trovi. Le unità ed i pianeti hanno da una a tre mappe e decine di location, se ti sei perso premi questo tasto e tornerai alla prima mappa, punto di partenza al tuo ingresso nel gioco!','top','left','arrowLeft'],	
	[80,141,69,90,'TASTO ONLINE','Il pulsante <span class="evidenceYelo">ONLINE</span> ti permette di aprire il localizzatore, ovvero la lista dei PG connessi divisi per unità o pianeta in cui si trovano. Al suo interno accanto al nome del personaggio troverai anche la chat dove si trova, il nome della location funge anche da link rapido ad essa, attento a non perderti!','top','left','arrowLeft'],	
	[180,141,169,90,'TASTO PADD','Il pulsante <span class="evidenceYelo">D-PADD</span> ti permette di aprire lo strumento che <ol><li>permette lo scambio di "posta" tra personaggi;</li><li>permette di leggere le news del <span class="evidenceYelo">Federation Tribune</span>, pubblicate dai giornalisti o dallo staff di Federation; </li><li> permette di mantenere delle cartelle appunti personali riservate.</li></ol>','top','left','arrowLeft'],
	[210,141,203,90,'TASTO COMM','Il pulsante <span class="evidenceYelo">COMM</span>  ti permette, all\'interno di una chat, di utilizzare il "comunicatore" per parlare con un altro personaggio che si trova in una chat differente come un telefono in vivavoce. Puoi comunicare anche direttamente ad una location, rivolgendoti a tutti presenti in essa o un intero ponte dell\'unità in cui ti trovi.','top','left','arrowLeft'],
	[247,141,237,90,'SCHEDA PG','La tua scheda personale. All\'interno saranno riassunte tutte le informazioni del tuo personaggio, compresi il background e le abilità acquisite. Alcune sezioni della scheda sono riservate ai master e gli admin, non ti preoccupare se non puoi accedervi.','top','left','arrowLeft'],
	[250,141,195,90,'TASTO CHARTS','Con il pulsante <span class="evidenceYelo">CHARTS</span> accedi alle mappe stellari di Star Trek che ti permettono di visualizzare il settore in cui ti trovi, di cercare basi e pianeti e di avere essenziali informazioni su di essi. Le charts di Federation sono una grande mappa di 10.000x10.000 pixel completamente navigabile su cu sono evidenziate le unità ed i pianeti che possiedono location giocabili al momento!','bottom','left','arrowLeft'],
	[90,600,45,820,'TI TROVI QUI','In questa sezione è indicato il nome dell\'unità, stazione o pianeta in cui ti trovi. Quando la nave si trova nei pressi di un pianeta, o di un\'altra nave, viene visualizzato il comando <span class="evidenceYelo">SBARCO</span>: tramite questo comando potrai cambiare unità facilmente.','top','left','arrowTop'],
	[85,730,40,350,'STATUS NAVE','Il pulsante <span class="evidenceYelo">STATUS</span> riassume lo stato attuale dell\'unità in cui ti trovi ed offre un link rapido alla sua posizione sulle charts.','top','right','arrowTop'],
	[85,630,40,230,'COMPUTER DI BORDO (CDB)','Uno dei maggiori strumenti di Federation è il sistema di bacheche. Come una sorta di forum le bacheche si dividono in varie categorie che riflettono sezioni dedicate a specifice comunicazioni nel gioco ed altre orientate alla community ed i suoi giocatori.','top','right','arrowTop'],
	[85,550,40,160,'DATABASE','Il database di Federation è la raccolta della documentazione inerente al gioco. Dall\'ambientazione alle regole della Flotta Stellare, dal regolamento alle guide alle specie giocabili e non. Il sistema è dotato di un sistema di ricerca ed un comodo salvataggio del testo in formato pdf.','top','right','arrowTop'],
	[85,600,220,170,'REMINDER','Il reminder è un semplicissimo strumento che ti ricorda brevemente con quale personaggio sei loggato, utile specialmente a chi è autorizzato a muovere personaggi non giocanti, oltre che il suo grado e livello di sicurezza. Sopra di essi la Data Stellare, comoda da copiare durante la stesura dei rapporti. Trovi qui anche il comando di modifica dell\'uniforme. ','top','right','arrowRight'],
	[250,600,300,150,'GUIDA','Un momento di smarrimento improvviso? Non ricordi come funzionano alcuni elementi dell\'interfaccia? Questo pulsante ti permette di accedere ad un menu di aiuto, contenente diversi tutoriali di gioco (incluso questo)!','bottom','right','arrowRight'],
	[250,600,150,150,'SUSSURRI','I sussurri sono una chat per i giocatori rigorosamente OFF. Sussurri è comune a tutte le chat e permette quindi a tutti i giocatori, anche giocanti in luoghi differenti, di rimanere in contatto con il resto della community. Una chat "Accoglienza" è dedicata ai nuovi giocatori come te, troverai il link sotto l\'elenco dei giocatori. Non dimenticare di presentarti alla community!','bottom','right','arrowRight'],
	
	]
	
	function goNext(ida)
	{
		idaN = parseInt(ida)+1;
		if(idaN > 12){ terminate(1); return;}
		if(idaN == 12){jQuery('#continuaL, #terminaK').fadeOut(150,function(){jQuery('#terminaAl').fadeIn();});}
		
		if(positions[idaN][6] == 'bottom')
		{
			rTop_tb = jQuery(window).height() - positions[idaN][0];
			rTop_ta = jQuery(window).height() - positions[idaN][2];
		}
		else
		{
			rTop_tb = positions[idaN][0];
			rTop_ta = positions[idaN][2];
		}
		
		if(positions[idaN][7] == 'right')
		{
			rLeft_tb = jQuery(window).width() - positions[idaN][1];
			rLeft_ta = jQuery(window).width() - positions[idaN][3];
		}
		else
		{
			rLeft_tb = positions[idaN][1];
			rLeft_ta = positions[idaN][3];
		}
		
		jQuery('#tutorialBox').animate({
			 top: rTop_tb,
			 left: rLeft_tb
		},function(){
				jQuery('#tutorialTitle').html(positions[idaN][4]);
				jQuery('#tutorialContent').html(positions[idaN][5]);
				jQuery('#tutorialStep').val(idaN);
			});
		
		jQuery('#tutorialArrow').attr('class','lamp '+positions[idaN][8]);
			jQuery('#tutorialArrow').animate({
			 top: rTop_ta,
			 left: rLeft_ta
		});
		jQuery('#tutorialBox').css('margin','0px');
		
		window.moveTo(0, 0);
		window.resizeTo(screen.availWidth, screen.availHeight);
		
	}	
	
	function terminate(){jQuery.post('ajax_helpSet3.php',{'what':'1'},function(e){location.reload();});}
	function terminateR(){jQuery.post('ajax_helpSet3.php',{'what':'1','realK':1},function(e){location.reload();});}
</script>

<div style="position:absolute; background-color:rgba(0,0,0,0.8); top:50%; left:50%; margin-left:-570px; margin-top:-307px; width:1150px; height:625px; z-index:8" />

<div class="fluctuator blueShadow blackOpacity" id="tutorialBox" style="top:50%; left:50%; margin-left:-200px; margin-top:-100px;">
<p class="clockTitle" id="tutorialTitle">TUTORIAL</p> 
	<p id="continuaL" style="position:absolute; top:10px; right:10px;"><a href="javascript:void(0);" onclick="goNext(jQuery('#tutorialStep').val())" class="interfaceLinkBlue"> [ CONTINUA ]</a></p>
	<p style="position:absolute; top:10px; left:10px;" id="terminaK"><a href="javascript:void(0);" onclick="if(confirm('Sei sicuro di voler terminare il tutorial?')) terminate()" class="interfaceLinkRed"> [ TERMINA ]</a></p> 
	<p style="position:absolute; top:10px; right:10px; display:none;" id="terminaAl"><a href="javascript:void(0);" onclick="terminateR()" class="interfaceLinkRed"> [ TERMINA ]</a></p> 
<hr />	
 <p id="tutorialContent" style="margin:0px; font-family:Helvetica; font-size:14px;">Complimenti! Hai terminato la fase di iscrizione con successo.<br />
 <span style="display:block; text-align:center;">Il tuo grado attuale è <br /> <img tal:attributes="src string:TEMPLATES/img/ranks/${user/pgMostrina}.png" /> <span tal:content="user/pgGrado"/><br/> <span tal:condition="php:user.pgGrado != 'Civile'" tal:content="string: (${user/pgSezione})" /></span><br/> Prima di iniziare la tua avventura ti suggeriamo di dare un'occhiata all'interfaccia di gioco. Questo tutorial ti guiderà passo passo.</p>
 <input id="tutorialStep" value="0" type="hidden" /> 
</div>

<div class="lamp arrowLeft" id="tutorialArrow" />


</div>