<!DOCTYPE html> 

<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

		<title>Star Trek: Federation - Contatti</title>

		<link rel="shortcut icon" href="favicon.ico" />
		

		<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" /> 
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />
		 
		<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
		<link href="TEMPLATES/css/index.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />	


		<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
		<script type="text/javascript" src="TEMPLATES/js/JU.js" />
		<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}" async="async"/>
		<script type="text/javascript" src="TEMPLATES/js/index.js?v=${gameOptions/numericVersion}" async="async"/>
		

		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="IT" />
		<meta name="keywords" tal:attributes="content keywords"/>
		<meta name="description" content="Contatti dello Staff di Star Trek: Federation"  />


		
	</head>
	
<body style="margin-left:40px; margin-right:40px; margin-left:40px; margin-right:40px;">
		
		<div id="indi_mainContainer">
			<div id="indi_header"  onclick="window.location.href = 'index.php';" />
		<div id="indi_central">
				<div metal:use-macro="TEMPLATES/metal_index.htm/indexMenu" />

			 
				<p class="title" style="text-align:center; margin:auto; margin-top:50px;">Contatti</p>
				<div style="clear: both"> </div>
				<div style="padding:40px; text-align: center; margin:auto;  margin-top:50px; width:400px;  border:1px solid #AAA; background-image:url('TEMPLATES/img/pattern_banded_50.png'); ">
					<p style="font-weight:bold;font-size:16px; line-height: 1.3em;">Puoi contattarci tramite email a:<br /><br /><a href="mailto:staff@stfederation.it" class="interfaceLink" style="font-weight:bold; font-size:20px;">staff@stfederation.it</a></p>

					<p style="font-weight:bold;font-size:15px; line-height: 1.3em;">Oppure tramite i nostri canali Social:</p><p style="font-weight:bold; font-size:15px;">
						
						<a href="https://www.facebook.com/federation.pbc" style="font-size:15px;" class="interfaceLinkBlue" target="_blank">Facebook</a> e <a href="http://www.gdr-online.com/star_trek_federation.asp" style="font-size:15px;" class="interfaceLinkGreen" target="_blank">GDR-Online</a>

					</p>
				</div>
					 
				


		</div> 
			 
			 
			
			  
			



		</div><!-- indi_mainContainer -->
		
		<!-- FOOTER -->
		
<div metal:use-macro="TEMPLATES/metal.htm/footer" />
</body>
</html>
