<!DOCTYPE html> 

<html xmlns="http://www.w3.org/1999/xhtml" lang="it">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

		<title>Star Trek: Federation GDR - Be The Future!</title>

		<link rel="shortcut icon" href="favicon.ico" />
		
		<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
		<script type="text/javascript" src="TEMPLATES/js/JU.js" />
		<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
		<!--<script type="text/javascript" src="TEMPLATES/js/index.js?v=0.6" />-->
		<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=0.6" />
		
	<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/home/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/clearfix.css" />
	<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/style.css" />
	<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/fonts.css"  />
	<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/jquery.dualSlider.0.2b.css?v=2.1" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/index.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" /> 
	
	<script src="TEMPLATES/carousel/js/jquery.easing.1.3.js" type="text/javascript"></script>
	<script src="TEMPLATES/carousel/js/jquery.timers-1.2.js" type="text/javascript"></script>
	<script src="TEMPLATES/carousel/js/jquery.dualSlider.0.3.min.js" type="text/javascript"></script> 
	
	<!--<script src="TEMPLATES/js/easyAccordion.js" type="text/javascript"></script>-->
	<script type="text/javascript" src="TEMPLATES/js/google.js"></script>	


		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="IT" />
		<meta name="keywords" content="Star Trek, Voyager, Enterprise, The Next Generation, Tricorder, Phaser, Borg. Gioco di Ruolo, Federazione, Klingon, Romulani"/>
		<meta name="description" content="GDR online che unisce l'interpretazione di un eroe del serial televisivo alla scrittura creativa via chat. Crea il tuo personaggio, illumina il tuo destino!" />
		
		
		<script type="text/javascript">


			jQuery(document).ready(function(){
			 

			jQuery('.tooltip').tooltip({
          	  content: function () {
              return jQuery(this).prop('title');
          }
      	  });
 
		
			}); 
			
	function setViewer(vare)
	{
		if(jQuery('#'+vare).length)
			jQuery('.sliding').fadeOut(120,function(){jQuery('#'+vare).fadeIn(120);});
		else window.location.href = 'index.php?mod='+vare;
	}

	function fullScreen(){
		var larg_schermo = screen.availWidth - 10;
		var altez_schermo = screen.availHeight - 30;
		window.open("login.php", "fed_main", "width=" + larg_schermo + ",height=" + altez_schermo + ",top=0,left=0,location=no,menubar=n,resizable=yes,scrollbar=yes");
	}

 
				</script>

		<style>@font-face{font-family:'federationFont';src: url('TEMPLATES/Roddenberry.eot');src: url('TEMPLATES/Roddenberry.ttf') format('truetype');}
			@font-face{font-family:'federationFontI';src: url('TEMPLATES/Roddenberry Oblique.eot');src: url('TEMPLATES/Roddenberry Oblique.ttf') format('truetype');}
			  .ui-tooltip {
  font-family:Lato;
  width:200px;
  font-size:14px;
  }

		</style>
		<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

	</head>
	
<body style="background-image:url('TEMPLATES/img/interface/index/menu_b2.jpg')  no-repeat center center fixed; margin-left:40px; margin-right:40px; background-image:url('TEMPLATES/img/interface/index/menu_b2.jpg'); margin-left:40px; margin-right:40px;  -webkit-background-size: cover;  -moz-background-size: cover;
  -o-background-size: cover;  background-size: cover;">
		  
		
		<div id="indi_mainContainer">
			<div id="indi_header"  onclick="window.location.href = 'index.php';" />
		<div id="indi_central">
				<div metal:use-macro="TEMPLATES/metal_index.htm/indexMenu" />

			 
<p class="title" style="margin-top:20px; float:left; text-align:left; width:30%;">Credits & Partners</p>
					<div style="margin-right:60px; text-align:center; width:500px; padding:5px; float:right">
					
					
						<div style="text-align:center; margin-top:70px;">
						<a href="http://www.kuro-rpg.net" class="interfaceLink" target="_blank"><img src="http://kuro-rpg.net/banner/kurorpg-banner-468.jpg" /><br />
						Autorizzazione ufficiale all'utilizzo dei rankset di Kuro-RPG<br />che ha realizzato per noi un apposito set di mostrine.</a>
					 	</div>

						<div style="text-align:center; margin-top:10px;">
							<a href="http://roddenberry.forumcommunity.net/?f=7617381" target="_blank" title="Star Trek Equilibrium" alt="Star Trek Equilibrium">
							<img src="TEMPLATES/img/interface/index/banner_equilibrium_50_280.png" />
						</a><br />
						<a href="http://roddenberry.forumcommunity.net/?f=7617381" class="interfaceLink"> Star Trek: Equilibrium - Play by Forum </a>
						</div>

						<div style="text-align:center; margin-top:10px;">
							<a href="http://www.undead-rpg.org" target="_blank" title="Undead RPG" >
							<img src="https://i326.photobucket.com/albums/k432/SophieUndeadRpg/Undead390x50_zps49e25b5b.jpg" style=" border:1px solid #BBB;"/>
						</a><br />
						<a href="http://www.undead-rpg.org" class="interfaceLink"> Undead RPG - Play by Chat </a>
						</div>


						<div>
						<a href="http://commvoyager.altervista.org/" target="_blank" title="Commissione Voyager" alt="Commissione Voyager"><img height="35px" src="http://commvoyager.altervista.org/links/CVbanner.jpg" /></a>	<a href="http://www.sititrek.it/" target="_blank" title="Siti Trek" alt="siti_trek"><img height="35px" src="http://www.sititrek.it/images/scritte/scritta_1.jpg" alt="" /></a> <a href="http://www.terrediconfine.eu" target="_blank" title="Terre di Confine" alt="Terre di Confine" style="height:35px;"><img src="http://www.terrediconfine.eu/grafica/banner/tdcban100-02.jpg" alt="" /></a>			
						</div>
						
					
					<br /><br />
					  
					<p style="width:320px; margin:auto;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">I testi del <b>Database</b> </span> di <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.startrekfederation.it" property="cc:attributionName" rel="cc:attributionURL">Star Trek: Federation</a> sono distribuiti con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribuzione - Condividi allo stesso modo 4.0 Internazionale</a>.</p>
					
					</div>
					
					<div style="margin-left:20px; text-align:center; width:430px; padding:5px; float:left">
					
					
					<div style="text-align:center; margin-top:20px; padding-left:30px;">
					
					<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fstartrekfederation.it%2F;st=1" target="_blank"><img src="TEMPLATES/img/interface/index/icons/html5.png" style="height:35px" title="Sito HTML5 Valido" alt="Codice Valido"/></a> 
					<img src="TEMPLATES/img/interface/index/icons/php.png" style="height:35px" title="Sito sviluppato in PHP5" alt="html5"/> 
					<img src="TEMPLATES/img/interface/index/icons/mysql.png" style="height:35px" title="Sito supportato da MySQL DBMS" alt="Mysql"/> 
					<img src="TEMPLATES/img/interface/index/icons/phptal.png" style="height:35px" title="PHPTAL Template System" alt="phptal"/> 
					<img src="TEMPLATES/img/interface/index/icons/jQueryLogo.png" style="height:35px" title="JQuery Plugin" alt="jQuery"/> 
					</div>
					
					<div style="font-size:11px; color:#999; text-align:justify; margin-left:40px; padding:20px; border:1px solid #AAA; border-radius:10px;  background-image:url('TEMPLATES/img/pattern_banded_50.png'); ">
					Tutte le immagini in uso da Star Trek Federation sono state impiegate nel rispetto delle vigenti leggi in materia di Copyright e Diritto d'Autore. Star Trek Federation non impiega immagini specificatamente coperte da diritti d'autore che ne impediscano l'utilizzo, preferendo le fonti di immagini rilasciate sotto pubblico dominio, o licenza Creative Commons. Star Trek Federation si impegna altresì a collaborare con i rispettivi autori qualora si riscontrassero situazioni di violazione del Diritto d'Autore, eliminando od integrando, su richiesta dei legittimi proprietari, o dei loro delegati autorizzati, ogni contenuto.
					
					<b>Le immagini per la realizzazione di Star Trek Federation</b>, del suo materiale informativo e di gioco, nonché per la realizzazione degli elementi dell'interfaccia utente sono accreditate ai seguenti soggetti (o nicknames).<br /><br />
					
					<b>Igor Sontacchi, Giuseppe Buffa, Moreno Zolfo, Gianmaria Genetlici, Geoffrey Mandel, Doug Drexler, Jokuckuk333, metlesitsfleetyards, Hatvoc, Sukosu, Animaniacarts, jestr, Lnx991, jmdollan, guilpan, bloknayrb, buzzkilled, Thobewill, sbowers, fungun, Chance Ragen, Neethis, zhar2, bdfd, Rob Sanders, Gileryd, Mr. Frenzy, vanderghast, estauffer, Irrilinvention, Zeleni, Medjai di Scifi-Meshes, Steve Mallory, <a href="https://haphazartgeek.deviantart.com" target="_blank">HaphazArtGeek</a>,  <a href="https://www.facebook.com/STVGP/" target="_blank">Star Trek Voyager Game Project</a>.</b>
					<br />
					<br />Si ringrazia lo Staff de <a class="interfaceLink" href="http://www.ilgrandeinverno.it" target="_blank">"Il Grande Inverno"</a> per averci permesso di adattare ed utilizzare il Regolamento di Gioco da loro sviluppato.
					</div>
					
					<div style="padding:5px; border:1px solid white; margin-left:30px;"><div class="fb-like" data-href="https://www.facebook.com/federation.pbc" data-send="true" data-width="355" style="color:#999;" data-show-faces="true" data-font="tahoma"></div></div>

					</div>



		</div> 
			 
			 
			
			  
			



		</div><!-- indi_mainContainer -->
		
		<!-- FOOTER -->
		
<div metal:use-macro="TEMPLATES/metal.htm/footer" />
</body>
</html>
