
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

		<title>Star Trek: Federation News</title>

		<link rel="shortcut icon" href="favicon.ico" />
		

		<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" /> 
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />
		 
		<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/clearfix.css" />
		<link rel="stylesheet" type="text/css" media="all" href="TEMPLATES/carousel/css/style.css" />
		<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
		<link href="TEMPLATES/css/cdb_styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
		<link href="TEMPLATES/css/index.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />	


		<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
		<script type="text/javascript" src="TEMPLATES/js/JU.js" />
		<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}" async="async"/>
		<script type="text/javascript" src="TEMPLATES/js/index.js?v=${gameOptions/numericVersion}" async="async"/>
		

		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="IT" />
		<meta name="keywords" tal:attributes="content keywords"/>
		<meta name="description"  tal:attributes="content structure  string:${subtitle} ${shortDescript}"  />

		<meta property="og:title" tal:attributes="content string:${titParticle} - ${title}" /> 
		<meta property="og:url" tal:attributes="content string:http://www.stfederation.it/index.php?readnews=${ID}" />
		<meta property="og:image" tal:attributes="content string:http://www.stfederation.it/TEMPLATES/img/interface/index/cov_${aggregator}.png" />
		<meta property="og:description" tal:attributes="content structure string:${subtitle} ${shortDescript}" />
		
	</head>



<body>
		<div id="indi_mainContainer">
		<div id="indi_header"  onclick="window.location.href = 'index.php';" />
		<div id="indi_central">
				<div metal:use-macro="TEMPLATES/metal_index.htm/indexMenu" />
				
				<div id="principal">
				
				<div id="news" class="heraldMain radiusBordered" style="text-align:center; width:80%;  margin-left:auto; margin-right:auto; height:auto; margin-top:20px;">


								<p style="text-align:left; margin:0px 0px; text-decoration: underline;"><a href="index.php" class="interfaceLink"> Torna Indietro</a></p>



				<img src="TEMPLATES/img/interface/paddInterface/fed_eagle.jpg" tal:condition="php:aggregator=='FED'" />
		
				<p class="titoloarticolo" style="margin:0px; font-size:2.5em;" tal:content="title" />
				<p class="titolosubarticolo" style="margin:0px; font-size:1.8em" tal:content="subtitle" />
				<p class="testoNews" style="margin:0px; font-size:16px; line-height:25px; font-family:Helvetica; margin-top:10px; height:450px; overflow-y:auto; padding-right:10px; text-align:justify"><span style="font-weight:bold;" tal:content="timer" />&nbsp;&nbsp;<span tal:content="structure text"/></p>
				
				
</div>
				</div>
				
			</div>
			<div metal:use-macro="TEMPLATES/metal.htm/footer" />
		</div>
</body>
</html>