<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />

	<title>STAR TREK FEDERATION - LOGOUT</title>
	
	<script type="text/javascript">
		$(document).ready(function(){
		$("#superLoginDiv").fadeIn(700);
		})
	</script>
</head>

<body style="background-image:url('TEMPLATES/img/main_login.jpg')">


<div style="text-align:center;"><p style="font-size:16px; font-weight:bold;  font-family:Helvetica">LOGOUT EFFETTUATO<br />Grazie per aver giocato!</p><a href="login.php" class="interfaceLink">Rieffettua il Login</a>
</div>

<div style="border:1px solid red;" metal:use-macro="TEMPLATES/metal.htm/didYouKnow" />
</body>
</html>