<html>


<p metal:define-macro="bonus_umani" class="bonus">
	<img src="TEMPLATES/img/interface/personnelInterface/abilita/leadership.png" class="tooltip" title="Gli umani ottengono un bonus alle capacità leadership (abilità attivata)" /><span> </span>
	<img src="TEMPLATES/img/interface/personnelInterface/abilita/culturealiene.png" class="tooltip"  title="Gli umani ottengono un bonus alle capacità di dialogare e confrontarsi con le culture aliene"/><span>+1</span>   &nbsp;					
	<span class="tooltip" title="Gli umani ottengono un bonus alla versatilità pari a 50 UP">+50 UP</span> 
</p> 


<p metal:define-macro="bonus_trill" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="In quanto capaci di sopportare ferite e veleni meglio delle altre razze, I Trill ottengono un bonus alla Costituzione" /><span>+2</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/intelletto.png" title="I Trill posseggono un intelletto estremamente versatile, e sono generalmente molto istruiti. Ottengono pertanto un bonus all'intelletto" /><span>+1</span>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/diplomazia.png" title="Per la loro capacità di dialogare con le altre culture, e per i mille segreti diplomatici di cui il popolo Trill è custode, i membri della Razza Trill ottengono un bonus in Diplomazia" /><span>+2</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percepire_intenzione.png" title="I Trill non sono un popolo losco... ma sono abili osservatori: è più difficile mentigli ed ingannarli" /><span>+1</span>   
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/storia_letteratura.png" title="I Trill sono un popolo di artisti con una lunghissima tradizione pittorica e letteraria, proprio grazie ai Simbionti che trasmettono i ricordi alle generazioni successive" /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="Abili conoscitori della natura e dei suoi pericoli, I Trill godono di un piccolo bonus nella sopravvivenza" /><span>+1</span>
</p>

<p metal:define-macro="bonus_xeniti" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="Grazie ad una storia fatta di battaglie per la liberazione di un popolo oppresso, e di grandi privazioni dovute alla guerra di secessione, gli Xeniti godono di una forza di volontà superiore rispetto alle altre razze"/><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="Da sempre combattenti più o meno improvvisati, gli Xeniti sono più abili nei movimenti e nell'agilità in generale" /><span>+1</span>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percezione.png" title="Molti sostengono che la percezione visiva e uditiva aumentata abbia salvato gli Xeniti durante la loro lotta per la liberazione dal dominio di Danter.  " /><span>+2</span>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/intelletto.png" title="A causa di un sistema scolastico solo recentemente riformato, gli Xeniti sono generalmente più abili combattenti, che abili intellettuali" /><span style="color:red">-2</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="La capacità degli Xeniti di sopravvivere agli eventi estremi e alle situazioni più impensabili è cosa nota. Per questo, inizi con un bonus consistente in questa abilità." /><span>+2</span>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/furtivita.png" title="Alcuni Xeniti sono meglio di altri nel passare inosservati, ma generalmente la cosa ti riesce meglio di tante altre razze" /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/armibianche.png" title="Bloccati per anni in una guerra di liberazione combattuta con armi di fortuna, molti Xeniti sono stati addestrati all'uso delle armi bianche fin da piccoli. Altri apprezzano semplicemente questo retaggio culturale ormai parte di Xenex" /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/nab_schivata.png" title="Un guerriero liberatore non può sopravvivere se non è capace a schivare i colpi dei nemici. Per questo gli Xeniti hanno un bonus nell'abilità di schivata." /><span>+1</span>
</p>

<p metal:define-macro="bonus_vulcaniani" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/telepatia.png" title="La Telepatia vulcaniana è in grado di operare solo a brevi distanze o per contatto. La razza ottiene un bonus di +3 come abilità congenita." /><span>+2</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="I Vulcaniani hanno una costituzione più forte rispetto alle altre razze" /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="I Vulcaniani godono di una forza di volontà più sviluppata rispetto alle altre razze, e per questo ottengono un bonus nella caratteristica corrispondente"/><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/artimarziali.png" title="Essendo addestrati fin da bambini alle arti marziali come tecnica di difesa, i Vulcaniani godono di un bonus in tutte le discipline relative"/><span>*</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/scuto_mentale.png" title="In quanto razza telepate, i Vulcaniani sono particolarmente abili nel bloccare i tentativi altrui di esercitare la telepatia." /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/autoipnosi.png" title="Come risultato delle intense sedute di meditazione cui i Vulcaniani si sottopongono giornalmente, la capacità di autoipnosi e di regressione dei vulcaniani gode di un bonus di +2" /><span>+1</span>
</p>

<p metal:define-macro="bonus_andoriani" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="Gli Andoriani sono abituati ai climi estremamente rigidi del loro pianeta natale, Andoria. Godono quindi di un bonus alla Costituzione" /><span>+1</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="Abituati a maneggiare temibili armi bianche e a tenersi in equilibrio sul ghiaccio, gli Andoriani godono di un bonus alla Destrezza" /><span>+1</span> <br/>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/interrogatorio.png" title="Alti e temibili, gli Andoriani godono inevitabilmente di un bonus nella persuasione e nell'interrogatorio" /><span>+1</span>   
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/armibianche.png" title="Maestri indiscussi delle armi bianche, gli Andoriani sono addestrati fin da bambini e godono quindi di un bonus sostanziale" /><span>+2</span>   
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/musica.png" title="Andoria, nonostante la freddezza del clima, è una delle scene musicali più calde della galassia. E' molto probabile che un andoriano abbia buone nozioni musicali." /><span>+3</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/mischia.png" title="Le abilità nella mischia degli andoriani sono note... in parte grazie alle storie che di loro circolano, in parte per la loro stazza e imponenza" /><span>+2</span>   
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="Abituati ai freddi ghiacci di Andoria, gli Andoriani ricevono un addestramento di base alla sopravvivenza" /><span>+1</span>
</p>

<p metal:define-macro="bonus_betazoidi" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="La predisposizione alla grande empatia propria dei Betazoidi si traduce in una maggiore temperanza mentale. I personaggi di questa razza ottengono un bonus alla forza di volontà." /><span>+2</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="I betazoidi hanno una salute più cagionevole rispetto alle altre razze. Soffrono quindi di un malus alla Costituzione" /><span style="color:red">-1</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percepire_intenzione.png" title="I Betazoidi sono una razza empatica e possono percepire le emozioni altrui. Di conseguenza, i Betazoidi iniziano con questa abilità già attivata" /><span>*</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/telepatia.png" title="I Betazoidi sono una razza telepatica: godono quindi di un grosso bonus alla telepatia." /><span>+2</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/scuto_mentale.png" title="Grazie all'addestramento intensivo che i Betazoidi ricevono sin da bambini, i Betazoidi posseggono particolari barriere mentali che impediscono agli altri di leggere la loro mente con facilità." /><span>+2</span>
</p>

<p metal:define-macro="bonus_koyar" class="bonus">
		<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="I Koyar che intraprendono il percorso di auto-coscienza che porta a stabilizzare le proprie capacità telepatiche godono di un bonus alla Forza di Volontà" /><span>+2</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="I Koyar sono minuti e generalmente godono di una costituzione meno forte delle altre razze" /><span style="color:red">-1</span>
					
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="Minuti e scattanti, i Koyar godono di un bonus in destrezza." /><span>+1</span>
					
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/furtivita.png" title="Grazie alla vita di espedienti e alla statura minuta, molti Koyar sono in grado di sgusciare alle spalle del nemico senza farsi vedere, fino a quando non è troppo tardi" /><span>+3</span> 
					
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/economia.png" title="Una civilità basata sull'avido e arido commercio ha anche i suoi vantaggi. Godi di un bonus al mercanteggiare e in generale a tutte le attività economiche" /><span>+2</span>
										
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/telepatia.png" title="Alcuni Koyar hanno abilità telepatiche: godi quindi di un grosso bonus alla telepatia." /><span>+3</span>
					
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="I tempi duri che molti Koyar hanno dovuto affrontare, così come i benefit delle sporadiche capacità di auto-rigenerazione, possono dare i loro frutti... al momento opportuno. Godi di un bonus nella sopravvivenza" /><span>+1</span>
				
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/scuto_mentale.png" title="Grazie all'addestramento - e alla fortuna che hai avuto nello stabilizzare i tuoi poteri telepatici - possiedi un certo livello di barriere mentali che impediscono agli altri di leggere la tua mente con facilità." /><span>+2</span>
</p>

<p metal:define-macro="bonus_bajoriani" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="Le sofferenze patite dai Bajoriani durante i lunghi anni dell'occupazione Cardassiana valgono alla razza un bonus in Forza di Volontà. I lussi di una vita agiata e l'idea di poter essere felici ogni giorno sono stati un miraggio per troppo tempo" /><span>+2</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percezione.png" title="I Bajoriani hanno una percezione più marcata rispetto alle altre razze" /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/arte.png" title="I Bajoriani erano noti per essere grandi e apprezzati artisti in tutto il quadrante, prima della guerra" /><span>+1</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="I tempi duri dell'occupazione hanno lasciato poco scampo a parecchi Bajoriani. I sopravvissuti sono decisamente abili nell'arte di arrangiarsi e di sopravvivere" /><span>+2</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/acrobatica.png" title="I Bajoriani sono in grado di compiere salti e gesti particolarmente scenografici... una qualità anche questa acquisita dalla Guerra di Occupazione" /><span>+1</span> 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/furtivita.png" title="Grazie all'addestramento ottenuto nella Resistenza Bajoriana, moltissimi bajoriani sono in grado di avvicinarsi furtivamente al nemico" /><span>+3</span>  
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/contraffazione.png" title="La contraffazione di valuta e di altri beni di valore è una qualità nota dei Bajoriani nati sotto la Resistenza. I Bajoirani iniziano con questa abilità già attivata" /><span>*</span>
</p>

<p metal:define-macro="bonus_boliani" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="Tozzi e impacciati, i Boliani non sono certo noti per la loro padronanza nei movimenti e nel controllo del corpo: soffriranno di un malus di -2 in Destrezza e in tutte le abilità associate." /><span style="color:red">-2</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percezione.png" title="I Boliani sono attenti osservatori del mondo che li circonda e ottengono un bonus in percezione." /><span>+2</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="Empatici e determinati nell'aiutare il prossimo, i Boliani godono di un bonus in forza di volontà." /><span>+1</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/arte.png" title="L'arte boliana è nota in tutto il quadrante per pregevolezza e attenzione ai dettagli. Non tutti i boliani sono artisti, ma beneficiano di una conoscenza artistica superiore grazie ad un'istruzione attenta alla cultura." /><span>+2</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/economia.png" title="Noti come i commercianti della Federazione, i Boliani sono animati da uno spiccato spirito imprenditoriale e mercantile: godono pertanto di conoscenze innate in economia" /><span>+2</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/politica.png" title="La politica boliana è estremamente complessa e appassionante... perlomeno per i Boliani, che ne fanno un frequente argomento di conversazione e di dibattito. I Boliani iniziano con questa abilità già attivata" /><span>*</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/diplomazia.png" title="La loquacità Boliana è in grado di persuadere e convincere come poche cose nel Quadrante: i boliani sono dei gran chiaccheroni e, spesso, anche ottimi oratori." /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percepire_intenzione.png" title="I Boliani sono ottimi membri di ogni squadra affiatata, grazie alla loro capacità di capire quali sono le necessità degli altri e di relazionarsi con il prossimo" /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/contraffazione.png" title="Il contatto con denaro e risorse fin dall'infanzia stimola nei Boliani capacità di contraffazione, che non necessariamente finiscono per dar luogo ad attività criminose. Ma non si sa mai..." /><span>+1</span>

</p>
<p metal:define-macro="bonus_caitiani" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="Il corpo longilineo, una percezione uditiva e visiva superiore e la coda rendono i Caitiani molto più abili nei movimenti e nella coordinazione" /><span>+1</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/percezione.png" title="Occhi felini e udito molto sviluppato sono ottimi alleati di ogni Caitiano. Questa razza ha un bonus alla percezione" /><span>+2</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="I Caitiani soffrono di una salute più cagionevole rispetto ad altre razze, e possono sopportare meno bene traumi e ferite" /><span style="color:red">-2</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/mischia.png" title="Le abilità nel combattimento corpo a corpo dei Caitiani sono note: una zampata di caitiano è sicuramente molto poco piacevole..." /><span>+1</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="La pelliccia dei Caitiani è di grande aiuto nel sopportare condizioni ambientali che, per altri, potrebbero essere fatali" /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/furtivita.png" title="Grazie alla loro destrezza e percezione, i Caitiani sono in grado di avvicinarsi furtivamente al nemico e di passare inosservati fino a quando non è troppo tardi" /><span>+3</span>  
</p>
<p metal:define-macro="bonus_terosiani" class="bonus">

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="I terosiani sono abili nuotatori e, generalmente, cultori della forma fisica e dello sport. Ciò gli conferisce un senso dell'equilibrio spiccato e un'elevato controllo dei movimenti." /><span>+2</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="A causa della gravità ridotta di Terosia, i terosiani sono generalmente esili e mal sopportano ambienti a gravità più elevata. L'attenzione alla forma fisica migliora leggermente la loro costituzione, che tuttavia rimane più cagionevole rispetto alle altre razze." /><span style="color:red">-1</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title=" Il popolo terosiano, dopo le tante disgrazie della sua storia, ha imparato a riprendersi e migliorarsi ogni volta. Ciò conferisce ai terosiani una forza di volontà più robusta rispetto ad altre razze." /><span>+1</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/economia.png" title="Terosia è parte di una importante rete mercantile: in conseguenza di ciò, economia e leggi di mercato sono insegnate fin dalla scuola primaria. Non tutti i terosiani sono mercanti, ma tutti hanno una spiccata attitudine al commercio." /><span>+2</span> 

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/cucina.png" title="La cucina Terosiana è famosa in ogni dove per equilibrio e sapore. Lo sviluppo tardivo delle tecniche di replicazione alimentare ha fatto il resto: ogni buon Terosiano sa preparare almeno qualche piatto tradizionale in autonomia." /><span>+2</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/acrobatica.png" title="I terosiani sono naturalmente predisposti alla grazia dei movimenti, grazie ad un senso dell'equilibrio più sviluppato della norma." /><span>+1</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/astronomia.png" title="Il contatto con tantissime altre culture ha un impatto positivo sulla conoscenza dei terosiani circa molti settori dello spazio adiacente. Inoltre, la Geografia Astronomica è la seconda materia più importante insegnata nella scuola dell'obbligo" /><span>+1</span> 
</p>
<p metal:define-macro="bonus_tellariti" class="bonus">
		<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="I Tellariti sono notoriamente bassi e tarchiati. Questo gli causa un malus in Destrezza, perché hanno difficoltà ad articolare movimenti agili e veloci" /><span style="color:red">-2</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="I Tellariti sono coriacei e resistenti, e hanno una maggior resistenza verso la maggior parte degli stress fisiologici, dei veleni e delle sollecitazioni" /><span>+1</span>
 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="I Tellariti sono noti per apprezzare le discussioni e il dibattito in ogni sua forma, dal più al meno civile. Dopo ore e ore nell'addestrare questa dote, ottengono un bonus considerevole alla Forza di Volontà" /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/intimidazione.png" title="I Tellariti, dato il loro aspetto (zanne sporgenti, viso irsuto, espressione arcigna), e i loro modi piuttosto bruschi, possono intimidire al primo impatto. Per questo, intimidire il prossimo gli viene naturale." /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="Data la loro struttura ossea robusta e la loro costituzione di ferro, i Tellariti tendono ad avere una capacità di sopravvivenza sopra la media" /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/progettazione.png" title="I Tellariti hanno la capacità quasi innata di vedere schemi progettuali lì dove altri vedono solo caos. Per questo motivo i Tellariti ottengono un piccolo bonus alle capacità di progettazione." /><span>+1</span>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/politica.png" title="I Tellariti sono universalmente noti per le loro capacità di oratori, burocrati e politici. Per questo motivo ottengono un bonus sia alle abilità oratorie (Politica) che a quelle Giuridiche (Diritto)" /><span>+2</span>
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/diritto.png" title="I Tellariti sono universalmente noti per le loro capacità di oratori, burocrati e politici. Per questo motivo ottengono un bonus sia alle abilità oratorie (Politica) che a quelle Giuridiche (Diritto)" /><span>+1</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/cucina.png" title="I Tellariti sono ottime forchette, e imparano fin da bambini a cucinare e riconoscere un buon piatto" /><span>+2</span>  
</p>

<p metal:define-macro="bonus_zaldan" class="bonus">
	<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/destrezza.png" title="A causa della loro imponente stazza, gli Zaldan sono meno agili di altre razze, e hanno pertanto un malus in destrezza." /><span style="color:red">-2</span>  

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/costituzione.png" title="Grazie alla loro imponente stazza e ad una fisiologia molto resistente, gli Zaldan hanno un consistente bonus in costituzione" /><span>+3</span>
 
					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/willpower.png" title="A causa della loro cultura basata sull'estrema sincerità, gli Zaldan tendono ad essere meno aperti mentalmente verso chi non si comporta in modo conforme al loro sistema di valori." /><span style="color:red">-1</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/mischia.png" title="La stazza e forza fisica degli Zaldan consente loro di essere avvantaggiati nel combattimento. Anche in mancanza di un addestramento formale, le capacità di combattimento degli Zaldan sono superiori a quelle delle altre specie" /><span>+3</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/intimidazione.png" title="La stazza imponente di uno Zaldan, unita al comportamento talvolta brusco, è in grado di incutere un certo timore nell'interlocutore." /><span>+1</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/sopravvivenza.png" title="Stazza e forza fisica danno un vantaggio in termini di sopravvivenza, sia per quanto riguarda il trasporto equipaggiamento che per il recupero di sostentamento in natura." /><span>+2</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/musica.png" title="Gli Zaldan apprezzano generalmente la musica, specie quella che rispecchia i sentimenti dell'artista." /><span>+1</span>

					<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/abilita/cucina.png" title="Per sostenere il loro fisico gli Zaldan hanno bisogno di un buon sostentamento. Molti Zaldan prediligono cucinare in autonomia, considerandolo un aspetto sociale dove poter dialogare in onestà." /><span>+2</span>  
</p>


</html>

