<div metal:define-macro="corePanels">
<!-- BEGIN corePanels" -->

	<!-- BEGIN dotazioner" -->
	<div id="dotazioner" class="popup draggableSTFModal">
		
		<div class="xButton" />

		<div style="margin-top:10px;">
			<div id="uniformBoxL">
				<input type="hidden" id="uniloc_stage" />
				<input type="hidden" id="additionalVestDetailStatic_stage" />
				<p>
					<img id="uniLoc" style="margin-left:3px; width:90px; margin-top:5px;" />
				</p>
				<p>
					<img id="mostriLoc" />
					<img id="raceLoc"/>
				</p>			
			</div>
			<div id="dscr">
				<p id="ordinaryVestDescription"  />
				<p id="additionalVestDetailStatic" />
			</div>
		</div>

		<div>
			<select class="neon" name="emoSel" id="emoSel" onchange="prevMostrina(this.value)" style="margin-top:20px;" >
			<option value="">- Modifica divisa/mostrina... -</option>
			<option value="SER">Uniforme di Servizio</option>
			<option value="JKT" >Uniforme di Servizio [senza giacca]</option>
			<option value="HIG">Alta Uniforme</option>
			<option value="COA" >Cappotto</option>
			<option value="TAT" >Sbarco - Operativa e Tattica</option>
			<option value="DES" >Sbarco - Desertica</option>
			<option value="POL" >Sbarco - Polare</option>
			<option value="EVA" >Tuta E.V.A.</option>
			<option value="FLY" >Uniforme di Volo</option> 
			<option value="ENG" >Tuta ingegneristica</option> 
			<option value="MED" >Camice chirurgico</option>  
			<option value="LAB" >Camice da Laboratorio</option>  
			<option value="CIV">Abiti Civili</option>
		</select> <button  type="submit" id="confirmer" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="javascript:confirmC();" style="visibility:hidden;">Modifica Abbigliamento </button>

		</div>

		<div style="margin-top:10px; border-top:1px solid #333; width:100%;" >

			<p style="text-align:center; margin:0px; font-size:12px; font-family: Helvetica"><span style="color:#FC0">Dotazione attuale: </span> clicca su un oggetto per rimuoverlo,<br /> oppure aggiungine uno dal tuo inventario usando il menu.<br />Vuoi portare con te un oggetto ma non lo hai in dotazione? Chiedi ad un <span style="color:#F00">Master</span> di assegnartelo!</p>
			<div id="currentDotazione">
			</div>
			<div id="addDotazione">
				<select class="neon" style="width:130px;" id="selecterAdd">
					<option value=''>Aggiungi...</option>
					<optgroup id="selecterAddServ" label="Oggetti di Servizio"></optgroup>
					<optgroup id="selecterAddPers" label="Oggetti personali"></optgroup>
				</select> <input type="submit" style="line-height: 2px;" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="javascript:addDot(jQuery('#selecterAdd').val())" value="Aggiungi"></input>
			</div>
		</div>
	</div>
	<!-- END dotazioner" -->

	<!-- BEGIN statusBox" -->
	<div id="statusBox" class="escape_popup">
		<p style="text-align:center; margin:4px; font-size:20px; font-weight:bold; font-family:federationFont; letter-spacing: 0.1em;"> Notifiche</p>
		<div id="statusContainer">
		</div>

		<div style="text-align:center"><a href="javascript:void(0);" class="interfaceLinkBlue" onclick="javascript:statusOpen();"> APRI STATO NAVE </a></div>
	</div>
	<!-- END statusBox" -->
	
	<!-- BEGIN localizeBox" -->
	<div id="localizeBox" class="draggableSTFModal">
		<div class="xButton" title="Chiudi" style="top:15px; right:15px;" />
		<div id="localizeBoxHead">ONLINE</div>
		<div id="localizeBoxContainer" />
		<div id="localizeBoxTail"></div>
	</div> 
	<!-- END localizeBox" -->

	<!-- BEGIN communicatorBox" -->
	<div id="communicatorBox" class="draggableSTFModal">
		<div class="xButton" title="Chiudi" />
				<div id="commLeft">
					<div style="width:67px">
						<a href="javascript:void(0);" onclick="commRefresh('ppl');"><img class="leftButton" src="../TEMPLATES/img/interface/commInterface/communicator_people.png" title="Comunicatore - Persone" /></a>
						<a href="javascript:void(0);" onclick="commRefresh('pla');"><img class="leftButton" style="margin-left: 0px" src="../TEMPLATES/img/interface/commInterface/communicator_ambient.png" title="Comunicatore - Ambienti" /></a>
					</div>
					<div>
						<img style="margin-top: 10px; width: 100px;" src="../TEMPLATES/img/interface/commInterface/communicator_logo.png"  />
						<button tal:attributes="onclick php:isSet(htmlLiner) ? 'javascript:sendcomm()' : '' ; class php:isSet(htmlLiner) ? 'NBT_Roddenberry green' : 'NBT_Roddenberry gray'">INVIA</button>
					</div>
				</div>
				<div id="commRight"> 
					 <img class="tooltip commAvatar" tal:attributes="src user/pgAvatarSquare ; title string:Mittente: ${user/pgUser}"  />
					
					<div id="fromToCommBox">
						<div class="sectioncolor">
							<img tal:attributes="src string:TEMPLATES/img/ranks/${user/pgMostrina}.png; title string:${user/pgGrado} - Sezione ${user/pgSezione}" /> <span tal:content="user/pgGrado" /> <span tal:content="user/pgUser" />
						</div>
						<img style="width: 30px; margin: 12px; " src="../TEMPLATES/img/interface/commInterface/communicator_frequence.png" />
						<div>
							<select id="commDestOpt" onchange="javascript:setAvatar(this);" class="neon" name="">
								<option value="0" selected="selected"> Tutto il Personale </option>
							</select>
							<input type="hidden" id="commStyle" />
	 
						</div>
					</div>
					<div id="commDestImg" class="tooltip commAvatar" />
				</div>	
				<div>
					<textarea tal:attributes="placeholder php:isSet(htmlLiner) ? 'Messaggio' : 'Per inviare un messaggio con il comunicatore devi essere in una chat' ; readonly php:isSet(htmlLiner) ? '' : 'readonly'"   id="commMessage"></textarea>
				</div>
	</div>
	<!-- END communicatorBox" -->


	<!-- BEGIN reminders" -->
	<div id="reminderST" class="reminder" tal:content="string:D.S. ${currentStarDate}" />

	<div id="reminderAvatar" class="reminder">
			<img tal:attributes="src user/pgAvatarSquare" style="padding:3px;" width="90px" height="90px"/>
			<img tal:attributes="src string:TEMPLATES/img/ranks/${user/pgMostrina}.png; title string:${user/pgGrado} - Sezione ${user/pgSezione}" id="remindMos" /> 

			<a href="javascript:void(0);" onclick="openDotazione();"><img src="TEMPLATES/img/interface/edit_icon.png" /></a> 

			<img tal:attributes="src string:TEMPLATES/img/seclar/seclar${user/pgSeclar}.png" style="padding:4px;" />
	</div>
<!-- END core Panels" -->
</div>

<div metal:define-macro="locationMapPanel">
	<div class="xButton" title="Chiudi" />
	<div id="locationMap" class="popup blackOpacity" tal:attributes="style php:(isSet(showM)) ? 'display:block' : ''">
	<p class="clockTitle blackOpacity" style="text-align:center; margin:0px; font-size:22px;;" tal:content="ambient/locName" />
	<div tal:attributes="style string:width:550px;; background-repeat:no-repeat;; height:400px;; background-image:url('TEMPLATES/img/maps/piante/${ambient/imageMap}');;" id="mapperImage" onclick="setPgPosition(event);">
		<div tal:repeat="pla markers" class="signaler"  tal:attributes="style string:top:${pla/posY}px;;left:${pla/posX}px;; ; title pla/placeString"></div>
	</div>
</div>

<script>
		function setPgPosition(e)
		{
			var mozilla=(/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent))?1:0;

			if(mozilla)
			{
			var xPos = (e.clientX - parseInt(jQuery('#mapperImage').offset().left)-5);
			var yPos = (e.clientY - parseInt(jQuery('#mapperImage').offset().top)-10);
			}
			else
			{
			var xPos = (e.clientX - parseInt(jQuery('#mapperImage').offset().left)-4);
			var yPos = (e.clientY - parseInt(jQuery('#mapperImage').offset().top)-5);
			}
			
			jQuery.post('ajax_setPosition.php', {x: xPos, y: yPos, ambID: jQuery('#ambientID').prop('value')}, updatePosition);
		}
		
		function updatePosition(e)
		{ 
			window.location.href=window.location.href+'&%261';			
		}
</script>

</div>

<div metal:define-macro="remindStaffPresence">
	<div class="popup radiusBordered12" style="width:600px; height:55px; margin-top:-27px; background-color:rgba(255,0,0,0.7); color:white; display: block; border:1px solid red; margin-left:-300px;" id="remindStaffPresence" tal:condition="php:(date('w') GT '1' )">
	
	<p style="font-family:Helvetica; font-weight:bold; font-size:14px; text-align:center; margin:5px;">Attenzione: non hai ancora segnalato nulla nel tool Presenza Staff <br /><br />
	<a style="text-decoration: underline; cursor:pointer; font-size:15px;" class="interfaceLink" onclick="javascript:metaPOpen('',masterShadow);">Compila</a></p>
	
	</div>
</div>

<div metal:define-macro="replicatorPanel">
	<script>function retooltip(){$('img.imageRepli').tooltip();}</script>
</div>



<div metal:define-macro="climatePanel" id="climate" class="popup draggableSTFModal">
	<div class="xButton" title="Chiudi" />
	
	<p class="clockTitle blackOpacity" style="text-align:center;  margin:20px 0 0 0; font-size:22px;">Controlli ambientali: </p>
	<br /><b>Luci: </b><select class="neon" id="lightSet">
	<option value="5" tal:attributes="selected php:(ambient['ambientLight'] == 5)">Piena Illuminazione</option>
	<option value="4" tal:attributes="selected php:(ambient['ambientLight'] == 4)">Illuminazione Media</option>
	<option value="3" tal:attributes="selected php:(ambient['ambientLight'] == 3)">Luci soffuse</option>
	<option value="2" tal:attributes="selected php:(ambient['ambientLight'] == 2)">Luci Basse</option>
	<option value="1" tal:attributes="selected php:(ambient['ambientLight'] == 1)">Luci Spente</option>
	</select><br />

	<b>Temperatura: </b> <select class="neon" id="tempSet" style="font-size:14px; margin-top:5px; font-weight:bold; width:80px; padding:4px; color:#3188F3;text-align:center;"><option tal:repeat="temp php:range(3,39)" tal:attributes="value  temp ; selected php:(ambient['ambientTemperature'] == temp) ? 'selected' : false" tal:content="string:${temp} &deg;C" class="aex" /></select><br /><br />
	 <b>Colore Luce: </b>
	    <link href="TEMPLATES/css/jquery.minicolors.css" rel="stylesheet" />
		<script src="TEMPLATES/js/jquery.minicolors.js"></script>
	    <input id="afw" tal:attributes="value ambient/ambientLightColor"/>
		<script>jQuery('#afw').minicolors();</script><br />

	<div style="margin-top:15px;">

	<button onclick="javascript:climateSet(jQuery('#lightSet').prop('value'),jQuery('#tempSet').prop('value'),jQuery('#afw').prop('value'));" class="NBT_Roddenberry green" >Conferma</button>&nbsp;&nbsp; 

	<button onclick="javascript:climateSet(5,20,'#ffeecb');"  class="NBT_Roddenberry red">Reset</button>
	</div>

	<script>
	var arr = ['#492DE6', '#332DE6', '#2C3BE6', '#2B50E6', '#2B65E6', '#2A7AE6', '#2A8FE6', '#29A5E6', '#28BAE6', '#28D0E6', '#27E6E5', '#26E6CF', '#26E6B9', '#25E6A3', '#25E68C', '#24E676', '#23E65F', '#23E648', '#22E631', '#29E621', '#3FE621', '#56E620', '#6CE620', '#82E61F', '#99E61E', '#B0E61E', '#C7E61D', '#DEE61D', '#E6D61C', '#E6BF1B', '#E6A71B', '#E68F1A', '#E67819', '#E66019', '#E64818', '#E62F18', '#E61717'];
	jQuery('.aex').each(function(index, value){
	jQuery(value).css('color',arr[index]);
	});

	function climateSet(ide,ida,eda){

	jQuery.post('ajax_setIllumino.php', {ambient: jQuery('#ambientID').prop('value'), light: ide, temperature: ida,color:eda},function(){jQuery.post(jQuery('#getterURL').prop('value')+'?ts='+new Date().getMilliseconds(), {ambient: jQuery('#ambientID').prop('value'), lastID: jQuery('#lastID').prop('value')}, selfUpdater, 'json');}, 'json');

	jQuery('#climate').fadeOut(200);
	}

	function lightSet(eda){

	jQuery('#afw').value(eda);
	}

	function toggleIllumino()
	{ 
		jQuery.ajax(
		{
			url: 'ajax_setIllumino.php?toggle=true',
			data:{ambient: jQuery('#ambientID').prop('value')},
			complete: noti, 
			type: 'POST',
			dataType : 'json',
		}); 
	}

	</script>

</div>

<div metal:define-macro="commPanel">
	<div id="commsub" class="popup draggableSTFModal">
		<div class="xButton" title="Chiudi" />
		<p class="clockTitle blackOpacity" style="text-align:center; margin:0px; font-size:22px;">COMUNICAZIONI SUBSPAZIALI</p>
		<input  type="text" name="subspaceMex" id="subspaceMex" class="neon radiusBordered12" style="width:330px; margin-top:10px; margin-left:10px; margin-right:10px;" />
			<select class="neon" id="locationer">
				<option tal:repeat="location locationsA" tal:attributes="value repeat/location/key" tal:content="location"/>
			</select>
		<button onclick="javascript:subspaceCom();" style="margin-top:10px;">INVIA</button>

		<script>
			function subspaceCom()
			{
				jQuery('#commsub').fadeOut(150);
				jQuery.ajax(
				{
				url: 'ajax_subcom.php',
				data: {amb: jQuery('#locID').prop('value'), chatLine: jQuery('#subspaceMex').prop('value'), to: jQuery('#locationer').prop('value')},
				success: noti,
				async:false,
				type: 'POST'
				});
			}
		</script>
	</div>
</div>

<div metal:define-macro="olorankerPanel">
	<div id="oloRanker" class="popup draggableSTFModal">
		<div class="xButton" title="Chiudi" />
		<p class="clockTitle blackOpacity" style="text-align:center;  margin:0px; font-size:22px;">Assegna Gradi Olografici</p>
		<br /><b>ASSEGNA A: </b> <img src="TEMPLATES/img/ranks/CIV.png" id="oloRankPreview" /> <select class="neon" id="tizio"><option tal:repeat="user people" tal:attributes="value user/pgID" tal:content="user/pgUser" /></select>

		<br /><br />
		<select class="neon" style="width:80%" id="rankCode" onchange="javascript:setUniform(this);">
			<optgroup tal:repeat="ranker ranks" tal:attributes="label repeat/ranker/key">
				<option tal:repeat="rnk ranker" tal:attributes="value repeat/rnk/key ; data-uniform php:rnk['uniform']" tal:content="rnk/note"/>
			</optgroup>
		</select>

		<button style="width: 150px; margin-top: 15px; padding: 6px 6px 5px 10px; font-size: 23px;" onclick="javascript:olorankerSet(jQuery('#tizio').prop('value'),jQuery('#rankCode').prop('value'));" class="NBT_Roddenberry green">CONFERMA</button>

		<script>
				
				function setUniform(ida){
					jQuery('#oloRankPreview').attr('src','TEMPLATES/img/ranks/'+jQuery(ida).find('option:selected').attr('data-uniform')+'.png');
				}
				function showRanker()
				{
					jQuery('#locationInfo').fadeOut(300,function(){jQuery('#oloRanker').fadeIn(300)});
				}
				
				function olorankerSet(ida,ibex)
				{
					
					jQuery.ajax(
					{
					url: 'ajax_olorankerSet.php',
					data: {person: ida, whatassign: ibex},
					async:false,
					type: 'POST'
					});
					jQuery('#oloRanker').fadeOut(300);
					
				}
		</script>
	</div>
</div>

<div metal:define-macro="teleporterPanel" id="teleportPanel" style="display:none;" class="popup draggableSTFModal">
	<div class="xButton" title="Chiudi" />
	<script type="text/javascript" src="TEMPLATES/js/teleport.js?v=${gameOptions/numericVersion}"></script>
	<p class="clockTitle blackOpacity" style="text-align:center; margin:0px; font-size:22px;">TELETRASPORTO</p>

	<div style="border:1px solid #0f2c4b; padding:10px; margin:10px; position:relative;">
	<p style="font-size:20px; position:absolute; top:4px; left:4px; margin:0px;" class="clockTitle">Da:</p>
	<p style="margin:0px; height:20px;" id="locationTeleportNotifierP"><span id="locationTeleportNotifier" tal:content="php:ucfirst(strtolower(ambient['locName']))" style="font-size:16px; color:#777; font-variant:small-caps;" /> <a style="font-size:12px; margin-left:20px;" href="javascript:showTeleportChanger();" class="interfaceLink">( Cambia )</a></p>

	<p style="margin:0px; display:none; height:20px;" id="teleportChangerP"><select class="neon" id="teleportChanger" style="margin-left:50px;">
		<optgroup tal:repeat="location locations" tal:attributes="label repeat/location/key">
			<option tal:repeat="place location" tal:attributes="value place/a" tal:content="place/b" />
		</optgroup>
	</select>
	<a id="teleportPanelConfirmButton" style="border:1px solid #999; padding:3px; font-size:11px;" href="javascript:sendayaTeleportFromChange();" class="interfaceLink">[ - Ok - ]</a></p> 

	<div id="userSigner">
	<div class="littleUserSign"  tal:repeat="user people" tal:attributes="title user/pgUser ; id string:tele_${user/pgID} ; style string:background-image:url('${user/pgAvatarSquare}') ; onclick string:javascript:selectTeleportable('tele_${user/pgID}');" ></div> 
	</div><div style="clear:both;"/>
	</div>

	<div style="border:1px solid #333; padding:10px; margin:10px; position:relative;">
	<p style="font-size:20px; position:absolute; top:4px; left:4px; margin:0px;" class="clockTitle">A:</p>
	<select class="neon" id="teleportTo">
		<optgroup tal:repeat="location locationsAll" tal:attributes="label repeat/location/key">
			<option tal:repeat="place location" tal:attributes="value place/a" tal:content="place/b" />
		</optgroup>
	</select>

	</div><div style="clear:both;"/>

	<button onclick="javascript:doTeleport();" class="NBT_Roddenberry green">ENERGIA!</button>

</div>
  
 
<div metal:define-macro="sessionsPanel" id="sessionsP" class="popup draggableSTFModal">
	<div class="xButton" title="Chiudi" />
	
	<p class="clockTitle blackOpacity" style="text-align:center;  margin:0px; margin-bottom:20px; font-size:22px;">Gestore di Sessioni:</p>
	
	<div id="NoSessions" style="display:none;">

		
		<p style="font-size:1.2em; font-family:Helvetica">Non c'è nessuna sessione in corso.<br />Puoi aprire una nuova sessione:</p>
		

		<div style="margin-top:20px;">
			<input type="text" class="neon" style="width:90%" id="sessionLabel" placeholder="Titolo della sessione" />
			<p style="text-align:left; margin-left:10px;" tal:condition="exists:isMasteringJuniorMasterOrMod"><input type="checkbox" id="masterCheck" /> Sessione Master</p>
			<p style="text-align:left; margin-left:35px;" tal:condition="exists:isMasteringJuniorMasterOrMod" >accesso riservato a: <input type="text" placeholder="Tutti" id="tusers" class="neon" name="tusers" onfocus="this.select();" /> </p>
			<p style="text-align:left; margin-left:25px; margin-top:10px; font-family:Helvetica; font-size:14px;" >Attesa massima in turno:
				<select placeholder="Tutti" id="maxturner" class="neon" name="maxturner">
					<option tal:condition="exists:isMasteringJuniorMasterOrMod" value="0"> Infinita </option>
					<option tal:condition="exists:isMasteringJuniorMasterOrMod" value="3"> 3 Minuti </option>
					<option value="4"> 4 Minuti </option>
					<option value="5"> 5 Minuti </option>
					<option value="6" selected="selected"> 6 Minuti </option>
					<option value="7"> 7 Minuti </option>
					<option value="8"> 8 Minuti </option>
					<option value="9"> 9 Minuti </option>
					<option value="10"> 10 Minuti </option>
				</select>
			</p>
			<p style="text-align:left; margin-left:25px; margin-top:10px; font-family:Helvetica; font-size:14px;">
			Caratteri Max / azione: 
				<select id="tcharrer" class="neon" name="tcharrer">
				<option value="0" selected="selected"> Infiniti </option>
				<option value="800"> 800 </option>
				<option value="1000"> 1000 </option>
				<option value="1200"> 1200 </option>
				<option value="1400"> 1400 </option>
				<option value="1600"> 1600 </option>
				<option value="1600"> 1800 </option>
				</select>
			</p>
			<p style="clear:both; margin-top:15px;">


			<a href="javascript:void(0);" onclick="javascript:openSession()"><button class="NBT_Roddenberry green">Apri Sessione</button></a>
			</p>
		</div>
		
	</div>
	
	<div id="YesSessions" style="display:none;">
		<div style="width:85%; margin:auto;">
			<div class="sessionMark" id="sessionDivLabel" />
			<div class="sessionMark viewQuest" id="sessionQuest">Sessione Master <span id="sessionDivTimer" /></div>
			<div style="margin-top:5px;">
				<div class="sessionMark" id="sessionDivOwner">Di: <span id="sessionDivOwnerPlace"/></div><div class="sessionMark" id="sessionDivDate" />
			</div>
			
		</div>
		<div style="clear:both" />
		
		<div style="border:1px solid #333; height:150px; overflow-y:auto; margin-top:10px; background-color:black;">
			<table style="width:100%; text-align:center;"><tr style="background-color:#333; font-weight:bold;"><td style="width:250px; text-align:left;">Personaggio</td><td>Azioni</td><td colspan="2">Caratteri</td></tr><tr><td/><td/><td>Tot</td><td>Media</td></tr><tbody id="tablePG"></tbody></table>
		</div>
		
		<hr/>
		<p id="PtablePG"></p>
		<p style="margin-top:10px;"><a href="javascript:void(0);" onclick="javascript:closeSession()"><button class="NBT_Roddenberry red">Chiudi Sessione</button></a></p>
		<p class="viewQuest" style="display:none;"> (Solo un master può chiudere una sessione Master)</p>

	</div> 
	
	
	
	
	
	<style>
		.sessionMark{ line-height:30px; font-size:1.3em; text-align:center; height:30px; margin:auto; font-weight:bold; border-radius:8px; transition:.5s;}
		#sessionDivLabel{width:100%;   background-color: #053468;}
		#sessionDivOwner{width:38%; float:left;  background-color: #4e4e4e;}
		#sessionDivDate{width:45%; float:right;   background-color: #4e4e4e;}
		#sessionQuest{width:100%; float:left; margin-top:10px; margin-bottom:10px;  background-color: #4e0000; font-size:1em; line-height:20px; height:20px; display:none;}
	</style>
</div>


<div metal:define-macro="masterDicePanel" id="masterDicePanel" class="popup draggableSTFModal">
	<div class="xButton" title="Chiudi" />
	<script>
		function recompute(fo){
		
			jQuery.ajax(
			{
				url: 'ajax_manipulateAbilities.php?action=rollRecompute',
				data:{abID: jQuery(fo).parent().parent().find('.abiDice').val(),valor:jQuery(fo).parent().parent().find('.valDice').html(), mod:jQuery(fo).val(),'pgID': jQuery(fo).parent().parent().find('.pgID').val() },
				type: 'POST', 
				dataType : 'json',
				timeout:4500,
				success: function(e){

					jQuery(fo).parent().parent().find('.abiOutcome').html(e["outcome"]);
				}
			}); 		
		}  

		function distributeDice(){

			var tly=[];

			jQuery('.diceEvent').each(function(k,v){

				recID = jQuery(v).find('.recID').val();
				abMod= jQuery(v).find('.abMod').val();

				tly.push([recID,abMod]);
				jQuery('.diceEvent.r_'+recID).remove();

			});

			jQuery.ajax(
			{
			url: 'ajax_manipulateAbilities.php?action=rollDeliver',
			data:{lister: JSON.stringify(tly) , amb: jQuery('#locID').prop('value') },
			type: 'POST',
			dataType : 'json',
			success: function(e){
				jQuery.ajax(
				{
				url: jQuery('#getterURL').prop('value')+'?ts='+new Date().getMilliseconds(),
				data:{ambient: jQuery('#ambientID').prop('value'), lastID: jQuery('#lastID').prop('value')},
				success: selfUpdater, 
				type: 'POST',
				dataType : 'json',
				}); 
			},
			timeout:4500
			});

			jQuery('#masterDicePanel').fadeOut(); 

		}

	</script>

		
	<p class="clockTitle blackOpacity" style="text-align:center;  margin:0px; margin-bottom:20px; font-size:22px;">Assegna Esiti Master</p>

	<div style="height:210px; overflow-y:auto;">
	<table id="adler">
		<tr style="background-color:#444; font-weight:bold;"><td style="padding:3px;">User</td><td style="padding:3px;">Abilità</td> <td style="padding:3px;">Dado</td> <td style="padding:3px;">Soglia / Modificatore</td> <td style="padding:3px;">Esito Calcolato</td> </tr>

		<tr tal:repeat="adlerDice diceEvents" tal:attributes="class string:diceEvent r_${adlerDice/recID}"><td tal:content="adlerDice/pgUser"></td><td><img tal:attributes="src string:TEMPLATES/img/interface/personnelInterface/abilita/${adlerDice/abImage}" style="width:50px;" /></td><td><span class="valDice" tal:content="adlerDice/outcome"></span>  <input class="abiDice" type="hidden" tal:attributes="value adlerDice/abID" /> <input class="recID" type="hidden" tal:attributes="value adlerDice/recID" /> <input class="pgID" type="hidden" tal:attributes="value adlerDice/pgID"  />  </td>  <td><span tal:content="adlerDice/threshold" />+ <select class="abMod" onchange="recompute(this);"><option value="-6">-6</option> <option value="-3">-3</option> <option value="0" selected="selected">0</option> <option value="-99">Annulla</option> <option value="3">+3</option> <option value="6">+6</option> </select></td> <td class="abiOutcome" tal:content="adlerDice/outcomeW"></td></tr>

	</table>
	</div>

	<input onclick="distributeDice();" style="height:23px; padding:2px; font-size:12px; letter-spacing:1.4px; background-color:#1e7597; cursor:pointer;" value="Lancia l'Utente!" class="ui-button ui-widget ui-state-default ui-corner-all" />

</div> 


<div metal:define-macro="PGsearchPanel" id="PGsearchPanel" class="popup draggableSTFModal">
	<style>
		.ui-autocomplete{font-size:20px; max-height: 600px; overflow-y: auto; overflow-x: hidden; }
		.ui-autocomplete li div {clear:both;}
		.ui-autocomplete li div div{width:30px; height:30px; background-size:cover; background-position:center; float:left; margin-right:5px; border-radius:5px;}
		.ui-autocomplete .mode{color:#999; text-transform: uppercase; font-size:13px;}
		.ui-autocomplete .mode:before{content:'[ ';}
		.ui-autocomplete .mode:after{content:' ]';}
		.ui-autocomplete .mode.Master{color:red;}
		.ui-autocomplete .mode.Stato-Servizio{color:#FFCC00;}
		.ui-autocomplete .mode.DPadd{color:#0077c3;}
		.ui-autocomplete .mode.Admin{color:#f98c07;}
		.ui-autocomplete .mode.Luogo{color:purple}

	</style>
	<input type="text" required="required" placeholder="Ricerca" name="searchKey" id="searchKey" class="neon"/>
</div>