<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/circle.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" /> 
	
	<script type="text/javascript" src="TEMPLATES/js/JQ110.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110h.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/JU.js" /> 

	<title>STAR TREK FEDERATION - SCHEDA</title>	
	<script type="text/javascript">
	
	jQuery(function(){ 
			jQuery('#toOff').button();  
			jQuery('.incButton').button(); 
			jQuery('.dincButton').button(); 
			jQuery('.tooltip').tooltip();
			setView('brevdiv_'+jQuery('#openAbil').val());

		});
		
	function paddOpen(who){window.open ('padd.php?s=seR&to='+who+'&sub=','padd', config='scrollbars=no,status=no,location=no,resizable=no,resizale=0,top=140,left=500,width=655,height=403');}
	
	function tog(ida){
		jQuery('#'+ida).toggle();
	}

	function setView(ida){
		jQuery('#realLateral').html(jQuery('#'+ida).html());
		jQuery('.imageObrev').addClass('grayScale');
		jQuery('#img_'+ida).removeClass('grayScale');
		jQuery('.tooltip').tooltip();
		}

	</script>
	
	<style>
	.ui-tooltip {
    font-family:Helvetica;
	font-size:13px; 
	max-width:200px;
  }

  
  img.brevHighlit {height:25px; vertical-align:middle;}
  img.rankHighlit {width:25px; vertical-align:middle;}
  p.brevTitleRed {margin:0px; text-align:center; color:red; font-weight:bold;}
  span.brevTitleWhite {margin:0px; text-align:center; color:white; font-weight:bold;}
  span.brevTitleFC0 {color:#FC0; font-weight:bold;}
  span.brevTitleGreen {color:#0F0; font-weight:bold;}
  span.brevTitleYelo {color:yellow; font-weight:bold;}
  
  #lateralL{float:left; text-align:center; overflow-y:auto; height:525px; margin-top:0px; width:180px; margin-left:-7px;}
  .lateralR{display:none; float:right; margin-right:0px; height:525px; margin-top:0px; width:415px;}
  
  #lateralRtop{width:100%; height:180px;}
  #lateralRbottom,.lateralRbottom{width:100%; margin-top:25px; height:300px;}
  .descriText{font-family:verdana; font-size:14px; margin:0px; height:170px; overflow-y:auto; line-height:20px; padding:3px 10px; text-align:justify;}
  
  .imageObrev,.imageObrevNoGray{margin-left:3px; cursor:pointer;}
  
  .fc0Back{background-color:#413a1e;}
  .redBack{background-color:#522a2a;}
  .blueBack{background-color:#2a3352;}
  .incButton{height:30px; width:120px; margin-top:-5px; vertical-align:middle; padding:2px; font-size:12px; letter-spacing:1.4px; background-color:#157413;}
  .dincButton{height:30px; width:120px; margin-top:-5px; vertical-align:middle; padding:2px; font-size:12px; letter-spacing:1.4px; background-color:#3e88ed;}
  
  .grayScale:hover{
   filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
	filter:none;
	opacity:1;
  }
  
  form p {margin:auto; position:relative; text-align:center;}
	</style>
</head>

<body style="background-color:black; overflow:hidden; padding:-5px;">

<div id="schedaContainer" style="background-image:url('TEMPLATES/img/interface/personnelInterface/cornice_scheda_up.png');">

<div metal:use-macro="TEMPLATES/metal.htm/schedaIntro" />
 
<div id="mainContainer">
 

<div id="lateralL">
	<div style="text-align:center; width:90%;">
		Hai <span style="font-weight:bold; color:#FFCC00;" tal:content="string:${resUPoints}"></span> UP rimanenti
	</div>
	<div tal:repeat="sect abil" style="text-align:center; width:90%;">
		<p tal:content="php:labeler[repeat.sect.key]" tal:attributes="onclick string:javascript:tog('bt_${repeat/sect/key}') ; class string:abiliAggregator ${repeat/sect/key}" style="cursor:pointer; width:90%; display:block; border-radius:0; text-align:center;"></p>
		<div tal:attributes="id string:bt_${repeat/sect/key} ; style php:((isSet(openedCategory) && openedCategory EQ repeat.sect.key) ? 'display:block' : 'display:none') " style="display:none;">
			<img tal:attributes="title string:${ab/abName} ; class php:((ab['value'] != NULL) ? 'imageObrevNoGray tooltip' : 'grayScale imageObrev tooltip' )  ; src string:TEMPLATES/img/interface/personnelInterface/abilita/${ab/abImage} ; onclick string:javascript:setView('brevdiv_${ab/abID}') ; id string:img_brevdiv_${ab/abID}" style="width:42px;" tal:repeat="ab sect" />
		</div>
	</div>
 
	<!--<img tal:attributes="title string:Area ${brev/sectName} ; src string:TEMPLATES/img/ruolini/brevetti/${brev/image} ; onclick string:javascript:setView('brevdiv_${brev/sectID}') ; id string:img_brevdiv_${brev/sectID}" class="imageObrevNoGray tooltip" style="width:42px;" tal:repeat="brev abil0" /><hr />
	<img tal:attributes="title string:Area ${brev/sectName} ; src string:TEMPLATES/img/ruolini/brevetti/${brev/image} ; onclick string:javascript:setView('brevdiv_${brev/sectID}') ; id string:img_brevdiv_${brev/sectID}" class="grayScale imageObrev tooltip" style="width:42px;" tal:repeat="brev brevToShow/1" />-->

</div>

<div class="lateralR" id="realLateral" style="display:block; overflow-y:hidden;">

	<div id="lateralRtop">
	
		<div style="margin:10px;">
			<p class="title" style="font-size:25px; margin-top:30px; text-transform:uppercase;">Hai <span tal:content="resUPoints" style="font-weight:bold; color:#FFCC00"></span> Upgrade Points da assegnare</p><hr /><p class="title" style="font-size:25px; margin-top:5px; text-transform:uppercase;"><span style="font-size:17px;">Clicca sulle abilità a lato per aprire la categoria corrispondente ed assegnare i punti.</span><hr/></p>
		</div>
		
	</div>

	<div class="lateralRbottom">
		<div style="margin-left:5px; margin-right:5px;">
		
		<p style="line-height:20px; font-size:15px;">I punti che hai a disposizione ti permettono di sviluppare le <span style="font-weight:bold; color:#FFCC00"> abilità </span> e le <span style="font-weight:bold; color:teal"> caratteristiche </span> del tuo personaggio.</p>

 		<ul style="line-height:18px; font-size:15px;"><li>Le <span style="font-weight:bold; color:teal"> caratteristiche </span> rappresentanto ciò che il tuo personaggio è in quanto tale, e sono indicatori generali di condizioni prettamente fisiche. Ogni caratterisca è in grado di influenzare più abilità, pertanto il loro costo è decisamente più elevato.</li>
		<li>Le <span style="font-weight:bold; color:#FFCC00"> abilità </span> rappresentano ciò che il tuo personaggio conosce: sono le competenze che sviluppa nel corso della sua crescita. Il livello individua la padronanza della disciplina e, insieme alla caratteristica corrispondente, influenza la probabilità di successo al lancio del dado. </li></ul>

		<p style="line-height:20px; font-size:15px;">Maggiori informazioni disponibili qui: <a href="javascript:void(0);" onclick="javascript:dbOpenToTopic('243')" class="interfaceLink"> [ - INFO - ]</a></p></div>
	</div>
	
</div> 

<div tal:repeat="cat abil"> 
<div class="lateralR" tal:attributes="id string:brevdiv_${abilit/abID}" tal:repeat="abilit cat">

	<div id="lateralRtop" tal:attributes="style string:position:relative ;; background-image:url('TEMPLATES/img/interface/personnelInterface/abilita/cat_images/${abilit/abEImage}')">
	
	<div style="font-size:45px; background-color:rgba(0,0,0,0.5); text-align:center; font-weight:bold; font-family:federationFontI; position:absolute; width:150px; height:50px; right:0px; bottom:0px;"> <span tal:content="php:(abilit['value'] == NULL) ? '-' : abilit['value']" /> <span style="color:#256aa0;">/ 15</span> </div>
	
	</div>
	
	<div id="lateralRbottom">
		<p class="title" style="font-size:25px; margin-top:35px; text-transform:uppercase;" tal:content="string:${abilit/abName}"> </p>
		
		<p style="margin:0px; text-align:center;" tal:condition="php:count(abilit['dep']) GT 0"> Si basa su: <img class="tooltip" tal:repeat="dpp abilit/dep" tal:attributes="title string:${dpp/0/abName} (lanciando su questa abilità, viene dato un bonus pari al ${dpp/1}% del punteggio di ${dpp/0/abName}); src string:TEMPLATES/img/interface/personnelInterface/abilita/${dpp/0/abImage}" style="width:28px; vertical-align:middle; margin-left:10px;" />

		

		</p>
		
		<div class="descriText" tal:content="structure abilit/abDescription"> Test Descri </div>


		<div style="position:absolute; bottom:10px; right:10px;">
			<img style="width:35px; vertical-align:middle; margin-left:5px;" src="TEMPLATES/img/interface/personnelInterface/warning_laptop.png" class="tooltip"  tal:condition="php:(abilit['value'] == NULL) && (resUPoints LT abilit['abDiff']+1)" tal:attributes="title php:'Non possiedi i ' . (abilit['abDiff']+1) . ' UP necessari per attivare questa abilità' " />

			<img style="width:35px; vertical-align:middle; margin-left:5px;" src="TEMPLATES/img/interface/personnelInterface/warning_laptop.png" class="tooltip"  tal:condition="php:(abilit['value'] != NULL) && count(abilit['exp']) == 0" tal:attributes="title php:'Non possiedi i ' . abilit['lastCost'] . ' UP necessari per incrementare questa abilità' " />

			<img style="width:35px; vertical-align:middle; margin-left:5px;" src="TEMPLATES/img/interface/personnelInterface/blue_warning_laptop.png" class="tooltip" tal:condition="php:(abilit['abDiff'] GT 0 && abilit['value'] == NULL)" tal:attributes="title php:'Attenzione! Se lanci un dado su ' . abilit['abName'] . ' senza attivarla, avrai un malus di ' . abilit['abDiff']*3" />
		</div>
		
		
	<div style="margin-top:20px;">

		<form method="POST" tal:attributes="action string:scheda.php?s=addPointCar" tal:condition="php: (abilit['value'] == NULL && (resUPoints GE abilit['abDiff']+1) ) " onsubmit="javascript:return confirm('Confermi l\'operazione?')">
			<p>
			
			<input type="hidden" name="dcar" tal:attributes="value abilit/abID" />
			<input type="hidden" name="userSelector" tal:attributes="value selectedUser" />
			<input type="hidden" name="target" value="0" />

			<button class="incButton" style="background-color:#6b580e; width:auto;" tal:content="php:'ATTIVA l\'abilità (' . (abilit['abDiff']+1) . ' UP)'"> </button>
			</p>
		</form>


		<form method="POST" tal:attributes="action string:scheda.php?s=addPointCar" tal:condition="php:(abilit['value'] != NULL && count(abilit['exp']) GE 1) "  onsubmit="javascript:return confirm('Confermi l\'operazione?')">
			<p>			
				<input type="hidden" name="dcar" tal:attributes="value abilit/abID" />
				<input type="hidden" name="userSelector" tal:attributes="value selectedUser" />
				<span style="font-size:18px;">Incrementa a</span> <select name="target" style="font-size:18px; text-align:center;"><option tal:repeat="ala abilit/exp" tal:attributes="value string:${ala/0}" tal:content="string:Livello ${ala/0} (${ala/1} UP)" /></select> <button class="incButton">Conferma</button>
			</p>
		</form>
		</div>
	</div>
</div>
</div>

<p style="position:absolute; bottom:-14px; z-index:10; left:0px;" tal:condition="php:(!userData.png)"><a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=bv" class="interfaceLink"><img src="TEMPLATES/img/interface/personnelInterface/scheda_indietro_btn.png" /></a></p>
</div>


</div>

</body>
<input type="hidden" tal:attributes="value openedAbil" tal:condition="exists:openedAbil" id="openAbil" /> 
</html>