<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/cdb_styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />

	<script type="text/javascript">
		jQuery(function() {

			jQuery('.tooltip, #intestLeft a').tooltip({
				content: function (){
					return $(this).prop('title');
					}
				});
		})
	</script>


	<title>ARCHIVIO TYCHONIAN EAGLE - PADD</title>	

</head>

<body style="background-color:black; overflow:hidden; height:305px;">

<div id="paddContainer">

<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />

<div id="intestLeftPost" style="top:50px; left:20px;">
<a tal:condition="php:(masterable==true)" href="padd.php?s=ta" class="interfaceLink"><img src="TEMPLATES/img/interface/paddInterface/padd_arch.png" alt="Archivio" /></a>
</div>

<div style="text-align:right; margin-right:30px;"><img src="TEMPLATES/img/interface/paddInterface/fed_eagle.jpg" />
<br /><span class="titoloarticolo" style="font-size:1.2em; padding:0px;" tal:content="string:Edizione del ${datae}" />
</div>

<div id="news" class="heraldMain radiusBordered" style="text-align:center; margin-top:10px;">
		
			<p class="titoloarticolo" style="margin:0px;" tal:content="title" />
			<p class="titolosubarticolo" style="margin:0px;" tal:content="subtitle" />
			<p class="testoNews" style="margin:0px; margin-bottom:10px; font-size:14px; margin-top:10px; height:385px; padding-right:10px; overflow-y:auto; text-align:justify"><span style="font-weight:bold;" 
tal:content="time" />&nbsp;&nbsp;<span tal:content="structure text"/></p>
			
</div>

</div>
</body>
</html>
