<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" />
	
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />


	<title>FEDERATION - PADD</title>	
	
<script type="text/javascript">

		jQuery(function(){
			jQuery('#intestLeft a').tooltip({
          		content: function () {
              	return jQuery(this).prop('title');
          	}
      		});
		});
		

		function jmp(to)
		{
			jQuery('.paddMain').fadeOut(400);
			jQuery('#'+to).fadeIn(400);
		}
</script>
</head>

<body style="background-color:black; overflow:hidden;">

<div id="paddContainer">

<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />

<div id="intestLeftPost" >
<a href="javascript:jmp('newNote')"><div class="btn" id="newBTN"/></a></div>

<p style="font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif; margin:0px; text-align: center; text-shadow: 0 0 5px #00C6FF; font-weight:bold;font-size:20px; text-decoration: underline; font-weight:bold;"> Appunti Personali </p>
<div id="newNote" class="paddMain radiusBordered" style="display:none; height:500px;">
	<div class="innerPadd" style="margin-right:auto;margin-left:auto; width:575px; overflow:hidden;">
	<form action="padd.php?s=newNote" method="POST">
		<table cellspacing="0px">
			<tr>
				<td class="newPaddtd">
					<p class="titleRoddenberry">TITOLO</p>	
					
					<input maxlength="25" name="titolo" style="width:550px; border-radius: 5px; font-size: 17px; padding: 6px;"/>
				</td>
			</tr>
			<tr><td class="newPaddtd">
				<p style="margin-top: 5px;" class="titleRoddenberry">TESTO appunti</p>
				
				<textarea name="testo" style="border-radius: 12px; padding: 6px;  width:550px; height:325px; font-size: 15px;"/>
			</td>
		</tr>
			<tr><td colspan="2" style="text-align:center; "><input class="sendpadd" type="submit" value="INVIA" style="margin-top: 5px;" /></td></tr>
		</table>
	</form>
	</div>
</div>

<div class="paddMain radiusBordered" style="height:500px;">
<div class="innerPadd" style="height: 480px;">
<table style="width:98%;">
	<tr tal:repeat="note notes">
		<td class="tdMessage"><a class="topicNormal" tal:attributes="href string:padd.php?s=readNote&ID=${repeat/note/key}" tal:content="note" /></td>
		<td style="width:50px;"><a tal:attributes="href string:padd.php?s=delNote&ID=${repeat/note/key}"><img src="TEMPLATES/img/interface/delete.png" title="Elimina" /></a></td>
	</tr>
</table>
</div>
</div>


</div>
</body>
</html>