<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />

	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />

	<link tal:condition="php:user.getCTS()" tal:attributes="href php:'TEMPLATES/css/' . user.getCTS() . '?v=' . gameOptions['numericVersion'] " rel="stylesheet" type="text/css" />	
	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	 

	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/caret.js?v=${gameOptions/numericVersion}"></script>
	<script type="text/javascript" src="TEMPLATES/js/padd.js?v=${gameOptions/numericVersion}"></script>
	

	<title>FEDERATION - PADD</title>	
	

<script tal:condition="exists:animate">
	jQuery(function(){
		//setTimeout(function(){jQuery('#A2').fadeIn(300); jQuery('#contentBypass').fadeIn(800);},1500)
		jQuery('#A1').on('animationend',function(){ jQuery('#A2').fadeIn(100); jQuery('#contentBypass').fadeIn(800); });
	});
</script>
<style tal:condition="exists:animate">

	#authBlock #A1{ animation: animated-text 1s steps(30,end) 1s 1 normal both;}
	/* text animation */
	#authBlock #A2, #contentBypass {display: none;}

	@keyframes animated-text{
	  from{width: 0;}
	  to{width: 480px;}
	}
</style>

<style>


#authBlock{
	font-variant: small-caps;
    position: absolute;
    left: 5%;
    top: 43px;
    width:590px;
    font-size: 14px;
}

#authBlock #A1{
  height: 40px;
  white-space: nowrap;
  overflow: hidden; 
  width: 480px;
  line-height: 16px;
  float:left;
  margin-top:3px;
 }

 #authBlock #A1 span.userTag
 {
 	display:inline-block;
 	margin-left:5px;
 	padding-left:5px;
 	border-left:2px solid #999;
 	color:var(--custom_section_color,#ffcc00);
 	font-weight:bold;
 	padding-left:5px;
 }


#authBlock #A2 span.seclarBox{
	margin-left:5px;
	padding: 2px 10px 4px 10px;
	background-color: #151515;
	border: 1px solid var(--custom_section_color,#ffcc00);
	border-radius: 5px;
}

</style>
</head>

<body style="background-color:black; overflow:hidden;">

<div id="paddContainer">

<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />


<div id="intestLeftPost" >
<a href="javascript:jmp('newPadd')"><div class="btn" id="newBTN"/></a> <a href="javascript:jmp('outgoing');"><div class="btn" id="sentBTN"/></a> <a href="javascript:jmp('incoming')"><div class="btn" id="receivedBTN"/></a> <a onclick="return confirm('Conferma cancellazione');" href="javascript:deleteSelected();"><div class="btn" id="delselBTN"/></a></div>

<div id="messaSend" class="radiusBordered12" style="font-variant:small-caps; display:none; font-size:16px; position:absolute; top:50%; left:50%; width:300px; border:1px solid #777; height:20px; margin-left:-155px; margin-right:-15px; background-color:black; padding:5px; text-align:center; font-size:13px" tal:condition="exists:paddSent">Padd Inviato</div>
<script type="text/javascript" tal:condition="exists:paddSent">jQuery('#messaSend').fadeIn(1000); setTimeout("jQuery('#messaSend').fadeOut(500)",2500);</script>

<div id="authBlock"> 
    
    <p id="A1">
    	<img style="width:20px; vertical-align: middle;" src="TEMPLATES/img/ruolini/brevetti/starfleet_brev.png " />
		<span style="font-weight:bold; font-variant: small-caps;">Accesso Autorizzato</span>
    	<span class="userTag" tal:content="string:${user/pgGrado} ${user/pgUser}, ${user/pgNomeC}" />
    </p>

    <p style="float:right;" id="A2">
    	<span class="seclarBox"><img  style="vertical-align: middle;" tal:attributes="src string:TEMPLATES/img/seclar/seclar${user/pgSeclar}.png" /></span>
    </p>

    </div>

<div id="contentBypass">

<div id="newPadd" tal:attributes="style php:(submode=='se') ? 'display:block;;' : 'display:none;;'" class="paddMain padderMain radiusBordered">
<div class="innerPadd" style="margin-right:5px;margin-left:15px; width:625px; height: 310px; overflow:hidden;">

<form action="padd.php?s=newP" id="formContent" method="POST">

	<div style="position:absolute; top:73px; right:25px;">
		<img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/info.png" title="&Egrave; possibile selezionare pi&ugrave; di un contatto) - Es. Picard, Barclay, Janeway..."/>
	</div>

	<table cellspacing="0px">
		<tr style="height: 12px;">
			<td style="width:110px; font-size: 12px;">DESTINATARIO/I: </td>
			<td class="newPaddtd"><input type="text" class="neon" id="users" name="users" style="width:450px"/></td>
		</tr>
		<tr style="height:3px;" />
		<tr style="height: 12px;">
			<td style="width:110px; font-size: 12px;">OGGETTO:</td>
			<td class="newPaddtd"><input type="text" class="neon" maxlength="25" name="titolo" style="width:450px;"/></td></tr>
		<tr style="height:5px;" />
		<tr>
			<td style="width:110px; padding-top: 6px; ">
			<!-- START BLOCCO BOTTONI -->
			<div metal:use-macro="TEMPLATES/padd_metal.htm/paddBBCodeBlock" />
			</td>
		<td class="newPaddtd">
			<textarea name="testo" id="postContent" style=" padding: 5px 6px 5px 6px; margin:2px; border-radius: 12px; width:440px; height:188px;"/>
			<div style="margin-top:5px;">
				<select class="neon" name="paddType"  style="margin-right: 10px; width:160px; font-size: 16px; font-variant: small-caps;">
				<option value="0">On-Game</option>
				<option value="1">Off-Game</option>
				<option tal:condition="exists:isGuide" value="3">Guide/Revisioni</option>
				<option tal:condition="exists:isMaster" value="4">Evento Master</option>
				<option tal:condition="exists:isAdmin" value="1S">Off-Game-Forzamail</option>
				</select>
				<input type="submit" value="INVIA" class="sendpadd" />
			</div>
		</td>
	</tr>
	</table>

</form>
</div>

</div>

<div id="incoming" tal:attributes="style php:(submode=='in') ? 'display:block;;' : 'display:none;;' ; class php:(user.pgSpecie=='Romulana') ? 'paddRomulanMain padderMain radiusBordered' : 'paddMain padderMain radiusBordered'">

<div class="innerPadd" style="height:260px;"><form action="padd.php?s=delInPad" id="delPadds" method="POST">
<table>
	<tr tal:repeat="padd incoming/0" tal:attributes="id string:padd_${padd/ID}">
		<td style="width:15px;" class="incoming unread"><div class="unselectedPadd" title="seleziona" tal:attributes="id padd/ID ; onclick string: javascript:togglePaddIndicator(this);"  style="cursor:pointer;"/> </td>
		<td style="width:300px;" class="tdMessageNew"><a tal:attributes="href string:padd.php?s=read&paddID=${padd/ID} ; title padd/paddText ; class php:( (padd['paddType']) ? 'tooltip offPadd_' . padd['paddType'] . '  tdMessageNew' : 'tdMessageNew')" tal:content="padd/title" /></td>
		<td style="width:200px;" class="tdMessageNew" tal:content="padd/time"></td>
		<td style="width:150px;" class="tdMessageNew" tal:content="padd/from"></td>
		
	</tr>
</table>
<hr tal:condition="php:count(incoming[0])" />
<table>
	<tr tal:repeat="padd incoming/1" tal:attributes="id string:padd_${padd/ID}">
		<td style="width:15px;" class="incoming read"><div class="unselectedPadd" title="seleziona" tal:attributes="id padd/ID ; onclick string: javascript:togglePaddIndicator(this);" style="cursor:pointer;"/> </td>
		<td style="width:300px;" class="tdMessage"><a tal:attributes="href string:padd.php?s=read&paddID=${padd/ID} ; title padd/paddText ; class php:( (padd['paddType']) ? 'topicNormal tooltip offPadd_' . padd['paddType'] : 'topicNormal tooltip')" tal:content="padd/title" /></td>
		<td style="width:200px;" class="tdMessage" tal:content="padd/time"></td>
		<td style="width:150px;" class="tdMessage" tal:content="padd/from"></td>
	</tr>
</table></form>

</div>
<div id="intestBottomPost">
<a href="javascript:selectAll(0)"><div class="btn" id="selectaBTN"/></a>
<a href="javascript:selectAll(1)"><div class="btn" id="noneBTN"/></a>
<a href="javascript:selectRead()"><div class="btn" id="readBTN"/></a>
</div>
</div>

<div id="outgoing" tal:attributes="style php:(submode=='ou') ? 'display:block;;' : 'display:none;;' ; class php:(user.pgSpecie=='Romulana') ? 'paddRomulanMain padderMain radiusBordered' : 'paddMain padderMain radiusBordered'">
<div class="innerPadd" style="height:260px;">
<table>
	<tr tal:repeat="padd outgoing/0" tal:attributes="id string:padd_${padd/ID}">
		<td style="width:15px;" class="outgoing read"><div class="unselectedPadd" title="seleziona" tal:attributes="id padd/ID ; onclick string: javascript:togglePaddIndicator(this);" style="cursor:pointer;"/> </td>
		<td style="width:300px;" class="tdMessageNew"><a tal:attributes="href string:padd.php?s=read&paddID=${padd/ID} ; class php:( (padd['paddType']) ? 'offPadd_' . padd['paddType'] . '  topicNormal' : 'topicNormal')" tal:content="padd/title" /></td>
		<td style="width:200px;" class="tdMessageNew" tal:content="padd/time"></td>
		<td style="width:150px;" class="tdMessageNew" tal:content="padd/to"></td>
	</tr>
</table>
<span style="font-weight: bold;">Letti:</span>
<hr tal:condition="php:count(incoming[1])" />

<table>
	<tr tal:repeat="padd outgoing/1" tal:attributes="id string:padd_${padd/ID}">
		<td style="width:15px;" class="outgoing unread"><div class="unselectedPadd" title="seleziona" tal:attributes="id padd/ID ; onclick string: javascript:togglePaddIndicator(this);" style="cursor:pointer;"/> </td>
		<td style="width:300px;" class="tdMessage"><a tal:attributes="href string:padd.php?s=read&paddID=${padd/ID} ; class php:( (padd['paddType']) ? 'offPadd_' . padd['paddType'] . '  topicNormal' : 'topicNormal')" tal:content="padd/title" /></td>
		<td style="width:200px;" class="tdMessage" tal:content="padd/time"></td>
		<td style="width:150px;" class="tdMessage" tal:content="padd/to"></td>
	</tr>
</table>
</div>
<div id="intestBottomPost">
<a href="javascript:selectAll(0)"><div class="btn" id="selectaBTN"/></a>
<a href="javascript:selectAll(1)"><div class="btn" id="noneBTN"/></a>
</div>
</div>

</div>


</div>
</body>
</html>