<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/cdb_styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />

	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />

	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link tal:attributes="href php:(user.pgSpecie == 'Romulana') ? 'TEMPLATES/css/anythingslider_green.css' : 'TEMPLATES/css/anythingslider.css'" rel="stylesheet" type="text/css" />
	 
	<script type="text/javascript" src="TEMPLATES/js/caret.js?v=${gameOptions/numericVersion}"></script>
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<!-- Nota: Anything Slider per le news -->
	<script type="text/javascript" src="TEMPLATES/js/jquery.anythingslider.min.js"></script>
	<script type="text/javascript">
		function jmp(to)
		{
			jQuery('.paddMain').fadeOut(400);
			jQuery('#'+to).fadeIn(400);
		}
		
		jQuery(function() {
			jQuery('#caSli').anythingSlider({
			 buildArrows         : false,
			 buildNavigation     : true,  
			 buildStartStop      : false, 
			 enableArrows        : false
			});
		
		jQuery('#intestLeft a').tooltip({
			content: function (){
          		return $(this).prop('title');
          		}
			});

		})

	</script>

	<title>TYCHONIAN EAGLE - PADD</title>	
</head>

<body style="background-color:black; overflow:hidden; height:305px;">

<div id="paddContainer">

<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />

<div id="intestLeftPost" style="top:50px; left:20px;">
<a tal:condition="php:(masterable==true)" href="javascript:jmp('newHerald')" class="interfaceLink"><img src="TEMPLATES/img/interface/paddInterface/padd_new.png" alt="Nuovo" /></a> <a href="padd.php?s=ta" class="interfaceLink"><img src="TEMPLATES/img/interface/paddInterface/padd_arch.png" alt="Archivio" /></a>
</div>

<div style="text-align:right; margin-right:30px;"><img src="TEMPLATES/img/interface/paddInterface/fed_eagle.jpg" />
<br /><span class="titoloarticolo" style="font-size:1.2em; padding:0px;" tal:content="string:Edizione del ${datae}" />
</div>


<div id="newHerald" tal:condition="php:(masterable==true)"  class="heraldMain radiusBordered" style="display:none;">
<div class="innerPadd" style="margin-right:auto;margin-left:auto; width:575px; height: 420px; overflow:hidden;">

<form action="padd.php?s=newH" id="formContent" method="POST">

<table cellspacing="0px">
	<tr>
		<td colspan="2" class="newPaddtd">
			<div class="titleRoddenberry">Titolo</div>
			<input maxlength="37" id="titolo" name="titolo" style="font-size: 17px; border-radius: 6px; width:550px;"/>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="newPaddtd">
			<div class="titleRoddenberry">Sottotitolo</div>
			<input id="sottotitolo" name="sottotitolo" style="font-size: 17px; border-radius: 6px; width:550px;"/>
		</td>
	</tr>
	<tr>
		<td rowspan="2" style="width: 80px;">
		<!-- START BLOCCO BOTTONI -->
			<div metal:use-macro="TEMPLATES/padd_metal.htm/paddBBCodeBlock" />	
		</td>
		<td class="newPaddtd">
		<div class="titleRoddenberry">Testo Dell'Articolo</div>
			<textarea name="testo" id="postContent" style="font-size: 15px; border-radius: 12px; width:430px; height:240px;"/>
		</td>
	</tr>
	<!-- <tr tal:condition="php:(adminable==true)"><td style="width:140px; border:1px dotted #333; ">TESTO</td><td class="newPaddtd">

	<select name="aleXX">
		<option value="FED">FED</option>
		<option value="ROM">ROM</option>
		<option value="SCI">Scienza</option>
		<option value="GDO">Gdr Online</option>
		<option value="GDR">GDR</option>
		<option value="SFI">SciFi</option>
		<option value="SPA">Spazio</option>
		<option value="TRK">Trek</option>
		<option value="FDX">STFederation</option>
	</select>

	</td></tr>
-->
	<tr><td colspan="2" style="text-align:center;"><input class="sendpadd" style="margin-top: 5px;" type="submit" value="INVIA" /></td></tr>
</table>
</form>
</div>
</div>

<div id="news" class="heraldMain radiusBordered" style="text-align:center; margin-top:10px;">
	<ul id="caSli" style="width:100%; height:433px; padding:0px; margin:0px;">
		<li tal:repeat="not news">
			<p class="titoloarticolo" style="margin-top:3px; font-size:32px;" tal:content="not/title" />
			<p class="titolosubarticolo" style="font-size: 22px; margin-top:5px;" tal:content="structure not/subtitle" />
			<p class="testoNews" style="margin:0px; font-size:15px; margin-top:10px; height:360px;  line-height:19px; padding-right:10px; overflow-y:auto; text-align:justify"><span style="font-weight:bold;" tal:content="not/time" />&nbsp;&nbsp;<span tal:content="structure not/text"/></p>
			
		</li>
	</ul>
</div>

</div>
</body>
</html>