<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/anythingslider.css" rel="stylesheet" type="text/css" />
	 
	
	<!--<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" /> 
	<script type="text/javascript" src="TEMPLATES/js/jquery.anythingslider.min.js"></script> -->

	<title>TYCHONIAN EAGLE - PADD</title>	

</head>

<body style="background-color:black; overflow:hidden; height:305px;">

<div id="paddContainer">

<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />

<div id="intestLeftPost" style="top:50px; left:20px;">
<a tal:condition="php:(masterable==true)" href="javascript:jmp('newHerald')" class="interfaceLink"><img src="TEMPLATES/img/interface/paddInterface/padd_new.png" alt="Nuovo" /></a> <a href="padd.php?s=tr" class="interfaceLink"><img src="TEMPLATES/img/interface/paddInterface/padd_back.png" alt="Indietro" /></a>
</div>

<div style="text-align:right; margin-right:30px;"><img src="TEMPLATES/img/interface/paddInterface/fed_eagle.jpg" />
<br /><span class="titoloarticolo" style="font-size:1.2em; padding:0px;" tal:content="datae" />
</div>

<div id="newHerald" class="heraldMain radiusBordered" style="display:none;">
<div class="innerPadd" style="margin-right:auto;margin-left:auto; width:510px; overflow:hidden;">

<form action="padd.php?s=newH" method="POST">

<table cellspacing="0px">
	<tr><td style="border:1px dotted #333; width:140px;">TITOLO</td><td class="newPaddtd"><input maxlength="50" id="titolo" name="titolo" style="width:400px;"/></td></tr>
	<tr><td style="border:1px dotted #333; width:140px;">SOTTOTITOLO</td><td class="newPaddtd"><input maxlength="70" id="sottotitolo" name="sottotitolo" style="width:400px;"/></td></tr>
	<tr><td style="width:140px; border:1px dotted #333; ">TESTO</td><td class="newPaddtd"><textarea name="testo" style="width:400px; height:160px;"/></td></tr>
	<tr><td colspan="2" style="text-align:center;"><input style="width:50px;" type="submit" value="INVIA" /></td></tr>
</table>
</form>
</div>
</div>

<div id="archive" class="heraldMain radiusBordered" style="text-align:center; margin-top:10px;">
	<div class="innerPadd" style="height:230px;">
	<table>
	<tr tal:repeat="neu news">
		<td style="width:300px;" class="tdMessage"><a class="topicNormal" tal:attributes="href string:padd.php?s=readTribune&newsID=${neu/ID}" tal:content="neu/title" /></td>
		<td style="width:200px;" class="tdMessage" tal:content="neu/time"></td>
		<td style="width:50px;" tal:condition="php:(masterable == true)"><a tal:attributes="href string:padd.php?s=delHer&newsID=${neu/ID}"><img src="TEMPLATES/img/interface/delete.png" /></a></td>
	</tr>
	</table>
	</div>
</div>

</div>
</body>
</html>