<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<!-- CDB CSS -->
	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />

	<script type="text/javascript" src="TEMPLATES/js/caret.js?v=${gameOptions/numericVersion}"></script>
	<script type="text/javascript" src="TEMPLATES/js/padd.js?v=${gameOptions/numericVersion}"></script>

	<title>FEDERATION - PADD</title>


	</head><body style="background-color:black; overflow:hidden;">
	
	<div id="paddContainer">

	<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />
	<div id="intestLeftPost">
		<a href="padd.php?h=se"><div class="btn" id="newBTN"/></a>
		<a href="padd.php?h=ou"> <div class="btn" id="sentBTN"/></a>
		<a href="padd.php?h=in"> <div class="btn" id="receivedBTN"/></a>
	</div>	
	 
	
	<div id="newPadd" class="paddMain radiusBordered">
		<div class="innerPadd"  style="margin-right:5px;margin-left:15px; width:625px; height: 310px; overflow:hidden;">
			<form action='padd.php?s=newP' id="formContent" method="POST">

	<div style="position:absolute; top:73px; right:25px;"><img class="tooltip" src="TEMPLATES/img/interface/personnelInterface/info.png" title="&Egrave; possibile selezionare pi&ugrave; di un contatto) - Es. Picard, Barclay, Janeway..."/></div>

				<table cellspacing="0px">
					<tr style="height: 12px;">
						<td style="width:110px; font-size: 12px;">DESTINATARIO/I: </td>
						<td class="newPaddtd"><input type="text" class="neon" id="users" name="users" style="width:450px" tal:attributes="value string:${to},"/></td>
					</tr>
					<tr style="height:3px;" />
					<tr style="height: 12px;">
						<td style="width:110px; font-size: 12px;">OGGETTO:</td>
						<td class="newPaddtd"><input type="text" class="neon" maxlength="25" name="titolo" style="width:450px;" tal:attributes="value string:${sub}"/></td>
						</tr>	
					<tr style="height:5px;" />
						<tr>
							<td style="width:110px; padding-top: 6px; ">
						<!-- START BLOCCO BOTTONI -->
							<div metal:use-macro="TEMPLATES/padd_metal.htm/paddBBCodeBlock" />
							</td>
							<td class="newPaddtd">
								<textarea name="testo" id="postContent" style=" padding: 5px 6px 5px 6px; margin:2px; border-radius: 12px; width:440px; height:188px;"/>
										<div style="margin-top:5px;">
										<select class="neon" name="paddType" style="margin-right: 10px; width:160px; font-size: 16px; font-variant: small-caps;">
												<option tal:attributes="selected php:((prevType==0) ? 'selected' : '')" value="0">On-Game</option>
												<option tal:attributes="selected php:((prevType==1) ? 'selected' : '')" value="1">Off-Game</option>
												<option tal:attributes="selected php:((prevType==3) ? 'selected' : '')" value="3">Guide/Revisioni</option>
												<option tal:attributes="selected php:((prevType==4) ? 'selected' : '')" tal:condition="exists:isMaster" value="4">Evento Master</option>
												<option tal:condition="exists:isAdmin" value="1S">Off-Game-Forzamail</option>
										</select>
									<input type="submit" value="INVIA" class="sendpadd" />
								</div>
							</td>
						</tr>
					</table>				
			</form>
		</div>
	</div>
</div>
</body>
</html> 