<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=1.5.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/anythingslider.css" rel="stylesheet" type="text/css" />
	 
	
	<script type="text/javascript" src="TEMPLATES/js/JQ110.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110h.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/jquery.anythingslider.min.js"></script>

	<title>ARCHIVIO FEDERATION HERALD - PADD</title>	

</head>

<body style="background-color:black; overflow:hidden; height:305px;">

<div id="paddContainer">

<div id="intestLeft">
<a title="Principale" href="padd.php"><img class="iconelement" src="TEMPLATES/img/interface/paddInterface/padd.png" /></a><a title="Federation Tribune" href="padd.php?s=tr"><img class="iconelement" tal:attributes="src php:(tribuneNews == true) ? 'TEMPLATES/img/interface/paddInterface/tribune_news.png' : 'TEMPLATES/img/interface/paddInterface/tribune.png'" /></a><a title="Status Nave" href="padd.php?s=sh"><img class="iconelement" src="TEMPLATES/img/interface/paddInterface/nave.png" /></a><a title="Note" href="padd.php?s=no"><img class="iconelement" src="TEMPLATES/img/interface/paddInterface/note.png" /></a>
</div>
<div id="intestLeftPost" style="top:50px; left:20px;">
<a tal:condition="php:(masterable==true)" href="padd.php?s=ta" class="interfaceLink"><img src="TEMPLATES/img/interface/paddInterface/padd_arch.png" alt="Archivio" /></a>
</div>

<div style="text-align:right; margin-right:30px;"><img tal:attributes="src php: (user.pgSpecie == 'Romulana') ? 'TEMPLATES/img/interface/paddInterface/fed_herald_rom.png' : 'TEMPLATES/img/interface/paddInterface/fed_herald.png'" />
<br /><span class="titoloarticolo" style="font-size:1.2em; padding:0px;" tal:content="datae" />
</div>

<div id="news" class="heraldMain radiusBordered" style="text-align:center; margin-top:10px;">
		
			<p class="titoloarticolo" style="margin:0px;" tal:content="title" />
			<p class="titolosubarticolo" style="margin:0px;" tal:content="subtitle" />
			<p class="testoNews" style="margin:0px; font-size:13px; margin-top:10px; height:130px; padding-right:10px; overflow-y:auto; text-align:justify"><span style="font-weight:bold;" tal:content="time" />&nbsp;&nbsp;<span tal:content="structure text"/></p>
			<a tal:condition="php:(masterable==true)" tal:attributes="href string:padd.php?s=delHer&newsID=${ID}" title="Elimina Ultima News" align="right"><img src="TEMPLATES/img/interface/paddInterface/padd_del.png" alt="Cancella" /></a>
</div>

</div>
</body>
</html>