<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/padd.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />

	<script>
			jQuery(function(){
			jQuery('#intestLeft a').tooltip({
          			content: function (){
          						return $(this).prop('title');
          					}
					});	
			});
	</script>
	
	<title>FEDERATION - PADD</title>	
	
<script type="text/javascript">
		function jmp(to)
		{
			jQuery('.paddMain').fadeOut(400);
			jQuery('#'+to).fadeIn(400);
		}
</script>
</head>

<body style="background-color:black; overflow:hidden;">

<div id="paddContainer">

<div metal:use-macro="TEMPLATES/padd_metal.htm/paddIntestLeft" />

<div id="intestLeftPost" >
<a href="javascript:jmp('newNote')"><div class="btn" id="newBTN"/></a>
<a href="javascript:jmp('ediNote')"><div class="btn" id="editBTN"/></a>
<a tal:attributes="href string:padd.php?s=delNote&ID=${ID}"><div class="btn" id="delBTN"/></a>
</div> 


<p style="font-family: 'BebasNeueRegular', Arial, Helvetica,sans-serif; margin:0px; text-align: center; text-shadow: 0 0 5px #00C6FF; font-weight:bold;font-size:20px; text-decoration: underline; font-weight:bold;"> Appunti Personali </p>

<div id="newNote" class="paddMain radiusBordered" style="display:none; height:500px;">

<div class="innerPadd" style="margin-right:auto;margin-left:auto; width:575px; overflow:hidden;">

	<form action="padd.php?s=newNote" method="POST">
		<table cellspacing="0px">
			<tr>
				<td class="newPaddtd">
					<p class="titleRoddenberry">TITOLO</p>	
					
					<input maxlength="25" name="titolo" style="width:550px; border-radius: 5px; font-size: 17px; padding: 6px;"/>
				</td>
			</tr>
			<tr><td class="newPaddtd">
				<p class="titleRoddenberry" style="margin-top: 5px;">TESTO della nota</p>
				
				<textarea name="testo" style="border-radius: 12px; padding: 6px;  width:550px; height:325px; font-size: 15px;"/>
			</td>
		</tr>
			<tr><td colspan="2" style="text-align:center; "><input class="sendpadd" type="submit" value="INVIA" style="margin-top: 5px;" /></td></tr>
		</table>
	</form>
</div>
</div>

<div id="ediNote" class="paddMain radiusBordered" style="display:none; height:500px;">

<div class="innerPadd" style="margin-right:auto;margin-left:auto; width:575px; overflow:hidden;">

<form action="padd.php?s=ediNote" method="POST">
<table cellspacing="0px">
		<tr>
			<td class="newPaddtd">
					<p class="titleRoddenberry">TITOLO - modifica</p>	
					
					<input maxlength="25" name="titolo" tal:attributes="value title" style="width:550px; border-radius: 5px; font-size: 17px; padding: 6px;"/>
				</td>
			</tr>
			<tr><td class="newPaddtd">
				<p class="titleRoddenberry" style="margin-top: 5px;">TESTO della nota - Modifica</p>
				
				<textarea name="testo" tal:content="textP" style="border-radius: 12px; padding: 6px;  width:550px; height:325px; font-size: 15px;"/>
			</td>
		</tr>
			<tr><td colspan="2" style="text-align:center; "><input class="sendpadd" type="submit" value="INVIA" style="margin-top: 5px;" /></td></tr>
		</table>
<input type="hidden" name="ID" tal:attributes="value ID" />
</form>

</div>
</div>

<div class="paddMain radiusBordered" style="height:500px;">
<div class="innerPadd">
	<p style="font-family: roddenberry; text-align:center; font-size:30px; font-variant: small-caps; margin-bottom: 2px; border-bottom:1px solid #0077c3;" tal:content="title" />
	<p style="text-align:justify; width:auto; margin:10px; font-size: 15px;" tal:content="structure text"  />
</div>
</div>


</div>
</body>
</html>