<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/cdb.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/interface.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />	
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/caret.js?v=${gameOptions/numericVersion}"></script>

	<title>STAR TREK FEDERATION - MODIFICA POST</title>
	
		<script type="text/javascript">
		function split( val ) {
			return val.split( /,\s*/ );
		}
		function extractLast( term ) {
			return split( term ).pop();
		}
		
		function isNumberKey(evt)
		{

         var charCode = (evt.which) ? evt.which : event.keyCode

         if ((charCode < 58 && charCode > 47) || (charCode < 106 && charCode > 95) || charCode == 8)
            return true;

         return false;
		 
		 }

		jQuery(function(){
			jQuery( ".users")
			// don't navigate away from the field on tab when selecting an item

			.autocomplete({
				source: function( request, response ) {
					$.getJSON( "ajax_userGetter.php", {
						term: extractLast( request.term )
					}, response );
				},
				search: function()
				{
					// custom minLength
					var term = extractLast( this.value );
					if ( term.length < 3 ) {
						return false;
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});


			jQuery( "#users")
			// don't navigate away from the field on tab when selecting an item

			.autocomplete({
				source: function( request, response ) {
					$.getJSON( "ajax_userGetter.php?wpng=1", {
						term: extractLast( request.term )
					}, response );
				},
				search: function()
				{
					// custom minLength
					var term = extractLast( this.value );
					if ( term.length < 3 ) {
						return false;
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});


			})
			
			function goTrasncript(rap,stringUse)
			{
				if (jQuery('#format1').prop('checked')) formatID = 1;
				if (jQuery('#format2').prop('checked')) formatID = 2;
				if (jQuery('#format3').prop('checked')) formatID = 3;
				if (jQuery('#format4').prop('checked')) formatID = 4;
				if (jQuery('#format5').prop('checked')) formatID = 5;
				
				jQuery.post('ajax_getCDBFormats.php', {stringer: stringUse, format: formatID, rapType: rap}, settercdb, 'json');
			}
			
			function goStardate(d,m,y,h,i,s)
			{
				jQuery.post('ajax_stardateGetter.php', {day: d, mon: m, yea:y, hou:h,min:i}, settercdb, 'json');
			}
			
			function settercdb(data)
			{
				
				var box = jQuery("#postContent");
				box.val(box.val() + data);
				jQuery('#pstAdva').fadeOut(50);
			}
	</script>

	<style>
		.etoh {
			font-family:Verdana;
			font-size:14px;

		} 
	</style>
</head>

<body>
<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="bartop1" />
		<div id="pD">
			<a href="cdb.php"><div id="principaleBTN" /></a>
			<a href="cdb.php?news=do"><div style="z-index:10" id="newsBTN" /></a>
			<a href="crew.php"><div id="assegnazioniBTN" /></a>
			<a href="cdb.php?dia=personal"><div id="diarioBTN" /></a>
			<a href="guida.php"><div id="guidaBTN" /></a>
		</div>
		
		
	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
	</div>

	
	<div id="cdbContainer" >
	<div metal:use-macro="TEMPLATES/metal.htm/cdbIntro" />

<div style="font-size:12px; text-transform:uppercase;"><a href="cdb.php" class="interfaceLink">CDB</a> <span style="color:red; font-size:11px;">></span> <a class="interfaceLink" tal:attributes="href string:cdb.php?cat=${catID}"><span tal:content="catName" /></a> <span style="color:red; font-size:11px;">></span> <span class="interfaceLink" tal:content="topicTitle" /></div>

<div style="text-align:center; border-top:1px solid #999; border-bottom:1px solid #999; margin-top:10px; padding:5px; margin-bottom:10px;">
	<p style="font-size:14px;" tal:condition="php:topicType=='I'" tal:attributes="class string:topicTitolo topicImportant ${topicColorExt};" tal:content="topicTitle" />
	<p style="font-size:14px; margin:0px;" tal:condition="php:topicType=='A'" tal:attributes="class string:topicTitolo topicAnnounce ${topicColorExt}" tal:content="topicTitle"/>
	<p style="font-size:14px; margin:0px;" tal:condition="php:topicType=='N'" tal:attributes="class string:topicTitolo ${topicColorExt}" tal:content="topicTitle"/>
</div>

<div id="container">


<div id="formFor" style="margin-top:30px; margin-left:auto; margin-right:auto;" align="center">

<!-- POSTADVA -->
<div metal:use-macro="TEMPLATES/metal.htm/postAdva" />

<p style="text-align:left;"> <img src="TEMPLATES/img/interface/modifica_post.png" /></p>
<div metal:use-macro="TEMPLATES/metal.htm/postInsert" />

<form tal:attributes="action string:cdb.php?editPost=${editID}&m=10" method="POST" tal:condition="exists:isAdmin" > <p style="font-size:15px;">Cambio autori:</p> 
	<table class="etoh">
	<tr><td  style="padding:5px; width:300px;">Autore principale (può editare e cancellare):</td><td><input type="text" id="userOwner" class="users neon" name="userOwner" style="width:190px;" onfocus="this.select();" tal:attributes="value postOwnerUser"/></td></tr>
	<tr><td style="padding:5px; width:300px;">Autore secondario (può editare): </td><td><input type="text" id="userCoOwner" class="users  neon" name="userCoOwner" style="width:190px;" onfocus="this.select();" tal:attributes="value postCoOwnerUser" /></td></tr>
	<tr><td style=" padding:5px; width:300px;">Bypass seclar in lettura per: </td><td><input type="text" id="userSecBypass" class="users  neon" name="userSecBypass" style="width:190px;" onfocus="this.select();" tal:attributes="value userSecBypass"  /></td></tr>
	<tr><td colspan="2" style="text-align:center;"><input type="submit" value="INVIA" style="width:170px; margin-left:10px; font-size:13px;" href="" onclick="" /></td></tr>

	</table>
	<input type="hidden" name="topicID" tal:attributes="value topicIDE"/>
</form>

</div>



</div>
	</div>
</div>
</body>
</html>
