<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link tal:condition="php:user.getCTS()" tal:attributes="href php:'TEMPLATES/css/' . user.getCTS() . '?v=' . gameOptions['numericVersion'] " rel="stylesheet" type="text/css" />	

	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 
	<link href="TEMPLATES/css/interface.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" /> 
	
	<link id="alerter" tal:attributes="href string:TEMPLATES/css/${alertCSS}.css" rel="stylesheet" type="text/css" />
	 
	
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/mapCore.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript">
		function setDeck(ider)
		{
			if (jQuery('.visi').size() !=0) jQuery('.visi').fadeOut(100,function(){jQuery('#deck_'+ider).fadeIn(100);}); else jQuery('#deck_'+ider).fadeIn(100);
			jQuery('#limOverNavfore div').removeClass('visi');
			jQuery('#deck_'+ider).addClass('visi');
		}
	</script>
	<style>

	span.deck{
		font-size:12px; 
		border:1px solid var(--custom_section_darkcolor, #d7a436);
		padding:2px; padding-left:3px;
		font-family:Helvetica;
		padding-right:3px;
		margin-left:10px;
		display:inline-block;
		padding:2px 5px;
		font-weight:bold;
		color:var(--custom_section_color, #d7a436);
	}
	span.deck:hover{
		color:white;
	}
</style>
	
	<title>STAR TREK FEDERATION</title>
</head>
<body style="background-color:black; background-image:url('TEMPLATES/img/main_login.jpg')"  onkeyup="swish(event)">

<div id="federation_interfaceContainer">
	<div id="federation_interfaceColumnLeft">
		<div id="federation_leftTop">
			<div id="federation_cornerUL" />
			<div id="federation_montUL" tal:attributes="class php:(incomingPadd == true) ? 'paddON' : 'paddOFF'" />
			<div id="federation_montULint2" />
			
			<!-- LINKS ALL'INTERFACCIA -->
			<a href="main.php"><div style="position:absolute; top:46px; left:9px; width:72px; height:27px;" title="Mappa Principale"/></a>
			<a href="javascript:locOpen();"><div style="position:absolute; top:75px; left:9px; width:72px; height:27px;" title="Localizzatore"/></a>
			<a href="javascript:paddOpen();"><div style="position:absolute; top:181px; left:9px; width:72px; height:27px;" title="Dpadd"/></a>
			<a href="javascript:commOpen();"><div style="position:absolute; top:215px; left:9px; width:72px; height:24px;" title="Comunicatori"/></a>
			<a href="javascript:schedaOpen();"><div style="position:absolute; top:247px; left:9px; width:72px; height:26px;" title="Scheda"/></a>
			<!-- FINE DEI LINK ALL'INTERFACCIA -->
		</div>
		
		<div id="federation_alertLeft">
			<div id="leftAlert" />
		</div>
		<div id="federation_leftBottom">
			<div id="federation_montDL4" />
			<a href="javascript:masterShadow();" tal:condition="exists:isStaff"><div id="federation_shadowMasterButton" title="Master"/></a>
			<a href="javascript:chartOpen();"><div style="position:absolute; bottom:160px; left:8px; width:76px; height:26px;" title="Charts"/></a>
			<a href="javascript:void(0);" onclick="javascript:doLogout();"><div style="position:absolute; bottom:13px; left:5px; width:76px; height:30px;" title="Effettua il Logout"/></a>
		</div>
	</div>
	
	<div id="federation_interfaceBottom">
		
		<div id="federation_interfaceBottomLeft"/>
		<div id="federation_interfaceBottomCenter"/>
		<div id="federation_interfaceBottomRight" />
	
	</div> 
	
	<div id="federation_interfaceColumnRight">
		<div id="federation_rightTop" />

		<div id="reminderST" class="reminder" tal:content="string:D.S. ${currentStarDate}">
		</div>
		
		<div metal:use-macro="TEMPLATES/metal_panels.htm/reminderST" />
		<div metal:use-macro="TEMPLATES/metal_panels.htm/reminderAvatar" />
		
		<div id="federation_alertRight">
			<div id="rightAlert" />
		</div>
		
		<div id="federation_rightBottom">
			<div id="federation_rightBottomSuperSs"><a href="javascript:void(0);" title="Guida" onclick="jQuery('#guidePanel').load('tutorial.php',function(){jQuery('#guidePanel').fadeIn();});"><div id="federation_rightBottomGuide" /></a></div>
			<a href="javascript:whisperOpen();"><div id="federation_rightBottomSussurro" tal:attributes="class php:(incomingSuss == true) ? 'sussON' : 'sussOFF'" /></a>
			<div id="federation_rightBottomAngolo" />
		</div>
	</div>
	
	<div id="federation_interfaceTop">
	<div id="federation_interfaceTopLeft" />
	<div id="federation_topRightPre" />
	</div>
	
	<div id="federation_interfaceCenterTitle">
		<div style="text-align:center; font-family:helvetica; font-weight:bold; margin-top:10px; font-size:14px;"><span tal:content="placeName" /><br/>ALLOGGI</div>
	</div>

	<a href="#" onClick="javascript:cdbOpen();"><div tal:condition="php:(setDBOn==false)" id="btnComputer" /><div tal:condition="php:(setDBOn==true)" id="btnComputer_a" /></a>
	<a href="#" onClick="javascript:dbOpen();"><div id="btnDatabase" /></a>
	<a href="javascript:statusBoxOpen();"><div id="btnStatus" tal:attributes="class php:(incomingNoti == true) ? 'notify' : ''"/></a>
</div>

	<div id="limOverNavfore" style="text-align:center; background-color:black;" class="radiusBordered35" >
	<p class="clockTitle" style="margin-top:0px; text-align:center;">Alloggi dell'Equipaggio</p>
	
	<p  style="margin-bottom:25px; text-align:center; text-align:center;">
	<a tal:attributes="href string:javascript:setDeck('${repeat/plae/key}')" tal:repeat="plae places"><span class="deck radiusBordered5 " tal:content="string:DECK ${repeat/plae/key}" /></a>
	</p>
	
	<div  tal:repeat="plae places" tal:attributes="id string:deck_${repeat/plae/key}" style="margin-bottom:25px; display:none;">
	<a class="deck" tal:repeat="pla plae" tal:attributes="href string:chat.php?amb=${pla/AL/locID} ; class php:(pla['AL']['counterPG'] > 0) ? 'planetLocationElement_a radiusBordered interfaceLink' : 'planetLocationElement radiusBordered interfaceLink' ; style php:'float:left;; height:' . max[pla['AL']['ambientLevel_deck']] . 'px;; margin-left:20px;; width:400px;; margin-top:5px;; border:1px solid #333;; padding:0px;;'">
	
	<div style="margin:3px; vertical-align:middle; width:150px; margin:3px; text-align:left;margin-left:15px; float:left;">
	<span style="font-size:12px;  padding:2px; padding-left:8px; padding-right:8px;" class="deck radiusBordered5" tal:content="string: D${pla/AL/ambientLevel_deck}" /> <span tal:content="string:Alloggio ${pla/AL/ambientNumber}" style="margin-right:10px; vertical-align:middle;" /></div>
	<div tal:attributes="style php:(count(pla['US']) == 1 && max[pla['AL']['ambientLevel_deck']] > 20) ? 'float:right;; text-align:left;; width:220px;; margin-top:4px;;' : 'float:right;; text-align:left;; width:220px;; margin-top:0px;;'">
		<p tal:repeat="user pla/US" style="margin:0px;"><img tal:attributes="src string:TEMPLATES/img/ranks/${user/ordinaryUniform}.png" style="vertical-align:middle;" /> <span tal:content="user/pgUser" style="vertical-align:middle;" /></p>
	</div>
	
	</a><div style="clear:both;" />
	</div>
	
	</div>


<div metal:use-macro="TEMPLATES/metal_panels.htm/statusBox" />
<div metal:use-macro="TEMPLATES/metal_panels.htm/alertPanel" />
<div metal:use-macro="TEMPLATES/metal_panels.htm/localizeBox" />
<div metal:use-macro="TEMPLATES/metal_panels.htm/dotazionePanel" />
<div metal:use-macro="TEMPLATES/guidar.htm/guidePanel" />
<div metal:use-macro="TEMPLATES/audioSegments.htm/audioNotifier" />
<div metal:use-macro="TEMPLATES/audioSegments.htm/whisperPaddAlert" />
</body>
</html>