<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" /> 
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>

	

	<title>STAR TREK FEDERATION - SCHEDA</title>				
	<script> 

	function tug(ide)
	{
		jQuery('#'+ide).toggle();
		if(jQuery('#tggl_'+ide).hasClass('activated'))
			jQuery('#tggl_'+ide).removeClass('activated');
			
		else
		{
			
			jQuery('#tggl_'+ide).addClass('activated');
			
		}
		
		
	}
	
	function upd(vara)
	{
		jQuery('#brever').css('background-image','url(\'TEMPLATES/img/ruolini/'+vara+'\')');
	}

	function searchIncarichiFunction(par)
	{
		return function(request, response) {
			
			jQuery.ajax({
				type: "POST",
				url:"ajax_gradiGedder.php",
				data: {
					term:request.term,
					desiredPar: par,
					place:jQuery('#assegnazione').val(),
					section:jQuery('#sectionWhat').val(),
					dep:jQuery('#departmentWhat').val(),
					div:jQuery('#divisionWhat').val(),
					group:jQuery('#groupWhat').val(),
					incarico:jQuery('#incIncarico').val()
				},
				success: response,
				dataType: 'json'
				});
		}
	}
	function paddOpen(who){window.open ('padd.php?s=seR&to='+who+'&sub=','padd', config='scrollbars=no,status=no,location=no,resizable=no,resizale=0,top=140,left=500,width=655,height=403');}
	

		jQuery(function(){
			jQuery('#sectionWhat').autocomplete({source: searchIncarichiFunction('sezioni'),minLength: 2, appendTo: '#apa'});
			jQuery('#departmentWhat').autocomplete({source: searchIncarichiFunction('dipartimenti'),minLength: 2, appendTo: '#apa'});
			jQuery('#divisionWhat').autocomplete({source: searchIncarichiFunction('divisioni'),	minLength: 2, appendTo: '#apa'});		
			jQuery('#groupWhat').autocomplete({source: searchIncarichiFunction('gruppi'), minLength: 2, appendTo: '#apa'});
			jQuery('#incIncarico').autocomplete({source: searchIncarichiFunction('incarichi'), minLength: 2, appendTo: '#apa'});

		});
	
	</script>	

	<style>


	.ui-autocomplete.ui-widget {
	  font-size: 14px;
	  font-family: 'Helvetica';
	  overflow-y: auto;
	}
	.ui-autocomplete {
            max-height: 200px;
            width:340px;
            overflow-y: auto;
            text-align: left;
            overflow-x: hidden; 
            padding-right: 20px;
        }  

		tr.activePrincTR td.csp{ background-color:#3674c8;}
		tr.activeSecTR td.csp{ background-color:#000000;}
		tr.inactiveTR td.csp{ font-size:10px; color:#BBB;}

		tr.tableheader td {background-color:#135a74; padding:1px 5px; font-weight:bold; color:white;}
		td.red_background span { background-color: #a29311; color:white; }
		td.foodcount span { width: 60px; display:inline-block; padding:0px 5px; font-weight:bold; }
		.dateclass {  font-size:10px; color:#FFCC00; }
		.sectionTitle {cursor:pointer;  margin:0px; font-weight:bold; color: #FFCC00; text-align: center; border:1px solid #000; border-right:1px solid #2e7ec8;  border-bottom:1px solid #2e7ec8; width:150px; position:relative; top:-7px; left:-6px; padding:2px; background-color:#000; }

		.sectionTitle.red {border-right-color:red; border-bottom-color:red;}
		.sectionTitle.gray {border-right-color:#888; border-bottom-color:#888;}
		.sectionTitle.activated, .sectionTitle:hover {color:#FFCC00; background-color: #333; border:1px solid #FFCC00;}
		</style>
	 
	
</head>
<body style="background-color:black; overflow:hidden;  padding:-5px;">
<div id="schedaContainer">

<div metal:use-macro="TEMPLATES/metal.htm/schedaIntro" />

<div id="mainContainer" >
<p style="text-align:center; font-size:16px;"> PANNELLO GESTIONE UTENTE (Plus: <span tal:condition="exists:bonusM">Master</span><span tal:condition="exists:bonusSM">Global Master</span>)</p>


<a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=lock"><div style="border:1px solid #2e7ec8; width:130px; float:left; margin-left:20px; margin-right:0px; padding:7px; text-align:center;" tal:content="php:(lock==true) ? 'SBLOCCA PG' : 'BLOCCA PG'">BLOCCA/SBLOCCA PG</div></a>

<div tal:condition="exists:bonusSM" style="border:1px solid #2e7ec8; width:155px; float:right; margin-right:20px;  margin-left:5px; padding:5px; text-align:center;">
<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setSeclar"><select class="neon" name="setSeclar">
	<option tal:repeat="con php:range(0,9)" tal:attributes="value con; selected php:(con == userData.pgSeclar) ? 'selected' : false" tal:content="string: SECLAR ${con}" />
</select>&nbsp;&nbsp;<input type="submit" value="VAI" /></form>
</div>

<div style="clear:both; height:10px;" />
<div style="border:1px solid #888; padding:5px; margin-left:20px; text-align:center; margin-right:20px;" tal:condition="exists:bonusM"><form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setSalute">
<p class="sectionTitle"> Stato di Salue </p>
	<input class="neon" type="text" name="medStatus" tal:attributes="value saluteStatus" style="width:360px;" onfocus="this.select()" />&nbsp;&nbsp;<input type="submit" value="VAI" /></form></div><div style="clear:both;" />
<div style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;" tal:condition="exists:bonusSL">
	<p class="sectionTitle activated"> Alloggi </p>

<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=creAllo">
<br />
<select class="neon" name="alloLocation"><option tal:repeat="location locations" tal:attributes="value repeat/location/key;" tal:content="location"/></select>&nbsp;&nbsp;
Numero: <input type="text" class="neon" name="alloNum" style="width:30px;" onfocus="this.select()" />&nbsp;&nbsp;
Ponte: <input type="text" class="neon" name="alloDeck" onfocus="this.select()" style="width:30px; text-align:center; font-weight:bold;" /><br /><br />
Template: <select type="text" class="neon" name="alloType"><optgroup tal:repeat="allotype alloTypes" tal:attributes="label repeat/allotype/key"><option tal:repeat="allotypeThis allotype" tal:attributes="value allotypeThis/typeID"  tal:content="allotypeThis/alloName"></option> </optgroup></select><br /><br />
<input type="submit" value="CREA" /></form>

<div style="width:80%; margin-left:auto; margin-right:auto;"><table style="width:100%;">

	<tr style="text-align:center; font-weight:bold; color:orange;" ><td>Location</td><td>Ponte</td><td>Alloggio</td></tr>
	<tr style="text-align:left;" tal:repeat="alloggio alloggi">
	<td tal:content="alloggio/placeName" style="border:1px solid #333;" /><td style="border:1px solid #333;" tal:content="alloggio/ambientLevel_deck" /><td style="border:1px solid #333;" tal:content="alloggio/ambientNumber" /><td><a tal:attributes="href string:scheda.php?s=deleteAllo&loc=${alloggio/locID}&pgID=${selectedUser}"><img src="TEMPLATES/img/interface/delete.png" /></a><a tal:attributes="href string:scheda.php?s=setDefAllo&loc=${alloggio/locID}&pgID=${selectedUser}" tal:condition="php:(!alloggio['defaulta'])" title="Rendi Predefinito"><img src="TEMPLATES/img/interface/redit.png" /></a></td>
	</tr>
</table></div>


</div>

<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:left;">
	<p class="sectionTitle gray"> Controllo IP </p>

	<div tal:condition="exists:IPCHECK" tal:repeat="doubleIP IPCHECK/doppi"  style="margin:10px;">

		<p style="margin:0px;"><span style="color:#FC0; font-weight:bold;">Ultimo IP:</span> <span tal:content="IPCHECK/lastIP/lastIP" /> (<span style="color:#AAA;" tal:content="IPCHECK/lastIP/hostname" />)</p>
		<p style="margin:0px;"><span style="color:#FC0; font-weight:bold;">Ultimo Login:</span> <span tal:content="IPCHECK/lastIP/lastLogin" /></p>
		<hr />

		<p> Ha usato lo stesso IP (<span style="color:#FC0" tal:content="repeat/doubleIP/key" />) con: </p>
		<p tal:repeat="pg doubleIP" style="margin: 0px; margin-left:15px;">
			<img style="vertical-align: middle;" tal:attributes="src string:TEMPLATES/img/ranks/${pg/ordinaryUniform}.png" />
			<a class="interfaceLink" href="javascript:void(0)" tal:attributes="onclick string:schedaPOpen('${pg/pgID}') ; title string:Ultima Attività ${pg/lastAct}" tal:content="pg/pgUser"></a> <span style="color:#AAA;" tal:content="php:'[ ' . date('d-m-y H:i',pg['time']) . ' ]'"/>
		</p>
	</div>
</div>

<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
	<p class="sectionTitle gray"> Mostrine </p>

	<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setRanker">Mostrina&nbsp;&nbsp;
	<select class="neon" name="rankCode">
		<optgroup tal:repeat="ranker ranks" tal:attributes="label repeat/ranker/key">
		<option tal:repeat="rnk ranker" tal:attributes="value repeat/rnk/key ; selected php:(repeat.rnk.key == rankCode) ? 'selected' : false" tal:content="rnk/note"/>
		</optgroup>
	</select>
	<input type="submit" value="VAI" />
	</form>
</div>

<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setPrestige" method="POST">
	<p class="sectionTitle gray"> Prestigio </p>

	<select class="neon" name="points" style="width:120px;">
		<option tal:attributes="value val; selected php:((val == pgPrestige) ? 'selected' : '')" tal:content="php:prestigioLabels[val]['name']" tal:repeat="val php:range(0,10)"></option>
	</select>
	<input type="text" class="neon" name="reason" placeholder="Ragione" style="width:250px;" />

	<input type="submit" value="VAI" style="background-color:blue; font-weight:bold; color:#FFCC00;" />
</form>
</div>

<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
			<a href="javascript:void(0)" onclick="tug('assegna_oggetti')"><p id="tggl_assegna_oggetti" class="sectionTitle">Assegna Oggetti </p></a>

		<div id="assegna_oggetti" style="display:none;">

			<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=addServiceObject" method="POST">
				

				<select class="neon" name="oID" style="width:120px;">
					<option tal:attributes="value val/oID" tal:content="val/oName" tal:repeat="val allServiceObjects"></option>
				</select>
				
				<input type="submit" value="VAI" style="background-color:blue; font-weight:bold; color:#FFCC00;" />
			</form>
		</div>
</div>


<div tal:condition="exists:bonusSM" style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center; position:relative;" id="apa" >

<a name="setIncarichi"/>

		<a href="javascript:void(0)" onclick="tug('Assegnazioni')"><p id="tggl_assegnazioni" class="sectionTitle activated">Assegnazioni </p></a>

		<div id="Assegnazioni" style="display:block">
		<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setIncarico">
		<select class="neon" name="assegnazione"  id="assegnazione" style="width:400px;">
		<option tal:repeat="location locations" tal:attributes="value repeat/location/key ; selected php:(repeat.location.key == userData.pgAssign) ? 'selected' : false" tal:content="location"/></select><br/>
		
		<input class="neon" id="sectionWhat" placeholder="Sezione" tal:attributes="value userData/pgSezione" type="text" name="incSezione"  style="width:400px;" /><br/>
		<input class="neon" id="divisionWhat" placeholder="Divisione" type="text" name="incDivisione"  style="width:400px;" /><br/>
		<input class="neon" id="departmentWhat" placeholder="Dipartimento" type="text" name="incDipartimento"  style="width:400px;" /><br/>
		<input class="neon" id="groupWhat" placeholder="Gruppo/Squadra (opzionale: Alpha,Valchirie etc...)" type="text" name="incGroup"  style="width:400px;" /><br/>
		<input class="neon" placeholder="Incarico" type="text" name="incIncarico" id="incIncarico" style="width:400px;"  /><br/>
		<input type="checkbox" name="incMain" />Principale <input type="submit" value="VAI" /></form>

		<hr />

		Assegnazioni correnti:
		<table>
			<tr class="tableheader" >
				<td>UNIT</td>
				<td>Sez</td>
				<td>Div</td>
				<td>Dip</td>
				<td>Gruppo</td>
				<td>Incarico</td>
			</tr>
			<tr tal:repeat="inca userData/pgIncarichi" tal:attributes="class php:((inca['incActive']) ? ((inca['incMain']) ? 'activePrincTR' : 'activeSecTR') : 'inactiveTR')">
				<td class="csp" tal:content="inca/pgPlace">Assegnazione</td>
				<td class="csp" tal:content="inca/incSezione">Sezione</td>
				<td class="csp" tal:content="inca/incDivisione">Divisione</td>
				<td class="csp" tal:content="inca/incDipartimento">Dipartimento</td>
				<td class="csp" tal:content="inca/incGroup">Dipartimento</td>
				<td class="csp" tal:content="inca/incIncarico">Incarico</td>
				<td style="width:80px;">
					<a tal:attributes="href string:scheda.php?s=delIncarico&pgID=${userData/ID}&recID=${inca/recID}"><img src="TEMPLATES/img/interface/delete.png" /></a>

					<a tal:attributes="href string:scheda.php?s=togglePrincIncarico&pgID=${userData/ID}&recID=${inca/recID}">
						<img src="TEMPLATES/img/interface/star_on.png" tal:condition="php:(inca['incMain'])" title="Rendi Secondario" />
						<img src="TEMPLATES/img/interface/star_off.png" tal:condition="php:(!inca['incMain'])" title="Rendi Principale" />
					</a>
					<a tal:attributes="href string:scheda.php?s=toggleActIncarico&pgID=${userData/ID}&recID=${inca/recID}">
						<img src="TEMPLATES/img/interface/no_access.png" tal:condition="php:(inca['incActive'])" title="Disattiva / Rendi invisibile" />
						<img src="TEMPLATES/img/interface/ok_access.png" tal:condition="php:(!inca['incActive'])" title="Attiva / Rendi visibile" />
					</a>
					<a tal:attributes="href string:scheda.php?s=toggleHighIncarico&pgID=${userData/ID}&recID=${inca/recID}">
						<img src="TEMPLATES/img/interface/important_off.png" tal:condition="php:(!inca['incHigh'])" title="Rendi Incarico Rilevante" />
						<img src="TEMPLATES/img/interface/important_on.png" tal:condition="php:(inca['incHigh'])" title="Rendi Incarico Irrilevante" />
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>

<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-left:20px; margin-right:20px;  margin-top:10px; padding:5px; text-align:center;">
	<a href="javascript:void(0)" onclick="tug('grado_sezione')"><p id="tggl_grado_sezione" class="sectionTitle gray">Grado e Sezione </p></a>

	<div id="grado_sezione" style="display:none;">
		<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setGrado">
		Grado: <input class="neon" type="text" name="grado" style="width:180px;" tal:attributes="value userData/pgGrado" onfocus="this.select()" />&nbsp;&nbsp;Sezione: <input class="neon" type="text" name="sezione" style="width:180px;" tal:attributes="value userData/pgSezione" onfocus="this.select()" /><br /><input type="submit" value="VAI" /></form>
		</div>
	</div>


<div tal:condition="exists:bonusSM" style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
		<a href="javascript:void(0)" onclick="tug('lauree_note')"><p id="tggl_lauree_note" class="sectionTitle">Lauree e Note </p></a>
		<div id="lauree_note" style="display:none">
			<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=addDotazione">

				
				<select class="neon" name="tipologia"><option value="LAUR">LAUREA</option><option value="NOTA">NOTA</option></select>&nbsp;&nbsp;
				<select class="neon"  onchange="javascript:upd(this.value);" name="image"><option tal:repeat="ima images" tal:attributes="value ima" tal:content="ima">IMMAGINE</option></select>
				<input class="neon" type="text" name="testo" style="width:230px;" value="Descrizione / Nome" onfocus="this.select()" />&nbsp;&nbsp;
				<input type="submit" value="VAI" />
			</form>
			<div style="float:left; width:50px; margin-top:5px; background-repeat:no-repeat;" id="brever"/><div style="clear:both;" />
		</div>


</div>


<div tal:condition="exists:bonusSM" style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">

		<a href="javascript:void(0)" onclick="tug('campi_extra')"><p id="tggl_campi_extra" class="sectionTitle">Campi Extra </p></a>
		<div id="campi_extra" style="display:none">

			<form method="POST" tal:condition="php:count(res_extras) GT 0" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=edit_extras">

				<table>
					<tr tal:repeat="field res_extras">
						<td tal:content="field/key"/>
						<td><input tal:attributes="value field/value ; name field/key" tal:content="field/value" class="neon" type="text" /></td>
					</tr>
				</table>

				<input type="submit" value="VAI" />
			</form>
		</div>
	<div style="float:left; width:50px; margin-top:5px; background-repeat:no-repeat;" id="brever"/><div style="clear:both;" />
</div>

<div tal:condition="exists:bonusSM" style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">

		<a href="javascript:void(0)" onclick="tug('aut_extras')"><p id="tggl_aut_extras" class="sectionTitle">Extra Entries </p></a>
		<div id="aut_extras" style="display:none">
			<table>
				<tr class="tableheader"><td style="width:100px;"> Tipo </td> <td style="width:100px;"> Dal </td> <td style="width:100px;"> Al </td>  <td style="width:100px;"> Azioni </td> <td> Rif. </td> </tr>
				<tr tal:repeat="aut res_temp_auths"><td > <span tal:content="aut/authType" style="font-size:11px; font-weight:bold;"> Tipo</span> <span  tal:condition="php:(aut['text'] != '')" tal:attributes="title aut/text" class="tooltip">[?]</span> </td> <td tal:content="php:date('d-m-y',aut['authStart'])"> Dal </td> <td tal:content="php:date('d-m-y',aut['authEnd'])"> Al </td>  <td> <a tal:attributes="href string:scheda.php?s=delTempAuth&autID=${aut/recID}&pgID=${selectedUser}" class="interfaceLinkRed">Revoca</a> </td> <td> <a tal:attributes="href string:scheda.php?pgID=${aut/signerPgID}" tal:content="aut/pgUser" class="interfaceLink"/></td> </tr>
			</table>

			
			<div id="addAuth" style="width:75%; margin:auto;">
			<hr />Aggiungi <hr />
			<form tal:attributes="action string:scheda.php?s=addTempAuth&pgID=${selectedUser}" method="POST">
				<table style="text-align:left;"><tr><td width="150px; font-size:10px;"><b>Tipo Entry:</b></td><td><select name="authType"><option value="ELOG">Accesso Log >12 mesi</option> <option value="BAN">Messaggio di Accompagnamento al Ban</option> </select></td></tr>
				<tr><td width="150px; font-size:10px;"><b>Data Inizio:</b></td><td><select class="neon" name="dataG"><option tal:repeat="day php:range(1,31)" tal:attributes="value day ; selected php:(day == date('d') ? 'selected' : false)" tal:content="day" /></select> / <select name="dataM" class="neon"><option tal:repeat="day php:range(1,12)" tal:attributes="value day ;  selected php:(day == date('m') ? 'selected' : false)" tal:content="day" /></select> / <select class="neon" name="dataA"><option tal:repeat="day php:range(thisYear,thisYear+1)" tal:attributes="value day ; selected php:(day == date('Y') ? 'selected' : false)" tal:content="day" /></select></td></tr>
				<tr><td width="150px; font-size:10px;"><b>Data Fine:</b></td><td><select class="neon" name="data2G"><option tal:repeat="day php:range(1,31)" tal:attributes="value day ; selected php:(day == date('d') ? 'selected' : false)" tal:content="day" /></select> / <select name="data2M" class="neon"><option tal:repeat="day php:range(1,12)" tal:attributes="value day ;  selected php:(day == date('m')+1 ? 'selected' : false)" tal:content="day" /></select> / <select class="neon" name="data2A"><option tal:repeat="day php:range(thisYear,thisYear+1)" tal:attributes="value day ; selected php:(day == date('Y') ? 'selected' : false)" tal:content="day" /></select></td></tr>
				<tr><td width="150px; font-size:10px;"><b>Testo:</b></td><td><textarea style="width:100%; height:80px;" class="neon" name="textR"></textarea></td></tr>

				<tr><td/><td><input type="submit" value="Vai" /></td></tr></table>

			</form>
			</div>
		</div>
	<div style="float:left; width:50px; margin-top:5px; background-repeat:no-repeat;" id="brever"/><div style="clear:both;" />
</div>


<a name="doppi" />
<div tal:condition="php:count(doppi) GT 0" style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
		
		<p class="sectionTitle"> Utenze Collegate </p>

		<p tal:repeat="dop doppi" style="margin:2px; text-align:left;">
			<img tal:attributes="src string:TEMPLATES/img/ranks/${dop/ordinaryUniform}.png" style="vertical-align: middle" /> <a class="interfaceLink" tal:attributes="onclick string:schedaPOpen('${dop/pgID}')" href="javascript:void(0)" tal:content="dop/pgUser" />
				<span tal:condition="php:dop['pgType']=='OLD'" style="color:#FC0; font-size:11px;"> [Ex pg] </span>
				<span tal:condition="php:dop['pgType']=='DOPPIO'" style="color:#0683b1; font-size:11px;"> [Doppio]</span>
				<span tal:condition="php:(!dop['pgType'] or dop['pgType']=='MAIN')" style="color:#42b106; font-size:11px;"> [Principale]</span>
		</p>
			
</div>


<a name="replicati" />
<div style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">

	<a href="javascript:void(0)" onclick="tug('cibi_replicati')"><p id="tggl_cibi_replicati" class="sectionTitle">Ultimi cibi replicati <br/><span style="color:white; font-style:italic; font-weight: normal;" tal:content="string:(Tot ${thisYear}: ${ov_replications})" /> </p></a>

	<div id="cibi_replicati" style="display:none">

		
		<div style="height:200px; overflow-y:auto;">
			<table style="width:100%;"><tr class="tableheader"><td>Data</td><td>Cibo</td><td style="width:100px;">Tot. nel <span tal:content="thisYear"></span></td> </tr>
				<tr tal:repeat="fud replicated_foods"><td tal:content="php:timeHandler::timestampToGiulian(fud['timer'])" class="dateclass" />
					<td tal:content="fud/foodName" />
					<td tal:attributes="class php:(fud['cnt'] GE 10) ? 'foodcount red_background' : 'foodcount'" > <span tal:content="fud/cnt" /> </td>
					
				</tr>
			</table>
		</div>
	</div>
			
</div>


<a name="noteStaff" />
<div style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
	
	<a href="javascript:void(0)" onclick="tug('note_staff')"><p id="tggl_note_staff" class="sectionTitle activated">Note Staff</p></a>

	<div id="note_staff" style="display:block">

		<div style="margin-top:15px;">
		<form method="POST" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=addNote">
			<input type="text" name="note" style="width:300px;" class="neon" placeholder="Aggiungi nota..." /><br />
			<input type="checkbox" value="REG" name="REG" /> Richiamo/Regolamento <br />
			<input type="submit" value="VAI" />
		</form>
		</div>

		<div style="margin-top:15px; border-top:1px solid #666;">
		<table>
		<tr tal:repeat="not note">
			<td tal:condition="php:adminPanel"> <a tal:attributes="href string:scheda.php?s=deleteNoteStaff&sID=${not/recID}"> [X]</a></td>
			<td style=" width:55px;" tal:content="php:date('d-m-Y',not['timeCode'])" class="dateclass" />
			
			<td tal:content="string:(${not/pgUser})" style="width:55px; font-size:10px; color:#888;"/>
			<td style="width:300px; text-align:left; font-size:13px;"> 
				<span tal:condition="php:not['reg']" title="Nota Regolamento" style="color:#FFCC00; font-weight:bold;">[DSC]</span>
				<span tal:content="not/what" />
			</td>
		</tr>
		</table>
		</div>
	</div>
		
</div>
</div>
</div>
</body>
</html>