<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css?v=1.6" rel="stylesheet" type="text/css" />
	 
	
	<script type="text/javascript" src="TEMPLATES/js/JQ.js" />

	<title>STAR TREK FEDERATION - SCHEDA</title>	
		<script type="text/javascript">
	function paddOpen(who){window.open ('padd.php?s=seR&to='+who+'&sub=','padd', config='scrollbars=no,status=no,location=no,resizable=no,resizale=0,top=140,left=500,width=655,height=403');}
	</script>

</head>

<body style="background-color:black; overflow:hidden; height:385px; padding:-5px;">

<div id="schedaContainer">

<div metal:use-macro="TEMPLATES/metal.htm/schedaIntro" />

<div id="mainContainer">

<div style="width:80%; margin-left:auto; margin-right:auto;"><table style="width:100%; font-size:12px;">
	<tr style="text-align:center; font-weight:bold; color:orange;" ><td>Location</td><td>Ponte</td><td>Alloggio</td></tr>
	<tr style="text-align:left;" tal:repeat="alloggio alloggi">
	<td tal:content="alloggio/placeName" style="border:1px solid #333;" /><td style="border:1px solid #333;" tal:content="alloggio/ambientLevel_deck" /><td style="border:1px solid #333;" tal:content="alloggio/ambientNumber" /><td tal:condition="php:(alloggio['defaulta'])" style="color:red">**</td>
	</tr>
</table></div>
<hr style="color:#444; width:80%;" />
<p style="font-size:18px; margin:0px; text-align:center;" tal:content="locName" />
<div style="margin-right:5px; padding:5px; font-size:13px;" tal:content="structure desc" />
</div>


</div>
</body>
</html>