<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/circle.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" /> 
	

	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js?v=${gameOptions/numericVersion}"/>
	<script type="text/javascript" src="TEMPLATES/js/JU.js" /> 

	<title>STAR TREK FEDERATION - SCHEDA</title>	
	<script type="text/javascript">
	
	function checksum(){
		var tot=0; 
		jQuery('.editer').each(function(){
			tot+=parseInt(jQuery(this).prop('value'));
		});
		if (tot != 23)
			{
				alert('Attenzione: la somma dei valori delle caratteristiche iniziali deve essere uguale a 23! Nel tuo caso il totale è di '+tot);
				return false;
			}
		else
			{
				return true;
			}
	}
	function paddOpen(who){window.open ('padd.php?s=seR&to='+who+'&sub=','padd', config='scrollbars=no,status=no,location=no,resizable=no,resizale=0,top=140,left=500,width=655,height=403');}
	
	function removeItem(ider,pgi)
	{	
		if(confirm('Conferma eliminazione?'))
		window.location.href="scheda.php?s=remDotazione&brever=true&ider="+ider+'&pgID='+pgi;
	}
	
	function addBreverItem(ider,pgi)
	{	
		window.location.href="scheda.php?s=addBrevetto&ider="+ider+'&pgID='+pgi;
	}
	
	function removeDotazione(ider,pgi)
	{	
		if(confirm('Conferma eliminazione?'))
		window.location.href="scheda.php?s=remDotazione&laurer=true&ider="+ider+'&pgID='+pgi;
	}
	
	function showRuolino()
	{
		if(jQuery('#mainRuolino').css('display') == 'block') jQuery('#mainRuolino').fadeOut(200,function(){jQuery('#ruolinoER').fadeIn(200); jQuery('#linkerR').prop('src','TEMPLATES/img/interface/personnelInterface/schedaImage.png'); });
		else jQuery('#ruolinoER').fadeOut(200,function(){jQuery('#mainRuolino').fadeIn(200); jQuery('#linkerR').prop('src','TEMPLATES/img/interface/personnelInterface/ruolinoImage.png'); });
	}
	
	function viewAdder()
	{
		jQuery('#rankAdder').fadeIn(200, function(){jQuery('#viewAdderToggle').fadeOut(100)});
	}
	
	function switchsect()
	{
		if (jQuery('#personalAbil').css('display') == 'none')
		{
			jQuery('#tecAbil').fadeOut(100,function(){jQuery('#personalAbil').fadeIn(100);});
		}
		else {jQuery('#personalAbil').fadeOut(100,function(){jQuery('#tecAbil').fadeIn(100);});}
	}
	
	 jQuery(function() { jQuery('.tooltip, img').tooltip({
          content: function () {
              return jQuery(this).prop('title');
          }
      });});
	
	</script>
	<style>
	.ui-tooltip {
    font-family:Helvetica;
	font-size:14px; 
	max-width:60%;



  }



p.bonus{margin-top:1px dashed #333; margin-top:5px;}
p.bonus img{
  width:35px; vertical-align:middle; margin-left:5px; 
}
p.bonus span {
  font-family:federationFont; font-size:18px; margin-left:5px; letter-spacing: 0.1sem;
}
.thrExplain{ display:inline; margin:0px; }
.thrExplain img{ width:25px; vertical-align: middle; }
  
 
	</style>
</head>

<body style="background-color:black; overflow:hidden; height:385px; padding:-5px;">

<div id="schedaContainer">
<div metal:use-macro="TEMPLATES/metal.htm/schedaIntro" />
<div id="mainContainer">
<div id="mainRuolino" style="margin:0px; margin-left:10px; position:relative; overflow:hidden; margin-right:0px; height:530px;">
	
	  	<!--<div style="width: 200px; height: 510px; position: absolute;  z-index:0; background-image:url('TEMPLATES/img/uniformi/test67.png');"> </div>-->

		<div id="backUniformDiv" tal:attributes="style string:background-image:url('TEMPLATES/img/uniformi/${uniform}.png');; top: 22px;; z-index:1;; right: 10px;;"> </div>
		
		<div style="overflow-y:auto; height:530px; width:100%;  z-index:10; position:absolute;">
			<div tal:attributes="class string:abiliAggregator ${repeat/abiClass/key}" tal:repeat="abiClass abi">
				
				<p tal:content="php:labeler[repeat.abiClass.key]">GENERICI</p>
				
				<div style="height:25px;" />
					<div style="float:left;" tal:repeat="abilit abiClass" >

						   <div tal:attributes="class string:c100 p${abilit/levelperc} small tooltip ; title string:<span style='color:#5d85a6;; font-weight:bold;; font-size:16px;;'>${abilit/abName}</span> | Liv. ${abilit/level} | ${abilit/thr} <hr/>${abilit/leveldesc}" style="z-index:1">
								<img tal:attributes="src string:TEMPLATES/img/interface/personnelInterface/abilita/${abilit/abImage}" />
								<span tal:content="abilit/level">1</span>
		
										<div class="slice">
											<div class="bar"></div>
											<div class="fill"></div>
										</div>
							</div>



						   <div tal:attributes="class string:c100 subf p${abilit/levelThrperc} small" style="z-index:0; position:absolute;">
								
								
		
										<div class="slice">
											<div class="bar" ></div>
											<div class="fill"></div>
										</div>
							</div>

					</div>	
						
					<div style="clear:both"></div>
				</div>
			</div>
		</div>

	<p style="position:absolute; bottom:-14px; z-index:10; left:0px;"  tal:condition="php:(editable=='yes' && !userData.png)"><a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=bvadd" class="interfaceLink"><img src="TEMPLATES/img/interface/personnelInterface/scheda_modifica_btn.png" /></a></p>
	
	<p tal:condition="php:editable=='yes'" style="position:absolute; bottom:14px; z-index:10; right:40px;">
		<a href="javascript:void(0);" onclick="javascript:jQuery('#sReset').fadeIn();"> <button title="Reset" class=" plusButtonRed" style="vertical-align:middle;"><img src="TEMPLATES/img/interface/personnelInterface/deleteicon.png" style="width:20px;" /></button></a>
	</p>

</div>
</div>

<div tal:condition="php:editable=='yes'" id="sReset" class="popup" style="width:430px; height:260px; margin-top:-130px; margin-left:-215px; background-color:rgba(0,0,0,0.85); z-index:10" >
	
	<p style="margin:0px; margin-top:5px; font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;font-size: 25px;text-align: center;text-shadow: 0 0 5px #00C6FF;font-weight:bold;">  Reset Abilità <br />
		<span tal:condition="not:exists:restrictEditCar" style="font-size:13px; text-shadow: 0 0 0px #00C6FF"> disponibile solo fino all'approvazione del BG </span>
		<span tal:condition="exists:restrictEditCar" style="font-size:13px; text-shadow: 0 0 0px #00C6FF"> non disponibile (puoi chiedere un reset straordinario)</span>
	</p>
	<hr />

		<form onsubmit="javascript:return checksum();" tal:omit-tag="exists:restrictEditCar" tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=resetandeditCar" method="POST">
		

			<div style="float:left; width:150px;   padding:5px;">

			<p style="margin:0px; margin-top:3px; font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;font-size: 13px; text-align: center;text-shadow: 0 0 0px #00C6FF;font-weight:bold;"> <span tal:condition="not:exists:restrictEditCar">Imposta questi valori:</span> <span tal:condition="exists:restrictEditCar">Valori:</span>  </p>
			<hr style="border-color:#555;" />
			<table style="width:100%">
			<tr tal:repeat="c abi/ABIL"> 
				<td> <img tal:attributes="title c/abDescription ; src string:TEMPLATES/img/interface/personnelInterface/abilita/${c/abImage}" style="width:23px;" class="tooltip" /> </td>
				<td><span style="font-size:12px; font-weight:bold;"  tal:content="c/abName" /></td>
				<td style="font-size:14px; font-weight:bold;"> <select  tal:condition="not:exists:restrictEditCar"  class="editer" tal:attributes="name string:edi_${c/abID}"><option tal:repeat="k php:range(1,8)" tal:attributes="value k; selected php:(k EQ 4) ? 'selected' : ''" tal:content="k"></option></select>

				<span tal:condition="exists:restrictEditCar" tal:content="c/level" />
			</td></tr>
			</table>

			
	
			</div>
			<div style="float:left; width:20px;   padding:5px;">
				<p style="margin:0px; margin-top:3px; margin-top:57px; font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;font-size: 33px; text-align: center;text-shadow: 0 0 0px #00C6FF;font-weight:bold;">
					+
				</p>
			</div>
			
			<div style="float:left; width:210px;   padding:5px;">
				<p style="margin:0px; margin-top:3px; font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;font-size: 13px; text-align: center;text-shadow: 0 0 0px #00C6FF;font-weight:bold;"> Bonus di razza <span style="color:#1f80c4; font-weight:normal; font-style:italic;" tal:content="string:(${pgSpecie})"/>:</p>
				<hr style="border-color:#555;" />
			 

					<p class="bonus" tal:condition="php:(pgSpecie == 'Umana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_umani" />  
					<p class="bonus" tal:condition="php:(pgSpecie == 'Trill')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_trill" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Xenita')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_xeniti" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Vulcaniana' || pgSpecie == 'Umana-Vulcaniana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_vulcaniani" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Andoriana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_andoriani" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Betazoide' || pgSpecie == 'Umana-Betazoide')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_betazoidi" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Koyar')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_koyar" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Bajoriana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_bajoriani" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Boliana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_boliani" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Caitiana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_caitiani" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Terosiana')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_terosiani" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Tellarita')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_tellariti" />
					<p class="bonus" tal:condition="php:(pgSpecie == 'Zaldan')" metal:use-macro="TEMPLATES/metal_bonus_race.htm/bonus_zaldan" />
					
			</div>
			

		<div style="clear: both" />
		<div>
			<p tal:condition="not:exists:restrictEditCar" style="margin:0;font-style:italic;">NB: La somma deve essere uguale a <span style="color:#FFCC00; font-weight:bold;">23</span></p>
			<div style="position:absolute; bottom:12px; right:12px; height:25px; width:105px;">
				<input tal:condition="not:exists:restrictEditCar" style="cursor:pointer; background-color:#282f8c; width:100px; padding:2px; font-weight:bold; color:white;" type="submit" value="Reset" /> 
			</div>

		</div>
		</form>	
 
	
	
	<div style="position:absolute; top:5px; right:15px; cursor:pointer;" onclick="jQuery('#sReset').fadeOut(100);"> <button title="Chiudi" class=" plusButtonRed" style="vertical-align:middle;"><img src="TEMPLATES/img/interface/personnelInterface/deleteicon.png" style="width:20px;" /></button> </div>
</div> 
	
 </body>
</html>