<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css?v=${gameOptions/numericVersion}" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/jquery-ui.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="TEMPLATES/js/personnel.js?v=${gameOptions/numericVersion}" /> 
	<script type="text/javascript" src="TEMPLATES/js/jquery-3.6.0.min.js" /> 
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	


	
	<title>SCHEDA ADMIN</title>	
	<style>
		p.yesConn{background-color:#d4d234;}
		p.yesPlay{background-color:#5ab52d;}
		p.yesMas{background-color: #3478d4;}
		p.no{ background-color: #b52d22;}

		#statsPanel{text-align:left;}

		#statsPanel table td.tval{
		    color: #2e7ec8;
		    font-weight: bold;
		    font-style: italic;
		}

		#trackInfo b {color:#FFCC00;}

	</style>
	<script type="text/javascript">
	function paddOpen(who){window.open('padd.php?s=seR&to='+who+'&sub=','padd', config='scrollbars=no,status=no,location=no,resizable=no,resizale=0,top=140,left=500,width=655,height=403');}
	
	function sendaya(ida)
	{
		jQuery('#averterBox').fadeIn();
		jQuery('#averter').html(ida);

		
	}


		jQuery(function(){

			$( "#userSearch" ).autocomplete({
			source: "ajax_UserSearch.php",
			minLength: 2,
			});
			
		});

	</script>
	
</head>
<body style="background-color:black; overflow:hidden; padding:-5px;"><div id="schedaContainer">
<div metal:use-macro="TEMPLATES/metal.htm/schedaIntro" />

<div id="mainContainer" >
<p style="text-align:center; font-size:16px;"> PANNELLO ADMIN</p>
<div>
	<div style="width:200px; height:60px; float:left; margin-left:20px; margin-right:10px; padding:5px; text-align:center;">
		<div style="width:220px; margin-left:auto;margin-right:auto;">
			<a tal:attributes="href php:(isBan==true) ? 'scheda.php?pgID=' . selectedUser . '&s=sban' : 'scheda.php?pgID=' . selectedUser . '&s=ban'">
			<div style="border:1px solid #2e7ec8; float:left; width:60px;" tal:content="php:(isBan==true) ? 'SBANNA' : 'BANNA'">BANNA/SBANNA PG</div>
			</a>
			<a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=png">
			<div style="border:1px solid #2e7ec8; margin-left:10px; float:left; width:60px;" tal:content="php:(png==true) ? 'PG' : 'PNG'">PNG/PG</div>
			</a>
			<a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=invaliMail">
			<div style="border:1px solid #2e7ec8; margin-left:10px; float:left; width:60px;">deMAIL</div>
			</a> 

			<a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=toggle_bavosize">
			<div style="border:1px solid #3abd20; margin-top:2px; float:left; width:60px;" tal:content="php:(userData.pgBavo) ? 'sBAVO!' : 'BAVO!'"> </div>
			</a>
			<br />
			<br />
			
			
			
			<div style="clear:both" />
		</div>
		
		<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;">
			<span style="font-weight:bold;">USERNAME</span>
			<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setUsername" method="POST">
					<input type="text" name="username" style="width:130px;" tal:attributes="value userData/pgUser" onfocus="this.select()" />
					<input type="submit" value="VAI" />
			</form>	
		</div>
		<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;">
		<span style="font-weight:bold;">SPECIE / SESSO</span>

<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=spesex" method="POST">
<select class="neon" name="specie">
	<option tal:repeat="species availableSpecies" tal:content="species" tal:attributes="value species ; selected php:(species == userData.pgSpecie) ? 'selected' : ''" />
</select>
<select class="neon" name="sesso">
	<option value="M">M</option>
	<option value="F">F</option>
	<option value="T">T</option>
</select>
<input type="submit" value="VAI" />
</form></div>

<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;"><span style="font-weight:bold;">AUTH NOMA</span>
<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setAutoma" method="POST">
	<select  class="neon" name="aut">
	<option tal:attributes="selected php:(userData.pgAuthOMA=='N') ? 'selected': false" value="N">Utente Normale</option>
	<option tal:attributes="selected php:(userData.pgAuthOMA=='G') ? 'selected': false" value="G">Guida</option>
	<option tal:attributes="selected php:(userData.pgAuthOMA=='N') ? 'selected': false" value="O">Olomaster</option>
	<option tal:attributes="selected php:(userData.pgAuthOMA=='M') ? 'selected': false" value="M">Master</option>
	<option tal:attributes="selected php:(userData.pgAuthOMA=='JM') ? 'selected': false" value="JM">Junior Master</option>
	<option tal:attributes="selected php:(userData.pgAuthOMA=='SM') ? 'selected': false" value="SM">Global Master</option>
	<option tal:condition="php:adminPanel" tal:attributes="selected php:(userData.pgAuthOMA=='A') ? 'selected': false" value="A">Admin</option>
	</select>
	<input type="submit" value="VAI" />
</form>
</div>
<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;"><span style="font-weight:bold;">LOCATION ATTUALE</span>
<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setLocation" method="POST">
	<select class="neon" name="location" style="width:100%;">
		<optgroup tal:repeat="locGRP locations" tal:attributes="label repeat/locGRP/key">

			<option tal:repeat="location locGRP" tal:attributes="value repeat/location/key ; selected php:(repeat.location.key == userData.pgLocation) ? 'selected' : false"  tal:content="location"/>
		</optgroup>

	</select>
	<input type="submit" value="VAI" />
</form>
</div>
<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;"><span style="font-weight:bold;">FEDERATION POINTS</span>
<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=addPoints" method="POST">
	<input type="hidden" value="aa11" name="addPoints"/>
	<input class="neon" type="text" placeholder="Punti" name="points" style="width:40px;" /> 
	<input class="neon" type="text" placeholder="Ragione" name="pointDetail" style="width:120px;" /> 
	<input type="submit" value="VAI" />
</form>
</div>

<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;"><span style="font-weight:bold;">IMPOSTA UP</span>
<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setUPPoints" method="POST">
	<input class="neon" type="text" placeholder="Punti" tal:attributes="value pgUpgradePoints" name="points" style="width:40px;" /> 

	<!--<select name="type" style="width:120px;"><option value="skills">UP Abilità</option><option value="specials">UP Speciali</option><option value="social">UP Sociali</option></select>-->
	<input type="submit" value="VAI" style="background-color:green; font-weight:bold; color:white;" />
</form>
</div>

<div style="border:1px solid #2e7ec8; margin-top:10px; padding:4px;"><span style="font-weight:bold;">IMPOSTA LUCKYPOINTS</span>
<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setSpecialistPoints" method="POST">
	<img src="TEMPLATES/img/interface/stopicon.png" style="width:25px; vertical-align:middle;" /> <input class="neon" type="text" placeholder="Punti" tal:attributes="value pgSpecialistPoints" name="points" style="width:40px;" /> <img src="TEMPLATES/img/interface/stopicon.png" style="width:25px; vertical-align:middle;" />

	<!--<select name="type" style="width:120px;"><option value="skills">UP Abilità</option><option value="specials">UP Speciali</option><option value="social">UP Sociali</option></select>-->

	<input type="submit" value="VAI" style="background-color:red; font-weight:bold; color:white;" />
</form>
</div>

<div style="border:1px margin-top:10px; background-color: 1px solid #2e7ec8;">
	<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=resetandeditCar" method="POST">
		<p tal:repeat="c caratt" style="float:left;"> 
			<span tal:content="repeat/c/key" />: <select tal:attributes="name string:edi_${repeat/c/key}"><option tal:repeat="k php:range(0,15)" tal:attributes="value k; selected php:(k EQ c) ? 'selected' : ''" tal:content="k"></option></select>
		</p>
		<input style="background-color:#282f8c; padding:2px; font-weight:bold; color:white;" type="submit" value="Reset and restore (ab + razza + UP)" />
	</form>					
</div>

</div>


<div style="width:300px; overflow-x:auto; float:left; margin-left:20px; margin-right:20px; padding:5px; text-align:center;">
	<div style="border:1px solid #2e7ec8;">
		<table style="text-align:left; font-size:12px;"><tbody>	
		<tr><td>EMAIL:</td><td tal:content="email" /></tr>
		</tbody></table>
	

		<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setMainPG" method="POST">

					<table><tr><td style="text-align:left; font-weight:bold;">Ruolo:</td>
					<td><span tal:condition="php:pgType=='OLD'" style="color:#FC0; font-size:12px;"> [Ex PG] </span>
					<span tal:condition="php:pgType=='DOPPIO'" style="color:#0683b1; font-size:12px;"> [Doppio]</span>
					<span tal:condition="php:pgType=='MAIN'" style="color:#42b106; font-size:12px;"> [Principale]</span></td></tr>

					<tr><td style="text-align:left; font-weight:bold;">PG Principale:</td><td> <img tal:attributes="src string:TEMPLATES/img/ranks/${mainPGRec/ordinaryUniform}.png" style="vertical-align: middle" /> <a class="interfaceLink" tal:attributes="href string:scheda.php?pgID=${mainPGRec/pgID}&s=master" tal:content="mainPGRec/pgUser" /></td></tr></table>

							
					<p style="border-top:1px solid #444; padding-top:10px;">Imposta <span  style="color:#FFCC00; text-decoration:italic" tal:content="userData/pgUser" /> come <select name="pgIDRole" class="neon">
						<option tal:attributes="selected php:(pgType == 'OLD') ? 'selected' : ''" value="OLD">Vecchio PG</option>
						<option tal:attributes="selected php:(pgType == 'DOPPIO') ? 'selected' : ''" value="DOPPIO">Doppio PG</option>
						<option tal:attributes="selected php:(pgType == 'MAIN') ? 'selected' : ''" value="MAIN">PG Principale</option>
					</select><br />del PG:  <input name="targetPGID" class="neon" placeholder="... cerca ..." id="userSearch" type="text"/> <input type="submit" value="VAI" style="padding:3px 8px; margin:5px;" /></p>
		</form>
	 
	</div>

	<div style="margin-top:15px; border:1px solid #2e7ec8; padding-bottom:5px;">
		<p style="text-align:left;">Vascelli Comandati:
		<ul style="text-align:left;"><li tal:repeat="ETP commandedPlaces" tal:content="ETP/placeName"></li></ul></p>

		<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setAsCommanderOf" method="POST">
			<select class="neon" name="placeID">
				<optgroup label="Navi">
					<option tal:repeat="location locations/Nave" tal:attributes="value repeat/location/key ; selected php:(repeat.location.key == userData.pgLocation) ? 'selected' : false"  tal:content="location"/>
				</optgroup>
				<optgroup label="Stazioni">
					<option tal:repeat="location locations/Stazione" tal:attributes="value repeat/location/key ; selected php:(repeat.location.key == userData.pgLocation) ? 'selected' : false"  tal:content="location"/>
				</optgroup>
				

			</select>
			<input type="submit" value=" Aggiungi " />
		</form>

	</div>

	<div style="margin-top:15px; border:1px solid #2e7ec8;">
		AGGIUNGI ENCOMI / NASTRINI
		<form tal:attributes="action string:scheda.php?pgID=${selectedUser}&s=setNastrini" method="POST">
		<select class="neon" name="nastrini" style="width:95%;">
			<optgroup tal:repeat="nasG nastrini" tal:attributes="label repeat/nasG/key">
				<option tal:repeat="nas nasG" tal:attributes="value nas/medID" tal:content="nas/medName" />
			</optgroup>>
		</select>
		
		Anno: <select class="neon" name="dataA"><option tal:repeat="year php:range(2290,thisYear)" tal:attributes="value year ; selected php:(year==thisYear) ? 'selected': false" tal:content="year" /></select>
		<br />
		<input type="submit" value="VAI" style="padding:3px 8px; margin:5px;" />
		</form>

		<a tal:attributes="href string:scheda.php?s=kavanagh&pgID=${selectedUser}">
			<div style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:140px;">Kavanagh</div>
			</a>
<a tal:attributes="href string:scheda.php?s=matto&pgID=${selectedUser}" tal:condition="php:adminPanel">
			<div style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:140px;">Matto</div>
			</a>
		<a tal:attributes="href string:scheda.php?s=reminder&pgID=${selectedUser}">
			<div style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:140px;">Ricorda di azionare</div>
		</a>

		<a tal:attributes="href string:scheda.php?s=logout&pgID=${selectedUser}">
			<div style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:140px;">Sbatti fuori (logout)</div>
			</a>
 

		<a tal:attributes="href string:scheda.php?s=document&pgID=${selectedUser}">
			<div style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:140px;">Padd Benvenuto</div>
			</a>

		<a tal:attributes="href string:scheda.php?pgID=${selectedUser}&s=toggleSSF">

			<div  style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:140px;" tal:content="php:(pgSSF ? 'S\'TUL\'DUKAT' : 'TUL\'DUKAT')"></div>
			</a>

			<a tal:attributes="href string:kgb.php?target=${selectedUser}" target="_blank">
			<div style="border:1px solid #2e7ec8; float:left; margin-top:10px; width:280px;">TOOL SHIAR</div>
			</a>
	</div>

	<div style="clear: both; padding:5px;" id="player_record"> <a id="player_record_btn" tal:attributes="onclick string:javascript:load_playrecord_vector(${selectedUser});" href="javascript:void(0);" class="interfaceLinkGreen"> [Svela Attività] </a>
	</div>

	<div style="clear: both; padding:5px;" id="player_record"> <a id="player_stats_btn" tal:attributes="onclick string:javascript:load_statsrecord_vector(${selectedUser});" href="javascript:void(0);" class="interfaceLinkGreen"> [Statistiche Aggregate] </a>

	<p id="statsPanel" style="height:150px; padding:5px; display:none; overflow-y:auto; border:1px solid #333; width:100%;">

	</p>
	</div>

	<div style="clear: both; padding:5px;" id="ipR"> <a id="player_IP_btn" tal:attributes="onclick string:javascript:checkIP(${selectedUser});" href="javascript:void(0);" class="interfaceLinkRed"> [ŋ] </a>

	<p id="trackInfo" style="height:280px; text-align:left; padding:5px; display:none; overflow-y:auto; border:1px solid #333; width:98%;"> 
	</p>
	</div>


	<div style="clear: both; padding:5px;">
		<table style="text-align:left;">
			<div tal:repeat="last lasts">
			<tr style="">
			<td><span tal:content="last/2" style="color:#2e7ec8; font-weight:bold; font-style:italic;"/></td>
			<td><span tal:content="last/0"/></td>
			</tr>
			<tr><td tal:content="structure last/1" colspan="2" /></tr>
			</div>
		</table>
	</div>
	
	<div id="averterBox" style="position:absolute; top:50%; left:50%; width:300px; height:500px; margin-top:-250px; margin-left:-150px; border:1px solid white; display:none;">
		<div id="averter" />
	</div>
</div><div style="clear:both;" /></div>
</div>
</div>
</body>
</html>
