<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css?v=1.2" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110h.js" />
	<script type="text/javascript" src="TEMPLATES/js/JU.js" />
	<script type="text/javascript" src="TEMPLATES/js/initiator.js" />
	
	<link href="TEMPLATES/css/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />

	<!-- <script type="text/javascript" src="TEMPLATES/js/lazyload.js"></script> -->
	<title>STAR TREK FEDERATION - SCHEDA</title>				
	<script>
	jQuery(function(){
			
			jQuery('#dipartimento').autocomplete({source: "ajax_gradiGedder.php?dipartimenti=do",	minLength: 2});
			jQuery('#divisione').autocomplete({source: "ajax_gradiGedder.php?divisioni=do",	minLength: 2});

			jQuery( "#users")
			// don't navigate away from the field on tab when selecting an item

			.autocomplete({
				source: function( request, response ) {
					$.getJSON( "ajax_userGetter.php", {
						term: extractLast( request.term )
					}, response );
				},
				search: function()
				{
					// custom minLength
					var term = extractLast( this.value );
					if ( term.length < 3 ) {
						return false;
					}
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
			});
			 
			});
	



	function split( val ) {
			return val.split( /,\s*/ );
	}
	
	function extractLast( term ) {
		return split( term ).pop();
	}
	
	function closeSession(ida){ 
		jQuery.post('shadow_scheda.php?s=closeSession&ida='+ida,
			function e(data){
				
				if(data=="OK")
					alert(ida);
					jQuery('#session_'+ida+' .statuser span').html('FORCED');
					jQuery('#session_'+ida+' .statuser span').removeClass().addClass('forced');
					jQuery('#session_'+ida+' .commander').html('');
			}
		);		
	}

	function upd(vara)
	{
		jQuery('#brever').css('background-image','url(\'TEMPLATES/img/ruolini/'+vara+'\')');
	}
	function paddOpen(who){window.open ('padd.php?s=seR&to='+who+'&sub=','padd', config='scrollbars=no,status=no,location=no,resizable=no,resizale=0,top=140,left=500,width=655,height=403');}
	
	function blockList()
	{
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di Bloccare tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=blockBulk', {listof: jQuery('#users').prop('value')}, confirmer, 'json');
	}


	function delList()
	{
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di Cancellare tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=delete', {listof: jQuery('#users').prop('value')}, confirmer, 'json');
	}
	function bavoList()
	{
		if(jQuery('#users').val() != '' && confirm('Saranno tutti dei vermi verminosi e bavosi! Confermi?')) jQuery.post('shadow_scheda.php?s=bavosize', {listof: jQuery('#users').prop('value')}, confirmer, 'json');
	}
	
	function setSeclar(ida)
	{
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di riassegnare il seclar a tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=setSeclar', {listof: jQuery('#users').prop('value'), seclar: ida}, confirmer, 'json');
	}
	
	function setSalute(ida)
	{
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di modificare lo status di salute a tutti i PG selezionati? (Viene inviato un Padd ad ogni PG)')) jQuery.post('shadow_scheda.php?s=setSalute', {listof: jQuery('#users').prop('value'), salute: ida}, confirmer, 'json');
	}
	
	function setMostrina(ida)
	{
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di voler cambiare la mostrina a tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=setMostrina', {listof: jQuery('#users').prop('value'), mostrina: ida}, confirmer, 'json');
	}
	
	function sendModerazione(ida)
	{
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di voler inviare la moderazione a tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=sendModeration', {listof: jQuery('#users').prop('value'), moder: ida}, confirmer, 'json');
	}
	
	function setIncarico()
	{
		var ida = jQuery('#incarico').val();
		var eda = jQuery('#assegnazione').val();
		var oda = jQuery('#dipartimento').val();
		var uda = jQuery('#divisione').val();
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di modificare incarico e assegnazione di tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=setIncarico', {listof: jQuery('#users').prop('value'), incarico: ida, assegnazione: eda, dipartimento: oda, divisione: uda}, confirmer, 'json');
	}
	
	
	function noteAdd()
	{
		var ida = jQuery('#note').val();
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di aggiungere alle note master di tutti i PG selezionati questo testo?')) jQuery.post('shadow_scheda.php?s=addNote', {listof: jQuery('#users').prop('value'), note: ida}, confirmer, 'json');
	}
	function addPoints()
	{
		var1 = jQuery('#addPoints').val();
		var2 = jQuery('#pointDetail').val();
		if(jQuery('#users').val() != '' && confirm('Sei sicuro di aggiungere punti a tutti i PG selezionati?')) jQuery.post('shadow_scheda.php?s=addPoints', {listof: jQuery('#users').prop('value'), code: var1, detail:var2}, confirmer, 'json');
	}
	
	function confirmer(data){alert('Operazione Completata per i PG: '+jQuery('#users').val()); jQuery('#users').val('');}
	
	
	</script>	
	<style>
		
		.ongoing{display:block; background-color: #945416; color: white; padding:2px; border: 1px solid white;}
		.closed{display:block; background-color: black; color: white; padding:2px; border: 1px solid white;}
		.forced{display:block; background-color: #961c1c; color: white; padding:2px; border: 1px solid white;}
		.masterPriv{display:block; background-color: #73279f; color: white; padding:2px; border: 1px solid white;}
		.master{display:block; background-color: #960101; color: white; padding:2px; border: 1px solid white;}
		.nomaster{display:block; background-color: #0c4580; color: white; padding:2px; border: 1px solid white;}

		.approvalDiv{background-color:#333; border:1px solid #333; padding:5px;}
		.approvalDiv:hover{background-color:#945416; cursor: pointer;}

		#approvals ins {text-decoration: none; background-color:green !important;}
		#approvals del {text-decoration: none; background-color:#960101 !important;}

	</style>
</head>
<body style="background-color:black; overflow:hidden;  padding:-5px;">

<div id="schedaContainer" style="background-image:url('TEMPLATES/img/interface/personnelInterface/sfondo_shadow_scheda.png');">

 
<div id="mainContainer" style="height:535px; width:610px; overflow:auto; margin:7px; padding:4px; padding-left:7px; font-size:13px;">


<p style="font-size:14px;"><a href="javascript:void(0);" class="interfaceLink" onclick="jQuery('#multiedit').toggle();" >&raquo; TOOL EDIT SCHEDE MULTIPLE </a></p>

<p style="font-size:14px;"><a onclick="window.open ('shadow_scheda.php?s=stor','prestav', config='scrollbars=yes,status=no,location=no,resizable=no,resizale=0,top=0,left=100,width=490,height=605');" href="javascript:void(0);" class="interfaceLink">&raquo; TOOL TUTTI I PUNTI</a></p>


<p style="font-size:14px;"  tal:condition="exists:bonusM"><a href="javascript:void(0)" class="interfaceLink" onclick="jQuery('#masterEvents').toggle();" >&raquo; TOOL EVENTI MASTER </a></p>    

<p style="font-size:14px;"  tal:condition="exists:bonusSM"><a href="javascript:void(0)" class="interfaceLink" onclick="jQuery('#closingTool').toggle();" >&raquo; IL TOOL CHE CHIUDEVA LE SESSIONI </a></p>  

<!-- _________________________- -->
<p style="font-size:14px;"  tal:condition="exists:bonusSM"><a href="javascript:void(0)" class="interfaceLink" onclick="jQuery('#approvals').toggle();" >&raquo; TOOL APPROVAZIONE BG </a></p>

<div id="approvals" tal:condition="exists:bonusSM" tal:attributes="style php:((isSet(viewApprovals)) ? 'display:block' : 'display:none' )"> 
	
	<div tal:repeat="approBG pendingBGS" >
	<a tal:content="repeat/approBG/key" style="margin-left:20px; border-left:2px solid #333; padding-left:5px; " class="interfaceLink" tal:attributes="onclick string:jQuery('#tyl_${repeat/approBG/key}').toggle();" />
		<div tal:attributes="id string:tyl_${repeat/approBG/key}" style="display:none;">
			<div tal:repeat="approval approBG">
				<p class="approvalDiv" tal:attributes="onclick string:jQuery('#modi_${approval/pgID}').toggle();">
					<img tal:attributes="src string:TEMPLATES/img/ranks/${approval/ordinaryUniform}.png" style="vertical-align:middle;" />
					<a tal:attributes="onclick string:javascript:schedaPOpen(${approval/pgID})" class="interfaceLink" href="javascript:void(0);" tal:content="approval/pgUser"></a> Ultima Modifica: <span tal:content="php:date('d-m-y H:i',approval['tim'])">  </span>
					[ <span tal:content="php: ((approval['supervision']) ? ((approval['supervision'] == 3) ? 'Jean' : 'Moreno') : '') " style="font-weight:bold;"> </span> ]
				</p>

				<div style="display:none;" tal:attributes="id string:modi_${approval/pgID}" tal:condition="exists:approval/approdiff" >

				<p><img src="TEMPLATES/img/interface/personnelInterface/div_aspetto.png" /></p>
				<div style="margin-right:5px; font-size:13px; text-align:justify"  class="backkander" tal:content="structure approval/approdiff/pgBiometrics" />

				<p><img src="TEMPLATES/img/interface/personnelInterface/div_biografia.png" /></p>
				<div style="margin-right:5px; font-size:13px; text-align:justify" class="backkander" tal:content="structure approval/approdiff/pgBackground" />

				<p><img src="TEMPLATES/img/interface/personnelInterface/div_psicologia.png" /></p>
				<div style="margin-right:5px; font-size:13px; text-align:justify" class="backkander" tal:content="structure approval/approdiff/pgCarattere" />

				<p><img src="TEMPLATES/img/interface/personnelInterface/div_famiglia.png" /></p>
				<div style="margin-right:5px; font-size:13px; text-align:justify"  class="backkander" tal:content="structure approval/approdiff/pgFamily" />

				<p><img src="TEMPLATES/img/interface/personnelInterface/div_seclar7.png" /></p>
				<div style="margin-right:5px; font-size:13px; text-align:justify"  class="backkander" tal:content="structure approval/approdiff/pgIlSegreto" />

				<p><img src="TEMPLATES/img/interface/personnelInterface/div_altro.png" /></p>
				<div style="margin-right:5px; font-size:13px; text-align:justify"  class="backkander" tal:content="structure approval/approdiff/pgVarie" />
				
				</div>
				<div style="clear:both" />
				<a tal:attributes="href string:shadow_scheda.php?s=approveBackground&pgID=${approval/pgID}" class="interfaceLinkGreen"> [ - APPROVA - ] </a> <a tal:attributes="title php:((approval['lastReminder']) ? 'Ultimo Reminder in data: '.date('d/m/y H:i',approval['lastReminder']) : '') ; onclick php:((approval['lastReminder']) ? 'return confirm(\'Sicuro di voler inviare un nuovo reminder?\');;' : 'return true;;') ; href string:shadow_scheda.php?s=remindBackground&pgID=${approval/pgID}" class="interfaceLinkBlue"> [ - INVIA REMINDER - ] </a>  <a tal:attributes="href string:shadow_scheda.php?s=achiAssignBackground&pgID=${approval/pgID}&what=14" class="interfaceLink"> [ - ACH. BG - ] </a>  <a tal:attributes="href string:shadow_scheda.php?s=achiAssignBackground&pgID=${approval/pgID}&what=44" class="interfaceLink"> [ - ACH. RUOL - ] </a>
			</div>
		</div>
	</div>
</div>
 

<div style="display:none;" id="multiedit"> 

	<p style="color:red; font-weight:bold;"> Attenzione! <span style="color:white;">Con questa scheda stai lavorando su un <span style="color:orange;"> GRUPPO </span> di personaggi. Le modifiche riguarderanno tutti i PG del gruppo.</span></p>

	<div style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
	<b>Utenti a cui applicare le modifiche (Puoi inserirne più di uno separando con la virgola):</b><br/><textarea id="users" name="users" style="width:500px; height:40px; font-size:15px; font-weight:bold;" onfocus="this.select();" /></div>

	<hr />

	<div style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;" tal:condition="exists:bonusSM">
	Assegna Punteggi a Tutti: &nbsp;&nbsp;<select id="addPoints">
		<optgroup label="Punti Ordinari QUEST">
		<option value="a1">1 pt - Insufficiente</option>
		<option value="a2">2 pt - Scadente</option>
		<option value="a3">3 pt - Scarso</option>
		<option value="a4">4 pt - Sufficiente</option>
		<option value="a5">5 pt - Discreto</option>
		<option value="a6">6 pt - Buono</option>
		<option value="a7">7 pt - Distinto</option>
		<option value="a8">8 pt - Ottimo</option>
		<option value="a9">9 pt - Eccezionale</option>
		<option value="a10">10 pt - Ommammamiaquantoèfigo</option>
		</optgroup>
		
		<optgroup label="Punti Ordinari ONE SHOT">
		<option value="a1">1 pt - Insufficiente</option>
		<option value="a2">2 pt - Sufficiente</option>
		<option value="a3">3 pt - Buono</option>
		<option value="a4">4 pt - Distinto</option>
		<option value="a5">5 pt - Eccezionale</option>
		<option value="b5">5 pt - Masterata di una One Shot</option>
		</optgroup>
		
		<optgroup label="Punti Ordinari MINI SHOT - FREE ROLE">
		<option value="f2">2 pt - Partecipazione</option>
		</optgroup> 
		
		<optgroup label="Rapporti">
		<option value="r2">2 pt R - Stesura Rapporto [Usare se possibile il comando in CDB!]</option>
		</optgroup>
		
		<optgroup label="[SM] Integrazioni Dispense">
		<option value="kz1">20 pt DISP - Piccola Integrazione</option>
		<option value="kz2">50 pt DISP+ - Dispensa Completa</option>
		</optgroup>
		
	</select><br /><input id="pointDetail" placeholder="Descrizione (Esempio: nome della quest, o della simulazione)" style="width:400px; margin-top:7px;" />&nbsp;&nbsp;<input type="submit" value="VAI" onclick="addPoints();" />
	</div>

	<a href="#" onclick="blockList()" class="interfaceLinks"><div style="border:1px solid #2e7ec8; margin-top:20px; margin-left:20px; margin-right:20px; padding:7px; text-align:center;">BLOCCA QUESTI PG</div></a>

	<a href="#" tal:condition="exists:bonusSM" onclick="bavoList()" class="interfaceLinks"><div style="border:1px solid #2e7ec8; margin-top:20px; margin-left:20px; margin-right:20px; padding:7px; text-align:center;">BAVOSIZZA QUESTI PG</div></a>

	<a href="#" tal:condition="exists:bonusSM" onclick="delList()" class="interfaceLinks"><div style="border:1px solid #2e7ec8; margin-top:20px; margin-left:20px; margin-right:20px; padding:7px; text-align:center;">CANCELLA QUESTI PG</div></a>

	<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-top:20px; margin-right:20px;  margin-left:20px; padding:5px; text-align:center;">
	Assegna a tutti: <select id="setSecl">
		<option tal:repeat="con php:range(1,9)" tal:content="string: SECLAR ${con}" tal:attributes="value con"/>
	</select>&nbsp;&nbsp;<input type="submit" value="VAI" onclick="setSeclar(jQuery('#setSecl').val());" />
	</div>

	<div style="clear:both; height:10px;" />
	<div style="border:1px solid #2e7ec8; padding:5px; margin-left:20px; text-align:center; margin-right:20px;" tal:condition="exists:bonusM" >Assegna a tutti lo Stato di Salute&nbsp;&nbsp;<input type="text" id="medStatus" placeholder="Stato di Salute"  style="width:360px;" onfocus="this.select()" />&nbsp;&nbsp;<input type="submit" value="VAI" onclick="setSalute(jQuery('#medStatus').val());" /></div><div style="clear:both;" />
	 
	<div tal:condition="exists:bonusSM" style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
	Imposta Mostrina a Tutti&nbsp;&nbsp;
	<select id="rankCode">
		<optgroup tal:repeat="ranker ranks" tal:attributes="label repeat/ranker/key">
		<option tal:repeat="rnk ranker" tal:attributes="value repeat/rnk/key" tal:content="rnk/note"/>
		</optgroup>
	</select>
	<input type="submit" value="VAI" onclick="setMostrina(jQuery('#rankCode').val());"/>

	</div>

	<div tal:condition="exists:bonusSM" style="border:1px solid #2e7ec8; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
	Pialla Incarichi & Imposta Assegnazione e Incarico a Tutti<br />
		<select id="assegnazione">
		<option tal:repeat="location locations" tal:attributes="value repeat/location/key" tal:content="location"/></select><br />
		<input class="neon" style="width:300px;" type="text" id="incarico" placeholder="Incarico" onfocus="this.select()" /><br />
		<input class="neon" style="width:300px;" type="text" id="divisione" placeholder="Divisione" onfocus="this.select()" /><br />
		<input class="neon" style="width:300px;" type="text" id="dipartimento" placeholder="Dipartimento" onfocus="this.select()" /><br/>
		<input  type="submit" value="VAI" onclick="setIncarico();" />
	</div>


	<div style="border:1px solid #888; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
			Aggiungi alle note master di tutti:
			
			<textarea style="width:90%; height:70px;" id="note" /><br /><br />
			<input type="submit" value="VAI" onclick="noteAdd();" />
	</div>

</div>

<div tal:condition="exists:bonusM" id="masterEvents" style="display:none; border:1px solid orange; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
Inserisci Evento Master Globale per il Vascello
<form method="POST" action="cdb.php?insertMasterEvent=do">
	<select name='place' style="width:400px;"><option tal:repeat="location locations" tal:attributes="value repeat/location/key" tal:content="location"/></select> 
	<input type="text" name="eventTitle" placeholder="Titolo Evento Master" style="width:400px;" /><br />
	<textarea type="text" name="eventText" placeholder="Testo Evento Master" style="width:400px; height:70px;" /><br />
	<input type="submit" value="Inserisci" />
</form>
</div>


<div tal:condition="exists:bonusM" id="closingTool" style="display:none; border:1px solid orange; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
	
<table>
	<tr style="background-color:#444; font-weight:bold;"> <td style="width:30px;"> ID </td> <td> Luogo </td> <td> Owner </td> <td>Data Inizio </td> <td> Stato </td> </tr>
	<tr style="margin-top:15px; border:1px solid white;" tal:attributes="id string:session_${session/sessionID}" tal:repeat="session sessions"> 

	<td><span tal:attributes="class php:((session['sessionMaster'] == '1') ? ((session['sessionPrivate'] == '1') ? 'masterPriv': 'master') : 'nomaster')" tal:content="session/sessionID" /></td>

	<td><span tal:content="session/sessionLabel" style="margin:0" /> <span style="font-color:#20527c; font-weight:bold;">@</span> <span tal:content="session/locName" style="margin:0;" /> <a href="javascript:void(0);" tal:attributes="onclick string:closeSession('${session/sessionID}')" class=" commander interfaceLink" style="color:red;" tal:condition="php:(session['sessionStatus'] == 'ONGOING')"> [Chiudi] </a> <a href="javascript:void(0);" tal:attributes="href string:getLog.php?session=${session/sessionID}" target="_blank" style="color:#FFCC00;" tal:condition="php:(session['sessionStatus'] == 'CLOSED')"> [Log] </a> </td>
	<td tal:content="session/pgUser" />
	<td><span tal:content="php:(date('d/m/y',session['sessionStart']))" /><br /><span tal:content="php:(date('H:i',session['sessionStart']))" /></td>
	<td class="statuser"><span tal:attributes="class php:((session['sessionStatus'] == 'ONGOING') ? 'ongoing' : ((session['sessionStatus'] == 'CLOSED') ? 'closed' : '' ) )" tal:content="session/sessionStatus" /></td>
	
	
	</tr>
</table>
</div>



</div>
</div>
</body>
</html>
