<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/personnel.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQ.js"></script>
	<script type="text/javascript" src="TEMPLATES/js/JU.js"></script>
	
	<link href="TEMPLATES/css/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />
	<!-- <script type="text/javascript" src="TEMPLATES/js/funct.js"></script> -->
	<!-- <script type="text/javascript" src="TEMPLATES/js/lazyload.js"></script> -->
	<title>STAR TREK FEDERATION - SCHEDA</title>				
	<script>
	
	</script>	
</head>
<body style="background-color:black; overflow:hidden; height:385px; padding:-5px;">
<div id="schedaContainer" style="background-image:url('TEMPLATES/img/interface/personnelInterface/sfondo_shadow_scheda.png');">

<div id="intestLeft" style="left:50px; top:15px; width:auto;">
	<a href="shadow_scheda.php" class="interfaceLink"> ( + Torna alla Scheda Master Globale + )</a>
</div>

<div id="mainContainer" style="height:335px; width:610px; overflow:auto; margin:7px; padding:4px; padding-left:7px; font-size:13px;">

<div style="border:1px solid orange; margin-left:20px; margin-right:20px; padding:5px; margin-top:10px; text-align:center;">
Inserisci Evento Master Globale per il Vascello
<form method="POST" action="shadow_scheda.php?s=insmaster">
	<input type="text" name="eventTitle" placeholder="Titolo News" style="width:400px;" /><br />
	<textarea type="text" name="eventText" placeholder="Testo News" style="width:400px; height:70px;" /><br />
	<input type="submit" value="Inserisci" />
</form>
</div>

</div>
</div>
</body>
</html>