<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/cdb.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/interface.css?v=1.7" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="TEMPLATES/js/JQuery.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQueryHelper.js" />

	<title>STAR TREK FEDERATION - MODIFICA</title>	
	
</head>

<body>
<div id="federation_interfaceContainer">
	<div id="leftCol" style="width:123px;">
		<div id="leftC1" />
		<div id="leftC3" />
	</div>
	
	<div id="supCol">
		<div id="bartop1" />
		<div id="pD">
			<a href="cdb.php"><div id="principaleBTN" /></a>
			<a href="cdb.php?news=do"><div style="z-index:10" id="newsBTN" /></a>
			<a href="crew.php"><div id="assegnazioniBTN" /></a>
			<a href="cdb.php?dia=personal"><div id="diarioBTN" /></a>
			<a href="guida.php"><div id="guidaBTN" /></a>
		</div>
		
		
	</div>
	
	<div id="fillerBax">
		<div id="barbot1" />
	</div>

	
	<div id="cdbContainer" >
	<div metal:use-macro="TEMPLATES/metal.htm/cdbIntro" />

<div style="font-size:12px; text-transform:uppercase;"><a href="cdb.php" class="interfaceLink">CDB</a> <span style="color:red; font-size:11px;">></span> <a class="interfaceLink" tal:attributes="href string:cdb.php?cat=${catID}"><span tal:content="catName" /></a> <span style="color:red; font-size:11px;">></span> <span class="interfaceLink" tal:content="topicTitle" /></div>

<div style="text-align:center; border-top:1px solid #999; border-bottom:1px solid #999; margin-top:10px; padding:5px; margin-bottom:10px;">
	<p style="font-size:14px;" tal:condition="php:topicType=='I'" tal:attributes="class string:topicTitolo topicImportant ${topicColorExt};" tal:content="topicTitle" />
	<p style="font-size:14px; margin:0px;" tal:condition="php:topicType=='A'" tal:attributes="class string:topicTitolo topicAnnounce ${topicColorExt}" tal:content="topicTitle"/>
	<p style="font-size:14px; margin:0px;" tal:condition="php:topicType=='N'" tal:attributes="class string:topicTitolo ${topicColorExt}" tal:content="topicTitle"/>
</div>

<div id="container">


	<form action="cdb.php?topicEe" method="POST">
		<img src="TEMPLATES/img/interface/titolo.png" /><input name="cdbTitle" style="width:200px;" tal:attributes="value topicTitle" type="text"/>
		
		<select style="margin-left:10px;" name="cdbColor"> 
			<option value="">- COLORE -</option> 
			<option value="topic_ext_red">ROSSO</option> 
			<option value="topic_ext_yellow">GIALLO</option> 
			<option value="topic_ext_orange">ARANCIO</option> 
			<option value="topic_ext_green">VERDE</option> 
			<option value="topic_ext_teal">TEAL</option>  
			<option value="topic_ext_violet">VIOLET</option> 
			<option value="topic_ext_indigo">BLU</option>  
			<option value="topic_ext_white">BIANCO</option> 
		</select>
		
		<select style="margin-left:10px;" name="cdbType"> 
			<option value="N" tal:attributes="selected php:(topicType == 'N') ? 'selected' : null">NORMALE</option> 
			<option value="A" tal:attributes="selected php:(topicType == 'A') ? 'selected' : null">ANNUNCIO</option> 
			<option value="I" tal:attributes="selected php:(topicType == 'I') ? 'selected' : null">IMPORTANTE</option> 
		</select>
		
		<select style="margin-left:10px;" name="cdbSeclar">
			<option tal:repeat="con php:range(1,9)" tal:attributes="value con" tal:content="string: SECLAR ${con}" />
		</select>
		<input style="margin-left:10px;" type="submit" value="ESEGUI" />
		<input type="hidden" name="cdbID" tal:attributes="value topicID" />
	</form>


</div>
</div>
</div>
</body>
</html>
