<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>	
	<link rel="shortcut icon" href="favicon.ico" />
	<link href="TEMPLATES/css/styles.css?v=1.2" rel="stylesheet" type="text/css" />
	<link href="TEMPLATES/css/whisper.css?v=1.5" rel="stylesheet" type="text/css" />
	 
	<script type="text/javascript" src="TEMPLATES/js/JQ110.js" />
	<script type="text/javascript" src="TEMPLATES/js/JQ110h.js" />

	<title>FEDERATION - SUSSURRI</title>	
</head>

<script type="text/javascript">
		var are;
		jQuery(function()
		{
			are = setInterval("updater();",5000);
			jQuery("#chatDiv").scrollTop(jQuery("#chatDiv")[0].scrollHeight);
		});
		
		window.onfocus = function() {jQuery('#focused').prop('value','1'); jQuery.post('whisper.php?justFocus=do');}		
		window.onblur = function() {jQuery('#focused').prop('value','0');}		
		
		function updater()
		{ // JQUERY YOUR SISTER! 
			jQuery.ajax(
			{
			url: 'ajax_whisperGetter.php?ts='+new Date().getMilliseconds(),
			data:{vinculum:0,lastID: jQuery('#lastID').prop('value'), focused: jQuery('#focused').prop('value')},
			success: setterCA, 
			type: 'POST',
			dataType : 'json',
			timeout:4500
			}); 
		}
		
		function setterCA(data)
		{
			if(data['CH'] != '') 
			{
			if(jQuery('#lastID').prop('value') != data['LCH'])
			{
			jQuery('#chatDiv').append(data['CH']);
			jQuery('#lastID').prop('value',data['LCH']);
			jQuery("#chatDiv").scrollTop(jQuery("#chatDiv")[0].scrollHeight);
			}
			}
		}
		
		function sendChat()
		{
		if(jQuery('#chatInput').prop('value')!='')
			jQuery.ajax(
			{
			url: 'ajax_sendWhisper.php',
			data: {chatLine: jQuery('#chatInput').prop('value'), chatTo: jQuery('#chatTo').prop('value')},
			success: updater,
			async:false,
			type: 'POST'
			});
		
		jQuery("#chatInput").prop('value','');
		jQuery("#chatInput").focus();
		}
		
			function sX(e)
		{
			var pitapa = (window.event) ? e.keyCode : e.which;
			if(pitapa == 13) sendChat(jQuery('#locID').prop('value'),jQuery('#chatInput').prop('value'),jQuery('#chatTag').prop('value'));
		}
</script>

<body>

<div id="onlineList">
<p style="margin:0px;" class="titleFS">Utenti</p>
<p style="margin:0px; margin-top:3px; font-size:12px; margin-left:10px; font-weight:bold;">Clicca per selezionare l'utente</p>
<select tal:attributes="size coPeople" style="margin-left:10px; margin-right:10px; margin-top:10px; width:170px; height:480px; overflow-y:hidden;" id="chatTo">
<option value="0" selected="selected">TUTTI</option>
<option value="0" disabled="disabled">-- Staff / Guide --</option>
<option tal:repeat="person people/S" tal:attributes="value repeat/person/key ; title person/role" tal:content="structure person/label" />
<option value="0" disabled="disabled">----------</option>
<option tal:repeat="person people/N" tal:attributes="value repeat/person/key" tal:content="structure person/label" />
</select>
<p style="text-align:center; margin:10px; margin-top:5px; border:1px solid #3188F3; padding:5px;"><a href="whisper.php?recruitment=R" class="interfaceLink">ACCOGLIENZA</a></p>
</div>

<div id="leftContainer">
	<input type="hidden" id="focused" value="1" />
	<div id="chatDiv" style="padding:10px;" tal:content="structure htmlLiner" />

	<div id="chatBar">
			
				<a href='javascript:void(0);' onclick="javascript:window.location.reload()"><img class="imaLer" src="TEMPLATES/img/interface/mainInterface/icon_ref.png" style="vertical-align:middle;"/></a>
				<a href='javascript:void(0);' onclick="javascript:jQuery('#whisperInfo').fadeIn(150);"><img class="imaLer" src="TEMPLATES/img/interface/mainInterface/icon_desc.png" style="vertical-align:middle;"/></a>
				<input id="chatInput" style="width:76%; vertical-align:middle; height:20px;"  onkeyup="javascript:sX(event);"/>
				<input type="hidden" id="lastID" tal:attributes="value maxVIS" />
				<button type="submit" style="border-radius:10px;vertical-align:middle; width:60px; margin-left:7px;" onclick="javascript:sendChat();">INVIA</button>
				
		
	</div>
</div>

<div class="popup" id="whisperInfo">
		<p class="title" style="text-align:center; margin:0px; margin-top:5px;"> Sussurri </p>
		<p> I sussurri sono una chat OFF destinata alla cordinazione fra utenti. Puoi inviare messaggi pubblici (scrivendo direttamente nel campo testo qui sotto) oppure messaggi privati (selezionando l'utente dall'elenco a destra). Puoi inoltre usare le seguenti emoticon inserendo il testo corrispondente direttamente nella barra dei sussurri.</p>
		<center><table style="text-align:center;">
		<tr><td><img src="/TEMPLATES/img/interface/smileys/sm_lol.gif" alt="LOL" /></td><td> LOL </td> <td><img src="/TEMPLATES/img/interface/smileys/puke.gif" alt="LOL" /></td><td> (bleah) </td></tr>
		<tr><td><img src="/TEMPLATES/img/interface/smileys/bho.gif" alt="LOL" /></td><td> (bho) </td> <td><img src="/TEMPLATES/img/interface/smileys/uplook.gif" alt="LOL" /></td><td> (uplook) </td></tr>
		<tr><td><img src="/TEMPLATES/img/interface/smileys/cry.gif" alt="LOL" /></td><td> (cry) </td> <td><img src="/TEMPLATES/img/interface/smileys/2heart.gif" alt="LOL" /></td><td> (love) </td></tr>
		</table></center>
		<div class="closeBTN" onclick="jQuery('#whisperInfo').fadeOut(100);">X</div>
</div>

</body>
</html>